{% load i18n bb_ember static %}

{% tplhandlebars "fundraiser" %}
<div id="project-detail">
    <div id="project-detail-header" {{bindAttr class=":fundraiser-detail"}}>
        <div class="project-background">
            <div class="project-background-image" {{bindAttr style=backgroundStyle}}></div>
        </div>
        <section class="project-header l-wrapper">
            <article class="project-info">
                <div class="project-meta">
                    {{!-- <span class="project-location">{{country.name}}</span>
                    <span class="project-category">{{theme.name}}</span> --}}
                    {{#link-to 'project' project class="project-breadcrumb"}}
                        <span class="project-linked">{% trans "Fundraiser for" %} </span><span class="project-campaign">{{project.title}}</span>
                    {{/link-to}}
                </div>
                <h1 class="project-title">{{title}}</h1>
                <p class="project-description">
                    {{description}}
                </p>
                <a class="project-more read-more">{% trans "Read full project plan" %}</a>
            </article>
            <aside class="project-media">

                <div class="project-share">
                    {{view App.SocialShareView}}
                </div>
                {{#if video_html}}
                    <figure class="project-image">
                        <span {{bindAttr class="partner.id:"}}></span>
                        {{{ video_html }}}
                    </figure>
                {{else}}
                    <figure class="project-image">
                        <span {{bindAttr class="partner.id:"}}></span>
                        <img {{bindAttr src="image.large"}} width="100%" alt="Photo" />
                    </figure>
                {{/if}}
            </aside>
        </section>
        {{partial '_fundraiser_actions'}}
    </div>

    <div id="wall">
        <div class="l-wrapper">

            <section id="wallposts">
                {{partial 'wallposts'}}
            </section>
            
            <section id="sidebar">
                <div id="supporter-list">

                    <div class="activity">
                        <header class="activity-header">
                            <h2 class="activity-title">{% trans "Supporters" %}</h2>
                        </header>

                        {{project-donations class="project-supporters" donations=fundraiserDonations limit=10 showProfile="showProfile"}}
                        
                        {{#unless overDeadline}}
                        <footer class="activity-footer">
                            <a {{action 'addDonation' this.project this.model}} data-action-type="donate" class="activity-action">
                                <strong>{% trans "Support this fundraiser" %} &raquo;</strong><br />
                                {% trans "And get your name on the wall!" %}
                            </a>
                        </footer>
                        {{/unless}}

                    </div>
                </div>
            </section>
            
        </div>
    </div>
</div>

{% endtplhandlebars %}
