{% load bb_ember i18n static %}


{% tplhandlebars "_order_payment_method" %}
    <div {{bindAttr class=":modal-fullscreen-content"}}>
        <span {{action 'closeModal'}} class="modal-fullscreen-close"></span>

        <p><h1>{% blocktrans %}Select Payment Method{% endblocktrans %}</h1></p>
        Total amount: &euro; {{totalAmount}}<br/>

        <div class="payment-method-list">
            <ul>
                {{#each method in methods}}
                    <li>{{method.provider}} - {{method.name}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="payment-method-details">
            {{render 'paymentMetaData'}}
        </div>

        <button {{action 'nextStep'}}>Next</button>
        {{ partial "_order_payment_errors" }}
    </div>

{% endtplhandlebars %}