{% load bb_ember i18n static %}


{% tplhandlebars "order_payment" %}
    <div class="modal-fullscreen-content" id="payment">
        <span {{action 'previousStep'}} class="modal-fullscreen-back"></span>
        <span {{action 'closeModal'}} class="modal-fullscreen-close"></span>
        <h4>{% blocktrans %}Select your method of payment{% endblocktrans %}</h4>
        {{#each donation in order.donations}}
            <big>{% trans "You're about to support"%} {{order.donations.firstObject.project.title}} {% trans 'with'%} &euro;&nbsp;{{donation.amount}}. {% trans 'Good job!'%}</big>
        {{/each}}
        
        <div class="row">
            <div class="col4">
                <ul class="payment-tabs">
                    {{#each method in methods}}
                        {{view 'App.PaymentMethodView' contentBinding='method'}}
                    {{/each}}
                </ul>
            </div>
            <div class="col8">
                <div class="payment-tab-content">
                {{outlet 'paymentMethod'}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col12">
                <div class="modal-future-donation">
                    <label for="futureDonation" class="modal-checkbox">
                        <input type="checkbox" id="futureDonation">
                        <span></span>
                        {% trans "Remember this for faster future payments."%}
                    </label>
                    <div class="tooltip-holder">
                        <span class="questionmark">?</span>
                        <span class="modal-btn-signup" href="#">
                            <div class="tooltip input">
                                {% blocktrans %}
                                    <h6>
                                        What's this?
                                    </h6>
                                    We'll remember your payment details
                                    on our secure server so next time you can support
                                    with just 1-click!
                                {% endblocktrans%}
                            </div>
                        </span>
                    </div>
                </div>
                <div class="modal-facebook-password">
                    <input type="text" placeholder="Choose a password">
                </div>
				<a {{action 'nextStep'}} {{bindAttr class=":btn :payment-btn isBusy:is-loading blockingErrors:is-inactive"}}>
                    {% trans 'Proceed with'%} {{currentPaymentMethod.name}}
                </a>
            </div>
        </div>
        {{partial "_order_payment_errors"}}
    </div>
    <div class="modal-fullscreen-footer">
        <div class="modal-payment-provider">
            <span>Payment processing is securely handled by <a {{bindAttr href=currentPaymentMethodURL }} target="_blank">{{currentPaymentMethod.providerName}}</a>.</span>
        </div>
    </div>
{% endtplhandlebars %}
