{% load bb_ember i18n static %}

{% tplhandlebars "payment_method_modal" %}

<p><h1>Select Payment Method</h1></p>


    Selected country: {{selectedCountry}}<br/>
    Total amount: &euro; {{total}}<br/>

    <ul>
        {{#each method in methods}}
            <li>{{method.provider}} - {{method.name}}</li>
        {{/each}}
    </ul>

    <button {{action 'nextStep'}}>Next</button>

{% endtplhandlebars %}