{% load bb_ember i18n static %}

{% tplhandlebars "payment" %}
    <div class="modal-fullscreen-content" id="payment">
        <span {{action 'previousStep'}} class="modal-fullscreen-back"></span>
        <span {{action 'closeModal'}} class="modal-fullscreen-close"></span>
        <h4>{% blocktrans %}Select your method of payment{% endblocktrans %}</h4>
        <big>{% blocktrans %}You're about to support &euro; {{total}},- to '…'. Good job!{% endblocktrans %}</big>
        
        <div class="row">
            <div class="col4">
                <ul class="payment-tabs">
                    {{#each method in methods}}
                        {{view 'App.PaymentMethodView' contentBinding='method'}}
                    {{/each}}
                </ul>
            </div>
            <div class="col8">
                {{outlet 'paymentMethod'}}
            </div>
        </div>
        <div class="row">
            <div class="col12">
                <a {{action 'nextStep'}} {{bindAttr class=":btn-sec :btn isBusy:is-loading blockingErrors:is-inactive"}}>Next</a>
            </div>
        </div>
        {{partial "payment_errors"}}
    </div>
    <div class="modal-fullscreen-footer">
        <div class="modal-payment-provider">
            <span>Payment processing is handled by <a href="#">Docdata</a>.</span>
        </div>
    </div>
{% endtplhandlebars %}
