{% load i18n bb_ember %}


{% tplhandlebars "_matched_login_content" %}
    <div class="modal-fullscreen-profile">
            <span class="photo">
                <img {{bindAttr src="matchedUser.getAvatar"}}>
            </span>
        {{#if socialMatch}}
            <span class="already-registerd">
                <strong>{{email}}</strong> {%trans "has already been registered via Facebook. Is this you? Please sign in below." %}
            </span>
        {{else}}
            <span class="already-registerd">
                <strong>{{email}}</strong> {%trans "has already been registered with Bluebottle Project. Is this you? Please sign in below." %}
            </span>
        {{/if}}
    </div>

    <div class="modal-fullscreen-content got-header">
        {{#if socialMatch}}
            {{partial "social_login_errors"}}
            {{partial "social_logins"}}
        {{else}}
            {{partial "standard_login_form"}}
        {{/if}}
        {{partial "standard_login_errors"}}
    </div>
{% endtplhandlebars %}