{% load i18n bb_ember %}


{% tplhandlebars "_signup_content" %}
    <div class="modal-fullscreen-content">
        <span {{action 'close'}} class="modal-fullscreen-close"></span>
        <h4>{% trans 'Welcome!' %}</h4>
        {{partial "social_login_errors"}}
        {{partial "social_logins"}}
        {{partial "standard_signup_form"}}

        <small>{% blocktrans with "{{action showPage 'terms-and-conditions' true}}" as link %}By signing up, you accept our <a {{link}}>terms of service</a>{% endblocktrans %}</small>
        {{partial "signup_errors"}}
    </div>

    <div class="modal-fullscreen-footer">
        <span class="modal-btn-signup" href="#">
            {% trans 'Already have an account?' %} <a {{action 'modalFlip' 'login'}}>{% trans 'Sign in here' %}</a>
        </span>
    </div>

{% endtplhandlebars %}