{% load i18n bb_ember %}


{% tplhandlebars "_standard_signup_form" %}
    {{input valueBinding="first_name" placeholder=view.firstName
        classBinding="errorList.first_name.length:error"}}

    {{input valueBinding="last_name" placeholder=view.surname
        classBinding="errorList.last_name.length:error"}}
    
    {{input valueBinding="email" type="email" classBinding="errorList.email.length:error" placeholder=view.emailText}}

    {{input valueBinding="emailConfirmation" type="email" classBinding="errorList.email.length:error" placeholder=view.reenterEmail}}
    <div class="password">
        {{input valueBinding="password" type="password" classBinding="errorList.password.length:error" placeholder=view.passwordText}}
        <span {{bindAttr class=":password-strength passwordStrength"}}>{{passwordStrength}}</span>
    </div>

    <a {{action 'signup'}} {{bindAttr class=":btn isBusy:is-loading blockingErrors:is-inactive"}}>{% blocktrans %}Join Bluebottle Project{% endblocktrans %}</a>
{% endtplhandlebars %}
