{% load i18n bb_ember %}


{% tplhandlebars "_standard_login_content" %}
    <div {{bindAttr class=":modal-fullscreen-content"}}>
        <span {{action 'close'}} class="modal-fullscreen-close"></span>

        <h4>{{loginTitle}}</h4>
        
        {{partial "social_login_errors"}}
        {{partial "social_logins"}}
        {{partial "standard_login_form"}}
        {{partial "standard_login_errors"}}
    </div>
{% endtplhandlebars %}