{% load i18n bb_ember %}


{% tplhandlebars "_standard_login_form" %}
    {{input valueBinding='email' classBinding="errorList.email.length:error" type="text" name="username" maxlength="254" placeholder=App.translatables.placeholders.email}}
    <div class="password">
        {{input valueBinding="password" classBinding="errorList.password.length:error" name="password" type="password" placeholder=App.translatables.placeholders.password}}
        <div class="tooltip-holder">
            <span {{ action 'passwordRequest' }} class="questionmark">?</span>
            <span class="modal-btn-signup" href="#">
                <div class="tooltip input">{% trans "Lost your password?" %}</div>
            </span>
        </div>
    </div>
    <a {{ action 'login' }} {{bindAttr class=":btn isBusy:is-loading blockingErrors:is-inactive"}} name="login">{% trans "Sign in" %}</a>
{% endtplhandlebars %}
