{% load bb_ember i18n %}

{% bb_verbatim %}
<fieldset>
    <legend>
        <strong>{% trans "Personal Details" %}</strong>
        <p>{% trans "We'd like to match you to projects and events based on your location & a personal thank you in your mailbox." %}</p>
    </legend>
    <ul>

        {% bb_component 'bb-text-field' label=_('Address Line 1') valueBinding='address.line1' errors='errors.address.0.line1' %}

        {% bb_component 'bb-text-field' label=_('Address Line 2') valueBinding='address.line2' errors='errors.address.0.line2' %}

        {% bb_component 'bb-text-field' label=_('City') valueBinding='address.city' errors='errors.address.0.city' %}

        {% bb_component 'bb-text-field' label=_('State') valueBinding='address.state' errors='errors.address.0.state' %}

        {% bb_component 'bb-text-field' label=_('Postal Code') valueBinding='address.postal_code' errors='errors.address.0.postal_code' %}


        <li class="control-group">
            <label class="control-label">
                {% trans "Country" %}
            </label>

            <div class="controls">
                {{view App.CountryCodeSelectView selectionBinding="address.country" classBinding="errors.address.country.length:error"}}
            </div>

            {{#if error.address.country}}
                <div class="has-errors">{{#each errors.address.country}}<p>{{this}}</p>{{/each}}</div>
            {{/if}}
        </li>

        <li class="control-group">
            <label class="control-label">
                {% trans "Gender" %}
            </label>

            <div class="controls">
                {{#view Em.RadioButtonGroup name="gender" selectedValueBinding="gender" class="radio-group three"}}
                    <label class="radio" for="genderFemale">{{view view.RadioButton value="female" elementId="genderFemale"}} <span>{% trans "Female" %}</span></label>
                    <label class="radio" for="genderMale">{{view view.RadioButton value="male" elementId="genderMale"}} <span>{% trans "Male" %}</span></label>
                    <label class="radio is-hidden" for="genderUnset">{{view view.RadioButton value="" elementId="genderUnset"}} <span>{% trans "Unset" %}</span></label>
                {{/view}}
            </div>
        </li>

        {% bb_component 'bb-datepicker' valueBinding='birthdate' label=_('Birthdate') name='birthdate' errors='errors.birthdate' %}

    </ul>
</fieldset>
{% endbb_verbatim %}