{% load bb_ember i18n %}

{% block login_wrapper %}
    
    {% tplhandlebars "login" %}

            <form id="login-form">

                <div class="modal-header">
                    <h3>{{loginTitle}}</h3>
                </div>

                <div class="modal-body">
                    {{#if post_password_reset }}
                        {% block password_reset_success %}
                            <p class="succes">{%  trans "Override block password_reset_success to display your own password reset success message." %}</p>
                        {% endblock password_reset_success %}
                    {{/if}}
                    
                    <div class="control-group">
                        <label class="control-label" for="id_email">{% trans "Email" %}:</label>

                        <div class="controls">
                            {# The key for the login needs to be 'username' for logins to work. #}
                            {{input valueBinding='username' type="text" name="username" maxlength="254"}}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="id_password">{% trans "Password" %}:</label>

                        <div class="controls">
                            {{input valueBinding='password' type="password" name="password"}}
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a {{ action 'requestPasswordReset' }} class="login-forgot">{% trans "Forgot your password?" %}</a>
                    <input {{ action 'login' }} class="btn btn-submit" type="submit" value="{% trans 'Login' %}">
                    <input type="hidden" name="next" {{bindAttr value="view.next"}}>
                </div>
            </form>


    {% endtplhandlebars %}

{% endblock login_wrapper %}