{% load bb_ember i18n %}

{% tplhandlebars "password_request" %}

    <div class="modal-fullscreen-content">
        <span {{action 'modalSlideBack' 'login'}} class="modal-fullscreen-back"></span>
        <span {{action 'close'}} class="modal-fullscreen-close"></span>

        <h4>{{requestResetPasswordTitle}}</h4>
        <br />

        {{input valueBinding="email" type="text" name="email" maxlength="254" placeholder="E-mailaddress" }}

        <a {{action 'requestReset'}} class="btn">{% trans "Continue" %}</a>

        {{#if error.email}}
            <div class="modal-flash-message error">
                {{error.email}}
            </div>
        {{/if}}

    </div>
    <div class="modal-fullscreen-footer">
        <span class="modal-btn-signup" href="#">
            {% trans "Don’t have an account?" %}
            <a {{ action 'modalFlip' 'signup' }} {{bindAttr class='loading:disable :flip-back'}}>
                {% trans "Sign up here" %}
            </a>
        </span>
    </div>

{% endtplhandlebars %}


