{% load bb_ember i18n %}

{% tplhandlebars "password_request" %}

    <div class="modal-fullscreen-content">

        <span {{action 'close'}} class="modal-fullscreen-close">
            <object type="image/svg+xml" data="/static/assets/images/icons/icon-close-modal.svg"
                    class="modal-close-image"></object>
        </span>

        <h4>{{requestResetPasswordTitle}}</h4>
        <br />

        {{input valueBinding="controllers.login.username" type="text" name="username" maxlength="254" placeholder="E-mailaddress" }}

        <a {{action 'requestReset' model}} class="btn is-active">{% trans "Continue" %}</a>

        {{#if error.email}}
            <div class="modal-flash-message error">
                {{error.email}}
            </div>
        {{/if}}

    </div>
    <div class="modal-fullscreen-footer">
        <span class="modal-btn-signup" href="#">
            {% trans "Don’t have an account?" %}
            <a {{ action 'modalFlip' 'login' }}>
                {% trans "Sign up here" %}
            </a>
        </span>
    </div>

{% endtplhandlebars %}


