{% load bb_ember i18n %}

{% tplhandlebars "password_reset" %}

    <div class="modal-fullscreen-content">

        <span {{action 'close'}} class="modal-fullscreen-close">
            <object type="image/svg+xml" data="/static/assets/images/icons/icon-close-modal.svg"
                    class="modal-close-image"></object>
        </span>
        <h4>{{resetPasswordTitle}}</h4>
        <br />


        <div class="password">
            {{view Em.TextField type="password" valueBinding="new_password1" classBinding="validationErrors.new_password1.length:error" placeholder="Choose New Password"}}
        </div>
        <div class="password">
            {{view Em.TextField type="password" valueBinding="new_password2" classBinding="validationErrors.new_password2.length:error" placeholder="Confirm New Password"}}
        </div>
        <a {{action 'resetPassword' model}} class="btn">{% trans "Confirm" %}</a>

        {{#if validationErrors}}
            <hr>
            {{#if validationErrors.new_password1}}
                <div class="modal-flash-message error">
                    {{validationErrors.new_password1}}
                </div>
            {{/if}}
            {{#if validationErrors.new_password2}}
                <div class="modal-flash-message error">
                    {{validationErrors.new_password2}}
                </div>
            {{/if}}
        {{/if}}

        {{#if error}}
            <div class="modal-flash-message error">
                {{error}}
            </div>
        {{/if}}

    </div>
    <div class="modal-fullscreen-footer">
        <span class="modal-btn-signup" href="#">
            {% trans "Don’t have an account?" %}
            <a {{ action 'modalFlip' 'signup' }} class="flip-back">
                {% trans "Sign up here" %}
            </a>
        </span>
    </div>

{% endtplhandlebars %}


