{% load bb_ember i18n %}

{% tplhandlebars "password_reset" %}

    <div class="modal-fullscreen-content">

        <span {{action 'close'}} class="modal-fullscreen-close"></span>
        <h4>{{resetPasswordTitle}}</h4>

        <p>{% blocktrans %}Setup your new password. Minimum 6 characters.{% endblocktrans %}</p>

        <div class="password">
            {{input type="password" valueBinding="new_password1" classBinding="errorList.new_password1.length:error" placeholder=App.translatables.placeholders.newPassword}}
            <span {{bindAttr class=":password-strength passwordStrength.value:"}}>{{passwordStrength.label}}</span>
        </div>
        <div class="password">
            {{input type="password" valueBinding="new_password2" classBinding="errorList.new_password2.length:error" placeholder=App.translatables.placeholders.confirmNewPassword}}
        </div>
        <a {{action 'resetPassword'}} {{bindAttr class="isBusy:is-loading blockingErrors:is-inactive :btn"}}>{% trans "Confirm" %}</a>


        {{#if errorsFixed}}
            <div class="modal-flash-message success">
                {{fixedFieldsMessage}}
            </div>
        {{else}}
            {{#if validationErrors}}
                <div class="modal-flash-message error">
                    {{validationErrors.error}}
                </div>
            {{/if}}
        {{/if}}

    </div>
    <div class="modal-fullscreen-footer">
        <span class="modal-btn-signup" href="#">
            {% trans "Don’t have an account?" %}
            <a {{ action 'modalFlip' 'signup' }} class="flip-back">
                {% trans "Sign up here" %}
            </a>
        </span>
    </div>

{% endtplhandlebars %}


