{% load templatetag_handlebars %}
{% load bb_ember i18n static %}

{% tplhandlebars "userProfile" %}

{{#if isLoaded}}
    <form>
        {% block_verbatim profile_form %}
            {% block_verbatim profile_header %}
            <legend>
                <strong>{% trans "Edit your profile" %}</strong>
            </legend>
            {% endblock_verbatim profile_header %}
            {{ view }}
            {% block_verbatim fieldset1 %}
                <fieldset>
                    <ul>
                        {{ bb-text-field name='first_name' label='First name' valueBinding='first_name' errors='errors.first_name.length:error' placeholder='First name' }}
                        {{ bb-text-field name='last_name' label='Last name' valueBinding='last_name' errors='errors.last_name.length:error' placeholder='Last name' }}
                        {{ bb-upload-image hint='Upload profile picture' fileBinding=image image_url=image.large label='Profile Picture' buttonLabel='Upload picture' errors=errors.image }}
                </ul>
                </fieldset>
            {% endblock_verbatim fieldset1 %} 

            {% block_verbatim fieldset2 %}
                <fieldset>
                    <ul>
                        {% block_verbatim profile_fields %}
                            
                            <li class="control-group">
                                <label class="control-label">
                                    {% trans "About me" %}
                                </label>

                                <div class="controls">
                                    {{view Em.TextArea valueBinding="about" maxlength="265" placeholder="{% trans 'An example placeholder' %}"
                                    classBinding="errors.about.length:error"}}
                                </div>

                                {{#if errors.about}}
                                    <div class="has-errors">{{#each errors.about}}<p>{{this}}</p>{{/each}}</div>
                                {{/if}}
                            </li>

                        {% endblock_verbatim profile_fields %}
                    </ul>
                </fieldset>
            {% endblock_verbatim fieldset2 %}

            {% block extra_fieldsets %}
            {% endblock extra_fieldsets %}

            {% block_verbatim profile_save %}
                
                {{#if saved}}
                    <div class="is-saved"><span class="flaticon solid checkmark-1">{% trans "Profile saved" %}</span></div>
                {{/if}}

                <button class="btn btn-iconed btn-primary btn-save" {{action 'save' model}}>
                    <span class="flaticon solid checkmark-1"></span>
                    {{saveButtonText}}
                </button>

            {% endblock_verbatim profile_save %}

        {% endblock_verbatim profile_form %}

    </form>

{{else}}
    <div class="is-loading-big">Loading&#8230;</div>
{{/if}}

{% endtplhandlebars %}
