{% load bb_ember i18n static %}

{% tplhandlebars "user_modal" %}
    <div {{bindAttr class=":modal-fullscreen-content"}}>
        <span {{action 'close'}} class="modal-fullscreen-close"></span>
        <div id="profile-preview">
            <div class="modal-header">
                <figure class="profile-avatar">
                    <img {{bindAttr src="getAvatar"}} />
                </figure>

                <header class="profile-header">
                    <h3 class="member-name">{{full_name}}</h3>
                
                    <p class="member-since">
                        {% trans "Member since" %}
                        {{user_since}}
                    </p>
                    
                    {# TODO: organisation #}
                </header>
            </div>

            <div class="modal-body">
                <ul class="account-achievements">
                    {# FIXME: translation marking is pretty pointless here, can't take advantage of blocktrans... #}
                    <li class="account-achievements-projects">
                        <strong>{{user_statistics.projects_supported}}</strong>
                        {% trans "projects" %}<br />
                        {% trans "supported" %}
                    </li>
                    <li class="account-achievements-tasks">
                        <strong>{{user_statistics.tasks_realized}}</strong>
                        {% trans "tasks" %}<br />
                        {% trans "realized" %}
                    </li>
                    <li class="account-achievements-time">
                        <strong>{{user_statistics.hours_spent}}</strong>
                        {% trans "hours spent" %}<br /> 
                        {% trans "on" %} <em>{{user.statistics.tasks}}</em> {% trans "tasks" %}
                    </li>
                </ul>
            </div>
            
            <div class="modal-footer profile-preview-actions">
                <a {{action 'close'}} class="close-link" rel="close">&times; Close</a>
                <a {{action "viewProfile"}} class="go-to-profile" rel="close">
                    View full profile&nbsp;&rsaquo;
                </a>
            </div>
            
            {{!--}}
            <div class="modal-body">
                {% block profile_model_content %}
                {% endblock profile_model_content %}
            </div>
            {{--}}
        </div>
    </div>
{% endtplhandlebars %}
