<div class="l-section account-header">
    <nav class="l-wrapper">

        <figure class="account-avatar"><img {{bindAttr src="controllers.currentUser.getAvatar"}}  /></figure>

        <header class="account-title">
            <h2>My 1%
            {{#if title}}
                <em class="account-subtitle">{{title}}</em>
			{{else}}
			    <em class="account-subtitle">Projects</em>
			{{/if}}
            </h2>
        </header>

        {{#if id}}
            {{#if title}}
                {{#unless isPhasePitch}}
                    <a>
                        <span class="flaticon solid eye-1"></span>
                        View project
                    </a>
                {{/unless}}
            {{/if}}

            <ul class="tabs steps five">
                <li>
                    <a>
                        <span class="tab-icon"><span class="flaticon solid lightbulb-3"></span></span>
                        <strong class="tab-title">
                            Pitch
                            <em class="tab-subtitle">{{pitch.status}}&nbsp;</em>
                        </strong>
                    </a>
                </li>
                <li>
                    <span>
                        <span class="tab-icon"><span class="flaticon solid notebook-1"></span></span>
                        <strong class="tab-title">
                            Plan
                            <em class="tab-subtitle">{{plan.status}}&nbsp;</em>
                        </strong>
                    </span>
                </li>
                <li>
                    <span>
                        <span class="tab-icon"><span class="flaticon solid wallet-1"></span></span>
                        <strong class="tab-title">
                            Campaign
                            <em class="tab-subtitle">{{campaign.status}}&nbsp;</em>
                        </strong>
                    </span>
                </li>
                <li>
                    <span>
                        <span class="tab-icon"><span class="flaticon solid wrench-1"></span></span>
                        <strong class="tab-title">Execute
                            <em class="tab-subtitle">{{act.status}}&nbsp;</em>
                        </strong>
                    </span>
                </li>
                <li>
                    <span>
                        <span class="tab-icon"><span class="flaticon solid flag-3"></span></span>
                        <strong class="tab-title">Results
                            <em class="tab-subtitle">{{results.status}}&nbsp;</em>
                        </strong>
                    </span>
                </li>
            </ul>
        {{/if}}
    </nav>
</div>