<div class="l-section detail" id="fundraiser-detail">
        <section class="l-wrapper">

            <div class="l-half">
                <figure class="project-image">
                    {{#if video_html}}
                        {{{video_html}}}
                    {{else}}
                        <img {{bindAttr src="image.large"}} width="100%" alt="Photo"  />
                    {{/if}}
                </figure>

                <div class="fundraiser-project">
                    <figure class="fundraiser-project-image"><img></figure>

                    <div class="fundraiser-project-detail">
                        <h4>Fundraising for</h4>
                        <p>{{#linkTo 'project' project.getProject}}{{project.title}}{{/linkTo}}</p>
                    </div>
                </div>
            </div>

            <div class="l-half">

                <article class="project-info">
                    {{view App.SocialShareView}}
                    {{#if isOwner}}
                        <ul class="owner-settings">
                            <li class="owner-settings-dropdown"><span class="flaticon solid settings-2"></span>
                                <ul class="owner-settings-dropdown-menu">
                                    <li>{{#linkTo 'fundRaiserEdit' id}}Edit Fundraiser{{/linkTo}}</li>
                                    <li>{{#linkTo 'fundRaiserDonationList' id}}View Donations{{/linkTo}}</li>
                                </ul>
                            </li>
                        </ul>
                    {{/if}}
                    <h1 class="project-title">{{title}}</h1>
                    <p class="project-description">{{description}}</p>
                </article>

                <article class="fundraiser-member">

                    <figure class="member-avatar">
                        <a href="#">
                            <img>
                            <strong class="member-name"><em>Fundraiser</em> {{owner.full_name}}</strong>
                        </a>
                    </figure>

                    <div class="project-action">
                        {{#if project.getProject.isPhaseCampaign}}
                            <a href="#">
                                <span class="flaticon solid wallet-1"></span>
                                Support {{owner.first_name}}
                            </a>
                        {{else}}
                            <strong>Project Funded</strong>
                        {{/if}}
                    </div>

                </article>

            </div>
        </section>
    </div>


   <div class="l-section detail" id="fundraiser-status">
       
       <section class="l-wrapper">
           
            <div class="project-status">
           
                {{#if deadline}}
                <div class="project-days-left">
                    <strong><span class="flaticon solid stopwatch-1"></span> {{daysToGo}} <em>days to go!</em></strong>
                </div>
                {{/if}}

                <div class="project-fund">
                    <p class="project-fund-amount">
                        <strong class="amount-donated">&euro;{{localize amount_donated}}</strong>
                        of
                        <strong class="amount-asked">&euro;{{localize amount}}</strong>
                        raised
                    </p>

                    {{#bb-progressbar class="project-fund-amount-slider" totalValue=amount currentValue=amount_donated}}
                    {{/bb-progressbar}}
                </div>
            
                <ul class="project-member-list">
                    {{#if fundRaiseSupporters.length}}
                    <li class="project-member-supporters">
                        <h4>Supporters <em>{{supporters.meta.total}} Total</em></h4>
                        <ul>
                            {{#each supporter in fundRaiseSupporters}}
                                {{view "App.ProjectSupporterView"}}
                            {{/each}}
                        </ul>
                    </li>
                    {{/if}}
                </ul>
            </div>
       </section>
   </div>
    

    {{outlet}}