<fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label" for="wallpost-title">
                    Name of your update.
                </label>

                <div class="controls">
                    {{view Ember.TextField valueBinding="title" placeholder="Keep it short and simple" id="wallpost-title" name="wallpost-title" classBinding="errors.title.length:error"}}
                </div>

                {{#if errors.title}}
                    <div class="errors">{{#each errors.title}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label" for="wallpost-update">
                    Your update.
                </label>

                <div class="controls">
                    {{view Ember.TextArea valueBinding="text" placeholder="Tell something about the progress, context or yourself!" cols="50" rows="4" name="wallpost-update" id="wallpost-update" classBinding="errors.text.length:error"}}
                </div>

                {{#if errors.text}}
                    <div class="errors">{{#each errors.text}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label" for="wallpost-video">
                    Add link to video
                </label>

                <div class="controls">
                    {{view Ember.TextField valueBinding="video_url" placeholder="Use YouTube or Vimeo" id="wallpost-video" name="wallpost-video" classBinding="errors.video_url.length:error"}}
                </div>

                {{#if errors.video_url}}
                    <div class="errors">{{#each errors.video_url}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label" for="wallpost-photo">
                    Upload photos<br>
                    <small>format 620 x 380 minimum for best result</small>
                </label>

                <div class="controls">
                    <ul class="form-wallpost-photos">
                        {{#each photo in files}}
                            <li class="form-wallpost-photo">
                                {{#if photo.errors}}
                                    <span class="message is-error">Error</span>
                                {{else}}
                                    {{#if photo.photo.small}}
                                        <img>
                                        <a><span class="flaticon solid x-2"></span> <strong>Delete</strong></a>
                                    {{else}}
                                        <div class="is-loading-small"><img src="images/loading.gif"> <strong>Loading photos&#8230;</strong></div>
                                    {{/if}}
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>

                    <a class="btn-link btn-upload">
                        {{view App.UploadMultipleFiles valueBinding="photo_files" multiple="multiple" id="wallpost-photo" name="wallpost-photo" accept="image/*"}}
                        <span class="flaticon solid upload-document-1"></span>
                        Upload photos
                    </a>
                </div>
            </li>
        </ul>
    </fieldset>

    <button class="btn btn-iconed"><span class="flaticon solid thinking-comment-1"></span>Post Update</button>