<div id="search">
        <section>
            <form id="search-form">
                <div class="control">
                    {{view Em.TextField valueBinding="text" placeholder="Search"}}
                    <span class="flaticon stroke zoom-2"></span>
                </div>
                <div class="control">
                    {{view App.ProjectCountrySelectView valueBinding="country"}}
                    <span class="flaticon solid earth-1"></span>
                </div>
                <div class="control">
                    {{view App.ThemeSelectView valueBinding="theme"}}
                    <span class="flaticon stroke tag-2"></span>
                </div>
            </form>
        </section>
    </div>

    <div>
        <section>
            <article id="search-navigation">
            	
            	<header>
                	<h4>Found <em>{{controllers.monthlyProjectList.model.meta.total}}</em></h4>
                    <a>
                        <span class="flaticon solid x-2"></span> Reset Search Filter
                    </a>
            	</header>
                
                <div class="search-sort">
                    Sort:
                    <a>Most popular</a>
                    
                    <a>Newest</a>
                    <a>Almost funded</a>
                    <a>Near deadline</a>
                </div>
                
                <div class="search-pagination">
                	<span class="search-showing">Showing {{rangeStart}}-{{rangeEnd}}</span>
                	<span class="search-pages-control">
		                {{#if hasPreviousPage}}
		                    <a>
		                        <span class="flaticon solid left-circle-2"></span>
		                    </a>
		                {{else}}
		                	<span class="previous-page"><span class="flaticon solid left-circle-2"></span></span>
		                {{/if}}
		                
		                {{#if hasNextPage}}
		                    <a>
		                        <span class="flaticon solid right-circle-2"></span>
		                    </a>
		                {{else}}
		                	<span class="next-page"><span class="flaticon solid right-circle-2"></span></span>
		                {{/if}}
                	</span>
                </div>
                
            </article>
        </section>
    </div>