<legend>
        <strong>Ambassadors</strong>
        <p>
            
An ambassador is somebody who can tell something about your smart idea or about you as a person or your organisation. Ambassadors will make your story more credible and will add that little something extra. You probably have lots of people in your network who can act as ambassador, but be sure it is not your mom and the person meets our criteria (see <a href="/#!/pages/faq-projects">FAQ</a>).<br><br>
Do you want to start a crowdfunding campaign? Make sure all ambassadors create a 1%Profile and post a short comment on your project page to promote your smart idea.<br><br>
You've to have at least 3 ambassadors. (more? great!)<br><br>
            
        </p>
    </legend>

    <fieldset>
        <ul>
            {{#each ambassador in ambassadors}}
                <li class="control-group has-popover" data-content="Email address of the amabassador">
                    <label class="control-label">Name</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="ambassador.name" classBinding="ambassador.errors.name.length:error"}}
                    </div>

                    {{#if ambassador.errors.name}}
                        <div class="has-errors">{{#each ambassador.errors.name}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}

                </li>

                <li class="control-group has-popover" data-content="Email address of the amabassador">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="ambassador.email" classBinding="ambassador.errors.email.length:error"}}
                    </div>

                    {{#if ambassador.errors.email}}
                        <div class="has-errors">{{#each ambassador.errors.email}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}

                </li>

                <li class="control-group has-popover" data-content="Can you tell something more about this ambassador.">
                    <label class="control-label">Description</label>
                    <div class="controls">
                        {{view Em.TextArea valueBinding="ambassador.description" classBinding="ambassador.errors.description.length:error"}}
                    </div>

                    {{#if ambassador.errors.description}}
                        <div class="has-errors">{{#each ambassador.errors.description}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}

                </li>

                <li class="control-group wide has-popover" data-content="Do you want to remove this ambassador?">
                    <label class="control-label wide">
                        <a><span class="flaticon solid minus-2"></span> Remove this ambassador</a>
                    </label>
                    <hr>
                </li>
            {{/each}}
            <li class="control-group wide has-popover" data-content="You should at least add three ambassadors.">
                <label class="control-label wide">
                    <a><span class="flaticon solid plus-2"></span> Add another ambassador</a>
                </label>
            </li>
        </ul>
    </fieldset>

    <button><span class="flaticon solid right-2"></span>Save & Next</button>