<legend>
        <strong>Crowndfunding Campaign</strong>
        <p>
            
Sometimes people are lucky and support for their project directly comes in from all corners of the world. However, for the other 99% it starts with their own network and their networks’ network. This basically means you have to tell your network about your project on 1%Club. Once, twice, maybe even three times. Per e-mail, on Facebook, on Twitter, face-to-face, by phone, by poster or in a video message. Whatever you need to do to get them on board! Our advice would be to have some people on board to help you do this.<br><br>
Do realize that you have to put in work to make it work. And remember, hard work tends to pays off. You have 6 months for this campaign so use it wisely. If you don’t succeed the money will go back to the people who gave it and they will choose another project.<br><br>
Need more tips and tricks? Read our <a href="/#!/pages/faq-projects">FAQ</a>.<br><br>
            

        </p>
    </legend>

    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="Describe in one sentence where the money is needed for.">
                <label class="control-label">Money needed for</label>
                <div class="controls">
                    {{view Em.TextField valueBinding="moneyNeeded" classBinding="errors.moneyNeeded.length:error"}}
                </div>

                {{#if errors.moneyNeeded}}
                    <div class="has-errors">{{#each errors.moneyNeeded}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="What is your crowdfunding strategy? What steps are you going to take? ">
                <label class="control-label">Campaign strategy</label>
                <div class="controls">
                    {{view Em.TextArea valueBinding="campaign" rows="6" classBinding="errors.campaign.length:error"}}
                </div>

                {{#if errors.campaign}}
                    <div class="has-errors">{{#each errors.campaign}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>

    {{#if isDirty}}
        <button><span class="flaticon solid right-2"></span>Save & Next</button>
    {{else}}
        <button><span class="flaticon solid right-2"></span>Next</button>
    {{/if}}