<div class="l-section" id="project-dashboard">

    	{{partial "my_project_top"}}

        <div class="l-wrapper">
            <div class="l-content">

                <header class="l-page-header">
                    <h1> Send in your Project Pitch</h1>
                    <p><strong>

Do you have a smart idea to make a contribution to your community? An idea to tackle a waste problem in your neighborhood? An idea for clean and green transport? An idea to use tech innovations to improve local healthcare? Well, you came to the right place. We LOVE smart ideas!

                    </strong></p>
                </header>

                <p>

1%Club offers you tools to engage your crowd to turn your smart idea in to reality.<br>
Are you ready to invest time and effort in succeeding? Double check our <a href="/#!/pages/faq-projects">FAQ</a> and pitch your smart idea here!

                </p>

                {{#if controllers.currentUser.isAuthenticated}}
                    {{#if errors.detail}}
                        <p class="alert alert-error">
                            Problem creating pitch.
                        </p>
                        It looks like you already have started a project in progress. You can manage your project here:
                        {{#linkTo "myProjectList" tagName="button" class="btn btn-primary btn-iconed"}}
                            <span class="flaticon solid pencil-3"></span>
                            Manage projects.
                        {{/linkTo}}

                    {{else}}
                        <form id="manage-project-new">
                            <fieldset>
                                <ul>
                                    <li class="control-group">
                                        <label class="control-label">Name your pitch</label>
                                        <div class="controls">
                                            {{view Em.TextField valueBinding="title" name="title" placeholder="Title for your smart idea" classBinding="errors.title.length:error"}}
                                        </div>
                                        {{#if errors.title}}
                                            <div class="has-errors">{{#each errors.title}}<p>{{this}}</p>{{/each}}</div>
                                        {{/if}}
                                    </li>
                                </ul>
                            </fieldset>

                            <button>
                                <span class="flaticon solid pencil-3"></span>write your pitch
                            </button>
                        </form>
                    {{/if}}
                {{else}}
                    <p class="login-signup"><a href="/accounts/login">Login</a> or become a {{#linkTo "signup"}}member{{/linkTo}} to pitch your plan.</p>
                {{/if}}
            </div>
            <sidebar class="l-sidebar">
                <h3>WHEN YOUR SMART IDEA...</h3>
                <ul>
                    <li>Might seem small, but will have a big social impact</li>
                    <li>Is concrete and thus has a clear start and end</li>
                    <li>Needs on off investment to make it self-sufficient and sustainable on the long term</li>
                    <li>Takes place in one of these developing countries</li>
                    <li>Is managed and owned locally</li>
                    <li>Needs people, special know-how and skills</li>
                    <li>Needs some cash to get started (up to €5000)</li>
                </ul>
                ...your idea fits right in with 1%Club!
            </sidebar>
        </div>
    </div>