<legend>
        <strong>Bank details</strong>
    </legend>

    {{#if organization.isLoaded}}
        <fieldset>
            <ul>
                <li class="control-group has-popover" data-content="Name of the bank that holds your acount.">
                    <label class="control-label">Account bank name</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_bank_name" classBinding="organization.errors.account_bank_name.length:error"}}
                    </div>

                    {{#if organization.errors.account_bank_name}}
                        <div class="has-errors">{{#each organization.errors.account_bank_name}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="Address of the bank.">
                    <label class="control-label">Bank address</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_bank_address" classBinding="organization.errors.account_bank_address.length:error"}}
                    </div>

                    {{#if organization.errors.account_bank_address}}
                        <div class="has-errors">{{#each organization.errors.account_bank_address}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="Country of the bank.">
                    <label class="control-label">Bank country</label>
                    <div class="controls">
                        {{view App.CountrySelectView valueBinding="organization.account_bank_country" classBinding="organization.errors.account_bank_country.length:error"}}
                    </div>

                    {{#if organization.errors.account_bank_country}}
                        <div class="has-errors">{{#each organization.errors.account_bank_country}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="Bank account number.">
                    <label class="control-label">Account number</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_number" classBinding="organization.errors.account_number.length:error"}}
                    </div>

                    {{#if organization.errors.account_number}}
                        <div class="has-errors">{{#each organization.errors.account_number}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="Name of the bank account holder.">
                    <label class="control-label">Account name</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_name" classBinding="organization.errors.account_name.length:error"}}
                    </div>

                    {{#if organization.errors.account_name}}
                        <div class="has-errors">{{#each organization.errors.account_name}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="Account holder city">
                    <label class="control-label">Account city</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_city" classBinding="organization.errors.account_city.length:error"}}
                    </div>

                    {{#if organization.errors.account_city}}
                        <div class="has-errors">{{#each organization.errors.account_city}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="You ony have to enter this if your country supports IBAN.">
                    <label class="control-label">Account IBAN</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_iban" classBinding="organization.errors.account_iban.length:error"}}
                    </div>

                    {{#if organization.errors.account_iban}}
                        <div class="has-errors">{{#each organization.errors.account_iban}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="BIC/SWIFT code for your bank">
                    <label class="control-label">Bank BIC/SWIFT code</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_bic" classBinding="organization.errors.account_bic.length:error"}}
                    </div>

                    {{#if organization.errors.account_bic}}
                        <div class="has-errors">{{#each organization.errors.account_bic}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="Do we need more information to make an eventual bank transfer?">
                    <label class="control-label">Extra info</label>
                    <div class="controls">
                        {{view Em.TextArea valueBinding="organization.account_other" classBinding="organization.errors.account_other.length:error"}}
                    </div>

                    {{#if organization.errors.account_other}}
                        <div class="has-errors">{{#each organization.errors.account_other}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>
            </ul>
        </fieldset>
        {{#if shouldSave}}
            <button><span class="flaticon solid right-2"></span>Save & Next</button>
        {{else}}
            <button><span class="flaticon solid right-2"></span>Next</button>
        {{/if}}

    {{else}}
        {{#if organization}}
            Loading data
        {{else}}
            You should create an organisation profile first.
        {{/if}}
    {{/if}}