<div class="l-content">

    {{#unless controllers.currentUser.isAuthenticated}}
        <a {{action openInBox "login"}} class="btn-login"><span class="flaticon solid lock-1"></span> <strong>Have an account?</strong><br> Log in here</a>
    {{/unless}}

	<form>
    	<legend>
        	{{#if controllers.currentUser.isAuthenticated}}
        		<strong>Great that you are doing another donation!</strong>
    			<p>Please verify your details.</p>
        	{{else}}
    			<strong>Nice to meet you</strong>
    			<p>To process your donation we need some information.</p>
        	{{/if}}
    	</legend>

	    <fieldset>

	        {{#if model.isLoaded}}
	            <ul>
	                <li class="control-group">
	                    <label class="control-label">Your full name</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="firstName" placeholder="First name" class="inline-prepend" classBinding="errors.first_name.length:error"}}
	                        {{view Em.TextField valueBinding="lastName" placeholder="Last name" class="inline-append" classBinding="errors.last_name.length:error"}}
	                    </div>
	                </li>

	                <li class="control-group">
	                    <label class="control-label">Email</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="email" placeholder="Email" classBinding="errors.email.length:error"}}
	                    </div>

	                    {{#if errors.email}}
	                        <div class="has-errors">{{#each errors.email}}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>

	                <li class="control-group">
	                    <label class="control-label">Address</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="address" placeholder="Address" classBinding="errors.address.length:error"}}
	                    </div>

	                    {{#if errors.address}}
	                        <div class="has-errors">{{#each errors.address}}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>

	                <li class="control-group">
	                    <label class="control-label">Postal code</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="postalCode" placeholder="Postal code" classBinding="errors.postal_code.length:error"}}
	                    </div>

	                    {{#if errors.postal_code}}
	                        <div class="has-errors">{{#each errors.postal_code}}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>

	                <li class="control-group">
	                    <label class="control-label">City</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="city" placeholder="City" classBinding="errors.city.length:error"}}
	                    </div>

	                    {{#if errors.city}}
	                        <div class="has-errors">{{#each errors.city}}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>

	                <li class="control-group">
	                    <label class="control-label">Country</label>
	                    <div class="controls">
	                        {{view App.CountryCodeSelectView valueBinding="country" placeholder="Country" classBinding="errors.country.length:error"}}
	                    </div>
	                    {{#if errors.country}}
	                        <div class="has-errors">{{#each errors.country}}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>
	            </ul>
	        {{/if}}
	    </fieldset>

	    {{#if isComplete}}
	        <button class="btn btn-primary btn-iconed btn-next"><span class="flaticon solid right-2"></span>Next Step</button>
	    {{else}}
	        <button disabled="disabled" class="btn btn-iconed btn-next"><span class="flaticon solid right-2"></span>Next Step</button>
	    {{/if}}

	</form>
</div>