{{!-- Project Wall Post List template --}}

    {{#if controllers.currentUser.isAuthenticated}}
        {{render "taskTextWallPostNew"}}
    {{else}}
        <h3>Write a comment</h3>
        <a>Login</a> or become a {{#linkTo "signup"}}member{{/linkTo}} to leave a comment.</p>
    {{/if}}

    {{#each item in controller itemController="wallPost"}}
        {{#if item.isLoaded}}
            {{#if item.isSystemWallPost}}
                {{view "App.SystemWallPostView"}}
            {{else}}
                {{view "App.MediaWallPostView"}}
            {{/if}}
        {{/if}}
    {{/each}}

    {{#if canLoadMore}}
        <a>
            <span class="flaticon solid plus-2"></span> Show more <small>{{remainingItemCount}} more</small>
        </a>
    {{/if}}