{{!-- Project Wall Post List template --}}

    <div id="l-section">
        <section class="l-wrapper">
            <div class="l-content" id="wallposts">

                {{#each item in controller itemController="wallPost"}}
                    {{#if item.isLoaded}}
                        {{#if item.isSystemWallPost}}
                            {{view "App.SystemWallPostView"}}
                        {{else}}

                            {{view "App.MediaWallPostView"}}
                        {{/if}}
                    {{/if}}
                {{/each}}

                {{#if canLoadMore}}
                    <a {{action "showMore"}} class="btn-link btn-more">
                        <span class="flaticon solid plus-2"></span> Show more <small>{{remainingItemCount}} more</small>
                    </a>
                {{/if}}

            </div>

            <sidebar class="l-sidebar">
                {{#if controllers.currentUser.isAuthenticated}}
                    {{#if isProjectOwner}}
                        <h3>Write an update</h3>
                        <p>Write an update of your project to inform your crowd.</p>
                        {{render "projectMediaWallPostNew"}}
                    {{else}}
                        <h3>Write a comment</h3>
                        <p>Write an comment to place on the project's wall.</p>
                        {{render "projectTextWallPostNew"}}
                    {{/if}}
                {{else}}
                    <h3>Write a comment</h3>
                    <a>Login</a> or become a {{#linkTo "signup"}}member{{/linkTo}} to leave a comment.</p>
                {{/if}}
            </sidebar>

        </section>
    </div>