<div class="l-section" id="project-plan">
        <section class="l-wrapper">
        
                <header>
                    <h1>Project Plan</h1>
                </header>
               
                {{#if description}}
                    <article>
                        <h2>Why, what and how?</h2>
                        <p>{{{description}}}</p>
                    </article>
                {{/if}}
                
                {{#if effects}}
                    <article>
                        <h2>Effects</h2>
                            <p>{{{effects}}}</p>
                    </article>
                {{/if}}
                
                {{#if future}}
                    <article>
                        <h2>Future</h2>
                        <p>{{{future}}}</p>
                    </article>
                {{/if}}
                    
                {{#if forWho}}
                    <article>
                        <h2>For who?</h2>
                        <p>{{{forWho}}}</p>
                    </article>
                {{/if}}
                
                {{#if reached}}
                    <article>
                        <h2>People reached</h2>
                        <p>{{{reached}}}</p>
                    </article>
                {{/if}}
    
                {{#if country.name}}
                    <article>
                        <h2>Location</h2>
                        <p>{{country.name}}, {{country.subregion}}</p>
                        <img>
                    </article>
                {{/if}}
                
                {{#if organization.name}}
                    <article>
                        <h2>Organisation</h2>
                        <h3>{{organization.name}}</h3>
                        <p>{{organization.description}}</p>

                        {{#if organization.website}}
                            <dl>
                                <dt><span class="flaticon solid link-1"></span> Website</dt>
                                <dd><a>{{organization.website}}</a></dd>
                            </dl>
                        {{/if}}
                        {{#if organization.twitter}}
                            <dl>
                                <dt><span class="flaticon social twitter-3"></span> Twitter</dt>
                                <dd><a>{{organization.twitter}}</a></dd>
                            </dl>
                        {{/if}}
                        {{#if organization.facebook}}
                            <dl>
                                <dt><span class="flaticon social facebook-3"></span> Facebook</dt>
                                <dd><a>{{organization.facebook}}</a></dd>
                            </dl>
                        {{/if}}
                        </ul>
                    </article>    
                {{/if}}

                {{#if budgetLines.length}}
                    <article>
                        <h2>Budget</h2>
                        {{#each line in budgetLines}}
                            <dl>
                                <dd>{{line.description}}</dd>
                                <dt align="right">&euro;{{line.amount}}</dt>
                            </dl>
                        {{/each}}
                    </article>
                {{/if}}
                
        </section>
    </div>