<article class="wallpost wallpost-system">

        <header class="wallpost-header">

            <span class="wallpost-system-type">
                <span class="flaticon solid wallet-1"></span> Donation
            </span>

            <div class="wallpost-member">
                {{#if author}}
                <a>
                    <strong class="member-name">{{author.full_name}}</strong>
                </a>
                {{else}}
                <span class="member">
                    <span class="member member-guest"><strong class="member-name">Someone</strong></span>
                </span>
                {{/if}}
                <span class="wallpost-system-action">
                    made a donation
                    {{#if fundraiser}}
                        via fundraiser:<br>{{#link-to 'fundRaiser' fundraiser.id class="wallpost-fundraiser-link"}}{{fundraiser.title}}{{/link-to}}
                    {{/if}}
                </span>
            </div>


            {{#if created}}
            <div class="wallpost-meta">
                <em class="timestamp">{{localize created formatting="X"}}</em>
                {{#if isAuthor}}
                    <a>Delete</a>
                {{/if}}
            </div>
            {{/if}}

        </header>

        <div class="wallpost-reactions">
            {{render "wallPostReactionList" reactions}}
        </div>

    </article>