<div class="l-section">
        <section class="l-wrapper" id="task-detail">

            {{# if isProjectOwner}}
                <div class="owner-actions">
                    <header>
                        <h3>You're the project owner</h3>
                        <p>You can edit your tasks</p>
                    </header>

                    

                    {{#linkTo 'projectTaskEdit' controller.model class="btn btn-primary btn-iconed task-delete"}}
                        <span class="flaticon solid pencil-3"></span> Edit Task
                    {{/linkTo}}

                </div>
             {{else}}

                {{#if isAuthor}}
                    <div class="owner-actions">
                        <header>
                            <h3>You're the project owner</h3>
                            <p>You can edit your tasks</p>
                        </header>

                        

                        {{#linkTo 'projectTaskEdit' controller.model class="btn btn-primary btn-iconed task-edit"}}
                            <span class="flaticon solid pencil-3"></span> Edit Task
                        {{/linkTo}}

                    </div>

                {{/if}}
            {{/if}}

            <div class="l-content">

                <div class="task-status">
                    {{#if isStatusOpen}}
                        <span class="flaticon solid clipboard-1"></span>
                        Open
                    {{/if}}
                    {{#if isStatusInProgress}}
                        <span class="flaticon solid upload-to-clipboard-1"></span>
                        In progress
                    {{/if}}
                    {{#if isStatusClosed}}
                        <span class="flaticon solid delete-from-clipboard-1"></span>
                        Closed
                    {{/if}}
                    {{#if isStatusRealized}}
                        <span class="flaticon solid clipboard-checkmark-1"></span>
                        Realised
                    {{/if}}
                </div>

                <article class="task-description">

                    <header class="task-header">
                        <h1 class="task-title">{{title}}</h1>
                    </header>

                    <a>
                        <strong class="member-name">{{author.full_name}}</strong>
                    </a>

                    <em class="task-timestamp">{{localize created formatting="X"}}</em>

                    {{view App.SocialShareView classNames="task-share"}}

                    {{#if description}}
                    <h2>Task Description</h2>
                    <p>{{linebreaks description}}</p>
                    {{/if}}

                    {{#if end_goal}}
                    <h2>End goal</h2>
                    <p>{{linebreaks end_goal}}</p>
                    {{/if}}
                </article>

                <div id="wallposts">
                    {{outlet}}
                </div>

            </div>


            <sidebar class="l-sidebar">

                <div class="task-section task-meta">
                    <h3>Task details</h3>
                    <dl>
                        <dt>
                            <span class="flaticon solid wrench-1"></span>
                            Skill
                        </dt>
                        <dd>{{skill.name}}</dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="flaticon solid location-pin-1"></span>
                            Location
                        </dt>
                        <dd>{{location}}</dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="flaticon solid watch-1"></span>
                            Time needed
                        </dt>
                        <dd>{{timeNeeded}}</dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="flaticon solid calendar-1"></span>
                            Deadline
                        </dt>
                        {{# if deadline}}
                            <dd>{{localize deadline formatting="X"}}</dd>
                        {{else}}
                            <dd>No deadline</dd>
                        {{/if}}
                    </dl>
                    <dl>
                        <dt>
                            <span class="flaticon solid tag-1"></span>
                            Tags
                        </dt>
                        <dd>
                            {{#each tag in tags}}
                                {{tag.id}}
                            {{/each}}
                        </dd>
                    </dl>
                </div>

                <div class="task-section">
                    <h3>Task members</h3>
                    {{#if members}}
                    <ul class="task-members">
                        {{#each members}}
                            <li class="task-member">

                                <a>
                                    <figure class="member-avatar"><img></figure>
                                    <strong class="member-name">{{this.member.full_name}}</strong><br>
                                    <em class="member-status">
                                        {{#if isStatusApplied}}
                                            Applied
                                        {{/if}}
                                        {{#if isStatusAccepted}}
                                            Started
                                        {{/if}}
                                        {{#if isStatusRejected}}
                                            Rejected
                                        {{/if}}
                                        {{#if isStatusRealized}}
                                            Realised
                                        {{/if}}
                                    </em>
                                    <em class="timestamp">{{localize this.created formatting="X"}}</em>
                                </a>

                                
                                {{# if controller.isProjectOwner}}
                                    <a>
                                        <span class="flaticon solid pencil-3"></span>
                                        Edit Status
                                    </a>
                                {{else}}

                                    {{#if controller.isAuthor}}
                                        <a>
                                            <span class="flaticon solid pencil-3"></span>
                                            Edit Status
                                        </a>
                                    {{/if}}
                                {{/if}}

                            </li>
                        {{/each}}
                    </ul>
                    {{else}}
                        <p>No member assigned to this task yet.</p>
                    {{/if}}

                    {{#if isMember}}
                    
                    {{else}}
                        {{#if controllers.currentUser.isAuthenticated}}
                            {{#if isStatusRealized}}
                            {{else}}
                                <a>
                                    <span class="flaticon solid add-to-clipboard-1"></span> Apply for task
                                </a>
                            {{/if}}
                        {{else}}
                            <p class="login-box"><a>Login</a> or become a {{#linkTo 'signup'}}member{{/linkTo}} to apply for this task.</p>
                        {{/if}}
                    {{/if}}

                </div>

                <div class="task-section">
                    <h3>Task files</h3>

                    {{#if files}}
                    <ul class="task-files">
                        {{#each files}}
                            <li class="task-file">
                                <a>
                                    <em class="flaticon solid download-document-1"></em>
                                    <strong class="file-name">{{this.title}}</strong>
                                    <small class="file-size">({{this.file.size}})</small>
                                    <em class="file-author">by {{this.author.full_name}}</em>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                    {{else}}
                        <p>No files have been uploaded yet.</p>
                    {{/if}}

                    
                    {{# if controller.isProjectOwner}}
                        <a>
                            <span class="flaticon solid upload-document-1"></span>
                            Upload a file
                        </a>
                    {{else}}

                        {{#if controller.isAuthor}}
                            <a>
                                <span class="flaticon solid upload-document-1"></span>
                                Upload a file
                            </a>
                        {{/if}}

                    {{/if}}
                </div>
            </sidebar>
        </section>
    </div>