<div class="l-section">
        <section class="l-wrapper">
    		<form class="l-content" id="task-form">
    		    <legend>
    		        <strong>Create new task</strong>
    		    </legend>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label" for="task-title">
	                            Title of your task
	                        </label>
	
	                        <div class="controls">
	                            {{view Ember.TextField valueBinding="title" id="task-title" name="task-title" classBinding="errors.title.length:error"}}
	                        </div>
	
	                        {{#if errors.title}}
	                            <div class="has-errors">{{#each errors.title}}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                    
	                    <li class="control-group">
	                        <label class="control-label" for="task-description">
	                            Description
	                        </label>
	
	                        <div class="controls">
	                            {{view Ember.TextArea valueBinding="description" cols="50" rows="4" name="task-description" id="task-description" classBinding="errors.description.length:error"}}
	                        </div>
	
	                        {{#if errors.description}}
	                            <div class="has-errors">{{#each errors.description}}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	
	                    <li class="control-group">
	                        <label class="control-label" for="task-end_goal">
	                            End goal
	                        </label>
	
	                        <div class="controls">
	                            {{view Ember.TextArea valueBinding="end_goal" cols="50" rows="2" name="task-end_goal" id="task-end_goal" classBinding="errors.end_goal.length:error"}}
	                        </div>
	
	                        {{#if errors.end_goal}}
	                            <div class="has-errors">{{#each errors.end_goal}}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label" for="task-deadline">
	                            Dead line
	                        </label>
	
	                        <div class="controls">
	                            {{view App.TaskDeadLineDatePicker valueBinding="deadline" id="task-deadline" name="task-dealine" classBinding="errors.deadline.length:error"}}
	                        </div>
	
	                        {{#if errors.dealine}}
	                            <div class="has-errors">{{#each errors.dealine}}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	
	                    <li class="control-group">
	                        <label class="control-label" for="task-location">
	                            Location
	                        </label>
	
	                        <div class="controls">
	                            {{view Ember.TextField valueBinding="location" id="task-location" name="task-location" classBinding="errors.location.length:error"}}
	                        </div>
	
	                        {{#if errors.location}}
	                            <div class="has-errors">{{#each errors.location}}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label" for="task-time-needed">
	                            Time needed (approximately)
	                        </label>
	
	                        <div class="controls">
	                            {{view App.TimeNeededSelectView valueBinding="time_needed" id="task-time-needed" name="task-time-needed" classBinding="errors.time_needed.length:error"}}
	                        </div>
	
	                        {{#if errors.time_needed}}
	                            <div class="has-errors">{{#each time_needed.location}}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	
	                    <li class="control-group">
	                        <label class="control-label" for="task-skill">
	                            Skill
	                        </label>
	
	                        <div class="controls">
	                            {{view App.SkillSelectView valueBinding="skill" id="task-skill" name="task-skill" classBinding="errors.skill.length:error"}}
	                        </div>
	
	                        {{#if errors.skill}}
	                            <div class="has-errors">{{#each errors.skill}}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label">Tags</label>
	                        <div class="controls">
	                            {{view App.TagWidget tagsBinding="tags" classBinding="errors.tags.length:error"}}
	                        </div>
	
	                        {{#if errors.tags}}
	                            <div class="has-errors">{{#each errors.tags}}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
				<button class="btn btn-primary btn-iconed btn-submit" type="submit"><span class="flaticon solid wrench-1"></span>Create Task</button>
        	</form>
        </section>
    </div>