<div class="container section">
        <div class="wrapper">
            <div class="content">
                <h1 class="main-title">Redeem your 1%GIFTCARD and support a project!</h1>
            </div>
            <sidebar>
                {{#linkTo "currentOrder.donationList" tagName="a" class="button-link"}}
                    <em class="icon-credit-card"></em> Switch to donations
                {{/linkTo}}
            </sidebar>
        </div>
    </div>

    <div class="container">

        <section class="wrapper">

            <ul class="voucher-steps">
                {{#view App.OrderNavView classNames="support selected"}}
                    {{#linkTo "voucherRedeem"}}Support{{/linkTo}}
                {{/view}}
                {{#view App.OrderNavView classNames="profile"}}
                    <a>Profile</a>
                {{/view}}
            </ul>

            {{#if voucher.isLoaded}}
                <form class="labeled">

                    <fieldset>
                        <ul>
                            <li class="control-group control-group-lonely">
                                <label class="control-label">Gift card {{voucher.code}} <i class="icon-ok"></i></label>
                            </li>
                        </ul>
                    </fieldset>

                    <fieldset>
                        <ul id="donation-projects">
                            {{#each voucher.donations}}
                                {{view App.VoucherDonationView content=this}}
                            {{else}}
                                <a>
                                    <div class="form-meta">
                                        <p class="form-label">Choose a project to support with this gift card</p>
                                        <p class="form-desc">You can make it work!</p>
                                    </div>
                                </a>
                            {{/each}}
                        </ul>
                    </fieldset>

                    <fieldset>
                        <ul>
                            <li class="form-summary">
                                Total
                                <span class="currency right">&euro;{{voucher.amount}}</span>
                            </li>
                        </ul>
                    </fieldset>


                    {{#each voucher.donations}}
                        <a>
                            <em class="icon-retweet"></em> Choose different project
                        </a>
                    {{/each}}

                    {{#if voucher.donations.length}}
                        <button>
                            <i class="icon icon-chevron-right"></i>
                            Submit
                        </button>
                    {{else}}
                        <button disabled="disabled" class="btn btn-iconed right">
                            <i class="icon icon-chevron-right"></i>
                            Submit
                        </button>
                    {{/if}}
                </form>

            {{else}}
                <form class="labeled">
                    <fieldset>
                        <ul>
                            <li class="control-group">
                                <label class="control-label">Gift card code</label>

                                <div class="controls">
                                    {{view Em.TextField valueBinding="code" placeholder="Your code" classBinding="error:error"}}
                                </div>

                                {{#if error}}
                                    <div class="errors"><p>Unfortunately we couldn't find a gift card with this code. Try entering the code again or send us a message and we will sort it out.</p></div>
                                {{/if}}
                            </li>
                        </ul>
                    </fieldset>

                    <button>
                        <i class="icon icon-chevron-right"></i>
                        Submit
                    </button>
                </form>
            {{/if}}

        </section>
    </div>