<li class="reaction">
	    <header class="reaction-header">
        
            <div class="reaction-member">

                <a {{action openInBigBox "memberProfile" author}} class="member">
                    <span class="member-avatar">
                        <img {{bindAttr src="author.getAvatar"}} alt="{{author.full_name}}"  />
                    </span>
                    <strong class="member-name">{{author.full_name}}</strong>
                </a>
            
            </div>

            <div class="reaction-meta">
                <em class="timestamp">{{localize created formatting="X"}}</em>
                {{#if isAuthor}}
                    <a>Delete</a>
                {{/if}}
            </div>
 
	    </header>
            
        <div class="reaction-content">
            <div class="text">{{{ text}}}</div>
        </div>
        
       
        
	</li>