{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "my_project_organisation" %}

    {{#unless isStatusPlanNew}}
        {{bb-flash data=flash}}
    {{/unless}}

    {{ partial "_organisation_legend" }}

    <fieldset>
        <ul>
            {{partial "my_project_organisation_fields"}}
        </ul>
    </fieldset>

    <legend>
        <strong>{% trans "Legal status" %}</strong>
        <p>{% trans "Upload a document that identifies your contact person or your partner organisation. The document can be an ID, passport, memorandum of association or an other official document." %}</p>
    </legend>

    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "please upload a copy of your passport. Make sure it's a valid one and we can read it clearly!" %}">
                <label class="control-label">
                    {% trans "Passport or ID" %} ({{attachedDocuments.length}})<br />
                    <small>
                        {% trans ".jpg, .png or .pdf" %}
                    </small>
                </label>

                <div class="controls manage-project-files">
                    <a class="btn btn-iconed btn-upload">
                        {{view App.UploadMultipleFilesInput multiple="multiple" accept="image/*" name="documents"}}
                        <span class="flaticon solid upload-document-1"></span>
                        {% trans "Upload scan(s)" %}
                    </a>
                    <br />
                    {{#each doc in attachedDocuments}}
                        <a {{action removeFile doc}}><span class="flaticon solid minus-2"></span></a>
                        <a {{bindAttr href=doc.file.url}}>
                            {{doc.file.name}} <small>{{doc.file.size}}</small><br/>
                        </a>
                    {{/each}}
                </div>
            </li>
        </ul>
    </fieldset>

    {{ partial '_my_project_save_edit_footer'}}

{% endtplhandlebars %}
