{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "_wallposts" %}

    {{#if currentUser.isAuthenticated }}
        {{#if canAddMediaWallpost}}
            {{bb-media-wallpost-new wallpostBinding='newMediaWallpost'  wallpostFilesBinding='wallpostFiles'
                    addFile='addWallpostFile' removeFile='removeWallpostFile' addWallpost='addWallpost'}}
        {{else}}
            {{bb-text-wallpost-new  wallpostBinding='newTextWallpost' addWallpost='addWallpost'}}
        {{/if}}
    {{else}}
        {{partial 'signin'}}
    {{/if}}

    {{#each wallpost in wallpostList}}
        {{#if wallpost.isLoaded}}
            {{#if wallpost.isSystemWallPost}}
                {{bb-system-wallpost wallpost=wallpost removeWallpost='removeWallpost'
                    addWallpostComment='addWallpostComment' removeWallpostComment='removeWallpostComment' showProfile='showProfile' currentUser=currentUser}}
            {{else}}
                {{bb-wallpost wallpost=wallpost removeWallpost='removeWallpost'
                    addWallpostComment='addWallpostComment' removeWallpostComment='removeWallpostComment' showProfile='showProfile' currentUser=currentUser}}
            {{/if}}
        {{/if}}
    {{/each}}

    {{#if wallpostRemaining}}
        <a {{action "showMoreWallposts"}} class="btn-link btn-more">
            <span class="flaticon solid plus-2"></span> {% trans "Show more" %} <small>{{wallpostRemaining}} {% trans "more" %}</small>
        </a>
    {{/if}}

{% endtplhandlebars %}
