{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "mediaWallPostNew" %}

    <div class="wallpost-action">
        <a {{action 'toggleForm' target='view'}}class="wallpost-post-update">
            <span class="flaticon solid comment-1"></span>
            {% trans "Post a new update on wall" %}
        </a>
        <div class="wallpost-form">
            <fieldset>
                <ul>
                    <li class="control-group">

                            {{view Ember.TextField valueBinding="title" placeholder="Title of your wallpost" id="wallpost-title" name="wallpost-title" classBinding="errors.title.length:error"}}

                        {{#if errors.title }}
                            <div class="has-errors">{{#each errors.title }}<p>{{this}}</p>{{/each}}</div>
                        {{/if}}
                    </li>


                    <li class="control-group">

                        {{view Ember.TextArea valueBinding="text" cols="50" rows="4" name="wallpost-update" id="wallpost-update" classBinding="errors.text.length:error" placeholder="Body of your wallpost"}}

                        {{#if errors.text }}
                            <div class="errors">{{#each errors.text }}<p>{{this}}</p>{{/each}}</div>
                        {{/if}}
                    </li>

                    <li>
                        <ul class="tabs two">
                            <li class="tab-item tab-first photos-tab active"><a {{action "showImages"}}>Add images</a></li>
                            <li class="tab-item video-tab"><a {{action "showVideo"}}>Link a video</a></li>
                        </ul>
                    </li>

                    <li class="control-group video-container">
                        {{view Ember.TextField valueBinding="video_url" placeholder="Youtube or Vimeo url" id="wallpost-video" name="wallpost-video" classBinding="errors.video_url.length:error"}}

                        {{#if errors.video_url}}
                            <div class="errors">{{#each errors.video_url}}<p>{{this}}</p>{{/each}}</div>
                        {{/if}}
                    </li>


                    <li class="control-group photos-container">

                        <ul class="form-wallpost-photos">
                            {{#each photo in files}}
                                <li class="form-wallpost-photo">
                                    {{#if photo.errors}}
                                        <span class="message is-error">{% trans "Error" %}</span>
                                    {{else}}

                                        {{#if photo.photo.small}}
                                            <img {{bindAttr src="photo.photo.small"}} />
                                            <a {{action "removePhoto" photo href=true}} class="manage-delete"><span class="flaticon solid x-2"></span></a>
                                        {{else}}
                                            <div class="is-loading-small"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Loading photos&#8230;" %}</strong></div>
                                        {{/if}}
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>

                        <a class="btn-link btn-upload btn-iconed">
                            <span class="flaticon stroke add-document-1"></span>

                            {{view App.UploadMultipleFiles valueBinding="photo_files" multiple="multiple" id="wallpost-photo" name="wallpost-photo" accept="image/*"}}
                            {% trans "Add file" %}
                        </a>
                    </li>
                </ul>
            </fieldset>

            <button class="btn btn-primary btn-save" {{action 'saveWallPost' target='controller'}}>{% trans "Post" %}</button>

            <button class="btn btn-cancel" {{action 'toggleForm' target='view'}}>{% trans "Cancel" %}</button>


        </div>
    </div>

{% endtplhandlebars %}
