{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "wallpost_reaction" %}

	<li class="reaction">
        <div class="reaction-avatar">

            <a {{action openInBigBox "memberProfile" author}} class="member">
                <span class="member-avatar">
                    <img {{ bindAttr src="author.getAvatar" }} {{ bindAttr alt="author.full_name" }}/>
                </span>
            </a>

        </div>
		<div class="reaction-body">
            <strong class="member-name">{{ author.full_name }}</strong>

	        <span class="timestamp">{{ localize created formatting="X" }}</span>
	        {{#if isAuthor}}
	            <a {{ action "deleteReaction" target="view" title="Delete"}} class="flaticon stroke trash-2 reaction-delete"></a>
	        {{/if}}

		    <div class="reaction-content">
		        <div class="text">{{{ text }}}</div>
		    </div>
		</div>	
	</li>

{% endtplhandlebars %}


{% tplhandlebars "wallpost_reaction_list" %}

    {{#if model.length}}
        <ul class="reactions">
            {{#each controller itemController="wallPostReaction"}}
                {{view "App.WallPostReactionView" content=this}}
            {{/each}}
        </ul>
    {{/if}}
	
	

    {{#if currentUser.isAuthenticated }}
        <form class="reaction-form">
            <fieldset>
                <ul>
                <li {{bindAttr class="errors.text.length:error"}}>
                    <span class="member-avatar">
                        <img {{bindAttr src="currentUser.getAvatar" title="currentUser.fullname"}} alt="You" />
                    </span>

                    {{#each errors.text}}
                        <span class="error">{{this}}</span>
                    {{/each}}
                    {{view "Em.TextArea" placeholderBinding=newReaction.placeholder valueBinding=newReaction.text name="reaction" class="newReaction"}}

                    <button class="btn reaction-post" type="submit">Post</button>
                </li>
                </ul>
            </fieldset>
        </form>
    {{else}}
        <div class="login-box"><a {{action openInBox "login"}}>{%  trans "Login" %}</a> or become a {{#link-to "signup"}}{% trans "member" %}{{/link-to}} {% trans "to leave a reaction" %}.</div>
    {{/if}}

{% endtplhandlebars %}
