{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "systemWallPost" %}
    <article class="wallpost wallpost-system">

        <header class="wallpost-header">

            <div class="wallpost-member">
                <a {{action openInBigBox "userModal" author}} class="member">
                    <figure class="member-avatar">
                        {{#if author}}
                        <img {{bindAttr src="author.getAvatar" alt="author.full_name"}} />
                        {{else}}
                        <img src="{% get_static_prefix %}/images/default-avatar.png" alt="someone" />
                        {{/if}}

                        {{#if isInitiator}}
                            <span class="member-function">Initiator</span>
                        {{/if}}
                    </figure>
                </a>
            </div>

            <div class="wallpost-meta">
                {{#if author}}
                <h4 class="wallpost-author">{{author.full_name}}</h4>
                {{else}}
                <h4 class="wallpost-author">{% trans "Someone" %}</h4>
                {{/if}}
                {{#if created}}
                    <span class="wallpost-timestamp">{{ localize created formatting="X" }}</span>
                {{/if}}
            </div>

            <h3 class="wallpost-title">
                {% trans "made a donation" %}
            </h3>
        </header>

        <div class="wallpost-reactions">
            {{render "wallPostReactionList" reactions}}
        </div>

    </article>
{% endtplhandlebars %}
