{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "textWallPostNew" %}

	<div class="wallpost-action">
	    <a {{action 'toggleForm' target='view'}}class="wallpost-post-update">
	        <span class="flaticon solid comment-1"></span>
	        {% trans "Post a new comment on wall" %}
	    </a>

        <div class="wallpost-form">
            <fieldset>
                <ul>
                    <li class="control-group">

                        {{view Ember.TextArea valueBinding="text" cols="50" rows="4" name="wallpost-update" id="wallpost-update" classBinding="errors.text.length:error" placeholder="Your comment"}}

                        {{#if errors.text }}
                            <div class="errors">{{#each errors.text }}<p>{{this}}</p>{{/each}}</div>
                        {{/if}}
                    </li>
                </ul>
            </fieldset>

            <button class="btn btn-primary btn-save" {{action 'saveWallPost' target='controller'}}>{% trans "Post" %}</button>

            <button class="btn btn-cancel" {{action 'toggleForm' target='view'}}>{% trans "Cancel" %}</button>


        </div>
    </div>

{% endtplhandlebars %}


