{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "wallPost" %}

	<article class="wallpost">

	    <header class="wallpost-header">

	        <div class="wallpost-member">
	            <a {{action openInBigBox "userModal" author}} class="member">
	                <figure class="member-avatar">
	                    <img {{bindAttr src="author.getAvatar" alt="author.full_name"}} />
                        {{#if isInitiator}}
						    <span class="member-function">Initiator</span>
                        {{/if}}
	                </figure>
	            </a>
	        </div>

	        <div class="wallpost-meta">
				<h3 class="wallpost-author">{{author.full_name}}</h3>
	            {{#if created}}
	                <span class="wallpost-timestamp">{{ localize created formatting="X" }}</span>
	            {{/if}}
	            {{#if isAuthor}}
	                <a {{ action "deleteWallPost" this target="view"}} class="flaticon stroke bin-2 wallpost-delete">&times;</a>
	            {{/if}}
	        </div>

			<h2 class="wallpost-title">
				{{title}}
			</h2>
	    </header>

	    <div class="wallpost-content">
	        {{#if video_html}}
	            <div class="video">{{{video_html}}}</div>
	        {{/if}}

	        <div class="text">{{{text}}}</div>

	        {{#if photos.length}}
	            <ul class="photo-viewer">
					<li class="photo cover">
						<a {{bindAttr href="coverPhoto.photo.full"}} title="picture">
							<img {{bindAttr src="coverPhoto.photo.full"}}>
						</a>
					</li>
					{{#each photo in otherPhotos}}
	                    <li class="photo">
							<a {{bindAttr href="photo.photo.full"}} title="picture">
								<img {{bindAttr src="photo.photo.small"}} />
							</a>
						</li>
	                {{/each}}
	            </ul>
	        {{/if}}
	    </div>

	    <div class="wallpost-reactions">
	        {{render "wallPostReactionList" reactions}}
	    </div>

	</article>

{% endtplhandlebars %}
