{% load bb_ember i18n static %}


{% tplhandlebars "_project_preview_header" %}
    <span class="project-header">
        <figure class="project-image">
            {{#if image.small.length}}
                <!--http://emberjs.com/api/classes/Ember.ArrayProxy.html#property_firstObject-->
                <img {{bindAttr src="image.small.firstObject"}} />
            {{else}}
                <div class="previewUpload">
                </div>
                <img {{bindAttr src="image.firstObject" }} />
            {{/if}}
        </figure>
        <span class="project-title">
            <h3>{{title}}</h3>
            <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{country.name}}</span>
        </span>
    </span>
{% endtplhandlebars %}
