{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "components/bb-form-field" %}
    <li class="control-group has-popover">
        <label class="control-label">
            {{label}}
            <br /><small>{{hint}}</small>
        </label>
        <div {{bindAttr class=":controls className"}}>
            {{yield}}
        </div>
        {{#if errors }}
            <div class="has-errors">{{#each errors }}<p>{{this}}</p>{{/each}}</div>
        {{/if}}
    </li>
{% endtplhandlebars %}
