{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "my_project_budget" %}

    <legend>
        <strong>{% trans "Budget needed" %}</strong>
        <p>
{% blocktrans %}
Time to let us know how the money that you will be raising will be spent! Be sure to give us a
detailed insight in your budget as it will only make your credibility go up. Just one little suggestion
before you start; be realistic in your crowdfunding goal. Better a smaller amount and make it then a
large amount and have nothing in the end. Also, there are certain things not allowed to ask money for.
Check them in our <a href="/#!/pages/faq-projects">FAQ</a>.
<br/>
Please add 5% administration fee to your budget. The total amount, including the fee, cannot exceed 5.000 Euro.
{% endblocktrans %}
        </p>
    </legend>

    <fieldset>
        <br />
        <ul>
            {{#each line in budgetLines}}
                <li class="control-group">
                    <label class="control-label">{% trans "Budget item description" context "Budget page" %}</label>
                    <div class="controls">
                       {% bb_component 'view Em.TextField' valueBinding="line.description" placeholder=_("Description")%}
                    </div>
                </li>
                <li class="control-group">
                    <label class="control-label">{% trans "Amount" context "Budget page" %}</label>
                    <div class="controls">
                       {% bb_component 'view Em.TextField' valueBinding="line.amount" placeholder=_("Amount euro") %}
                    </div>
                </li>
                <li class="control-group">
                    <div class="controls wide text-right">
                        <a {{action removeBudgetLine line href=true}} class="btn-link">
                            <span class="flaticon solid minus-2"> {% trans  "Remove" %}</span>
                        </a>
                    </div>
                </li>
            {{/each}}

            <li class="control-group">
                <div class="controls wide text-left">
                    <a {{action addBudgetLine line href=true}} class="btn-link">
                        <span class="flaticon solid plus-2"></span>
                        {% trans "Add budget item" %}
                    </a>
                </div>
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>
            <strong>{% trans "Total budget needed" %}:</strong>
            <p>&euro; {{totalBudget}}</p>
            {{#if totalBudget}}
                {{#unless validBudget}}
                    <div class="has-errors"><p>{% trans "Total budget shouldn't be over 5000 euro." %}</p></div>
                {{/unless}}
            {{else}}
                <div class="has-errors"><p>{% trans "Start adding items to your budget." %}</p></div>
            {{/if}}
        </legend>
    </fieldset>

    {{ partial '_my_project_save_edit_footer'}}

{% endtplhandlebars %}
