{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "my_project_location" %}

    <legend>
        <strong>{% trans "Location" %}</strong>
        <p>{% trans "Where is your project located?" %}</p>
    </legend>

    <fieldset>
        <ul>
            {{#bb-form-field hint='Select a country.' label='Country' errors=errors.country}}
                {{view App.CountrySelectView selectionBinding=country classBinding="errors.country.length:error"}}
            {{/bb-form-field}}

            {{bb-map-picker hint='Select the location on the map. You can use the search to find your location.'
                latitudeBinding=latitude longitudeBinding=longitude label='Location' errors=errors.location className='wide'}}
        </ul>
    </fieldset>

    {{#if isDirty}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>
    {{else}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action goToNextStep}}><span class="flaticon solid right-2"></span>{% trans "Next" %}</button>
    {{/if}}


{% endtplhandlebars %}