{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "project-map-popup" %}

    <div class="maps-infobox">
        <div class="project-description-container">
            <figure class="project-thumbnail">
                <img src="{{project.image}}" alt="{{project.title}}" />
            </figure>
            <p class="project-description">{{project.pitch}}</p>
            <p class="project-meta">
                <span class="location">
                    <span class="flaticon solid location-pin-1"></span>
                    {{project.country.name}}
                </span>
                <span class="tags">
                    <span class="flaticon solid tag-2"></span>
                    {{project.theme.name}}
                </span>
            </p>
        </div>
    </div>
{% endtplhandlebars %}