{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "tag_widget" %}

    <ul class="tags">
        {{#each tags}}
            <li class="tag"><span class="flaticon solid tag-2"></span> {{this.id}} <em {{action removeTag this target="view" }} class="flaticon solid x-1 delete"></em></li>
        {{/each}}
    </ul>

    {{view App.TagField valueBinding="view.new_tag" placeholder="Add a tag" class="tag"}} <button class="btn btn-modest" {{action addTag target=view}}>Add</button>

{% endtplhandlebars %}


{% tplhandlebars "social_share" %}

<ul id="share">
    <li class="share-facebook"><a {{action shareOnFacebook target="view"}}><span class="flaticon social facebook-4"></span> <strong>{% trans "Share" %}</strong></a></li>
    <li class="share-twitter"><a {{action shareOnTwitter target="view"}}><span class="flaticon social twitter-4"></span> <strong>{% trans "Tweet" %}</strong></a></li>
</ul>

{% endtplhandlebars %}



{% tplhandlebars "components/bb-formfield" %}
    <li class="control-group has-popover" {{bindAttr data-content=hint}}>
        <label class="control-label">{{label}}</label>
        <div class="controls">
            {{yield}}
        </div>
        {{#if errors }}
            <div class="has-errors">{{#each errors }}<p>{{this}}</p>{{/each}}</div>
        {{/if}}
    </li>
{% endtplhandlebars %}


{% tplhandlebars "components/bb-textarea" %}
    <li class="control-group has-popover" {{bindAttr data-content=hint}}>
        <label class="control-label">{{label}}</label>
        <div class="controls">
            {{view Em.TextArea valueBinding=valueBinding placeholderBinding=placeholder classBinding="errors.length:error"}}
        </div>

        {{#if errors }}
            <div class="has-errors">{{#each errors }}<p>{{this}}</p>{{/each}}</div>
        {{/if}}
    </li>
{% endtplhandlebars %}


{% tplhandlebars "components/bb-textfield" %}
    <li class="control-group has-popover" {{bindAttr data-content=hint}}>
        <label class="control-label">{{label}}</label>
        <div class="controls">
            {{view Em.TextField valueBinding=valueBinding placeholderBinding=placeholder classBinding="errors.length:error"}}
        </div>

        {{#if errors}}
            <div class="has-errors">{{#each errors }}<p>{{this}}</p>{{/each}}</div>
        {{/if}}
    </li>
{% endtplhandlebars %}

