{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "components/bb-flash" %}
    {{#if data.text}}
        <div {{action 'closeFlashMessage'}} {{bindAttr class=":flash-container data.activeNameClass"}}>
            <div {{bindAttr class=":flash data.type data.activeNameClass"}}>
                <span {{bindAttr class=":flash-icon data.type"}}></span>
                <span class="flash-heading">
                    {{data.text}}
                </span>
            </div>
        </div>
    {{/if}}
{% endtplhandlebars %}

