{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "components/bb-form-field" %}
    <li class="control-group has-popover" {{bindAttr data-content=hint}}>
        <label class="control-label">{{label}}</label>
        <div {{bindAttr class=":controls className"}}>
            {{yield}}
        </div>
        {{#if errors }}
            <div class="has-errors">{{#each errors }}<p>{{this}}</p>{{/each}}</div>
        {{/if}}
    </li>
{% endtplhandlebars %}


{% tplhandlebars "components/bb-text-area" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view Em.TextArea valueBinding=valueBinding nameBinding=name placeholderBinding=placeholder maxlengthBinding=maxlength
               rowsBinding=rows colsBinding=cols classBinding="errors.length:error"}}
    {{/bb-form-field}}
{% endtplhandlebars %}


{% tplhandlebars "components/bb-text-field" %}
    {{#bb-form-field hint=hint label=label errors=errors contentBinding=contentBinding}}
        {{view Em.TextField step=step nameBinding=name valueBinding=valueBinding placeholderBinding=placeholder
            maxlengthBinding=maxlength classBinding="errors.length:error" typeBinding=type}}
    {{/bb-form-field}}
{% endtplhandlebars %}


{% tplhandlebars "components/bb-radio" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view Em.TextField valueBinding=valueBinding nameBinding=name placeholderBinding=placeholder
               classBinding="errors.length:error"  typeBinding=type}}
    {{/bb-form-field}}
{% endtplhandlebars %}


{% tplhandlebars "components/bb-select" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view Em.Select contentBinding=options nameBinding=name optionValuePath="content.value" optionLabelPath="content.text"
               selectedValueBinding=valueBinding classBinding="errors.length:error"}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-select-name" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view Em.Select contentBinding=options optionValuePath="content.name" nameBinding=name
            optionLabelPath="content.name" selectionBinding=selectionBinding
            classBinding="errors.length:error" promptBinding=prompt}}
    {{/bb-form-field}}
{% endtplhandlebars %}


{% tplhandlebars "components/bb-map-picker" %}
    {{#bb-form-field hint=hint label=label errors=errors className='wide'}}
        {{view App.MapPicker longitudeBinding=longitudeBinding latitudeBinding=latitudeBinding  nameBinding=name
            classBinding="errors.length:error"}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-date-picker" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view App.DatePicker valueBinding=valueBinding minDate=minDate  nameBinding=name
            classBinding="errors.length:error"}}
    {{/bb-form-field}}
{% endtplhandlebars %}


{% tplhandlebars "components/bb-upload-image" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        <a class="btn btn-iconed btn-upload">
            {{view App.UploadFile nameBinding=name fileBinding=fileBinding accept=accept}}
            <span class="flaticon solid upload-document-1"></span>
            {{buttonLabel}}
        </a>
        <br />
        {{#if image_url}}
            <img {{bindAttr src=image_url}} />
        {{/if}}
    {{/bb-form-field}}
{% endtplhandlebars %}


{% tplhandlebars "components/bb-video-link" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view Em.TextField step=step valueBinding=valueBinding nameBinding=name
            placeholderBinding=placeholder classBinding="errors.length:error"}}
        <br />
        {{#if video_html}}
            {{{video_html}}}
        {{/if}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-datepicker" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view App.CustomDatePicker minDateBinding=minDate valueBinding=valueBinding
            nameBinding=name placeholderBinding=placeholder }}
    {{/bb-form-field}}

{% endtplhandlebars %}
