{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "components/bb-flash" %}
    {{#if data.text}}
        <div {{bindAttr class=":flash-container data.activeNameClass"}}>
            <div {{bindAttr class=":flash data.type data.activeNameClass"}}>
                <span {{bindAttr class=":flash-icon data.type"}}></span>
                <span class="flash-heading">
                    {{data.text}}
                </span>
            </div>
        </div>
    {{/if}}
{% endtplhandlebars %}


{% tplhandlebars "components/bb-form-field" %}
    <li class="control-group has-popover">
        <label class="control-label">
            {{label}}
            <br /><small>{{hint}}</small>
        </label>
        <div {{bindAttr class=":controls className"}}>
            {{yield}}
        </div>
        {{#if errors }}
            <div class="has-errors">{{#each errors }}<p>{{this}}</p>{{/each}}</div>
        {{/if}}
    </li>
{% endtplhandlebars %}


{% tplhandlebars "components/bb-text-area" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view Em.TextArea valueBinding="value" nameBinding=name placeholderBinding=placeholder maxlengthBinding=maxlength
               rowsBinding=rows colsBinding=cols classBinding="errors.length:error" classBinding=extraClasses}}
    {{/bb-form-field}}
{% endtplhandlebars %}


{% tplhandlebars "components/bb-text-field" %}
    {{#bb-form-field hint=hint label=label errors=errors contentBinding='content'}}
        {{view Em.TextField step=step nameBinding=name valueBinding='value' placeholderBinding=placeholder
            maxlengthBinding=maxlength classBinding='errors.length:error' typeBinding=type classBinding=extraClasses}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-text-field-disabled" %}
    {{#bb-form-field hint=hint label=label errors=errors contentBinding='content'}}
        {{view Em.TextField nameBinding=name valueBinding='value' disabled='disabled'}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-radio" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view Em.TextField valueBinding='value' nameBinding=name placeholderBinding=placeholder
               classBinding="errors.length:error" typeBinding=type classBinding=extraClasses}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-select-language" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view "App.LanguageSelectView" selectionBinding='selection' nameBinding=name valueBinding='value'}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-select-country" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view "App.CountrySelectView" selectionBinding='selection' nameBinding=name valueBinding='value'}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-select-generic" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view Em.Select contentBinding='options' nameBinding=name optionValuePathBinding='valueProperty' optionLabelPathBinding='labelProperty'
               promptBinding='prompt' selectionBinding='value' classBinding="errors.length:error"}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-select" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view Em.Select contentBinding='options' nameBinding=name optionValuePath="content.value" optionLabelPath="content.text"
               selectedValueBinding='value' classBinding="errors.length:error" classBinding=extraClasses}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-select-name" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view Em.Select contentBinding='options' optionValuePath="content.name" nameBinding=name
            optionLabelPath="content.name" selectionBinding='selection'
            classBinding="errors.length:error" promptBinding=prompt classBinding=extraClasses}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-map-picker" %}
    {{#bb-form-field hint=hint label=label errors=errors className=className}}
        {{view App.MapPicker modelBinding=model longitudeBinding='longitude' latitudeBinding='latitude' nameBinding=name
            classBinding="errors.length:error" classBinding=extraClasses}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-date-picker" %}
    {{#bb-form-field hint=hint label=label errors=errors}}

        {{view App.DatePicker valueBinding='value' minDateBinding=minDate maxDateBinding=maxDate nameBinding=name
            classBinding="errors.length:error" placeholderBinding=placeholder classBinding=extraClasses}}
    {{/bb-form-field}}
{% endtplhandlebars %}



{% tplhandlebars "components/bb-date-picker-slider" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        {{view App.DatePickerSlider valueBinding='value' minSliderBinding=minSlider maxSliderBinding=maxSlider minDateBinding=minDate nameBinding=name
            classBinding="errors.length:error" classBinding=extraClasses}}
    {{/bb-form-field}}
{% endtplhandlebars %}


{% tplhandlebars "components/bb-upload-image" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        <a class="btn btn-iconed btn-upload">
            {{view App.UploadFile nameBinding=name fileBinding='file' acceptBinding=accept classBinding=extraClasses}}
            <span class="flaticon solid upload-document-1"></span>
            {{buttonLabel}}
        </a>
        <br />
        {{#if image_url}}
            <img {{bindAttr src=image_url}} />
        {{/if}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-upload-display-image" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        <a class="btn btn-iconed btn-upload">
            {{view App.UploadedImageView nameBinding=name fileBinding='file' acceptBinding=accept classBinding=extraClasses}}
            <span class="flaticon solid upload-document-1"></span>
            {{buttonLabel}}
        </a>
        <br />
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-upload-image-area" %}
    {{#bb-form-field hint=hint label=label errors=errors }}
        <div class="image-upload">
            <div class="image-upload-drag">
                <span class="flaticon solid cloud-add-1"></span>
                <small class="image-upload-drag-instructions">Just drag your jpg or png photo here</small> 

                {{#if image_url}}                                                   
                <figure>
                    <img {{bindAttr src=image_url}} />
                </figure>
                {{/if}}
            </div>
            <div class="image-upload-controls">
                <div class="image-upload-controls-instructions">Upload a picture that best describes your campaign</div>
                {{view App.UploadFile nameBinding=name fileBinding='file' acceptBinding=accept}}
                <a class="image-upload-controls-browse"><span class="flaticon solid plus-2"> </span>Browse for photos</a>
                <small class="image-upload-controls-allowed">Allowed: .jpg, .png, (minimal 600x400)</small>
            </div>
        </div>
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-upload-file-area" %}
    {{#bb-form-field hint=hint label=label errors=errors }}
         <div class="document-upload">
            {{view App.UploadMultipleFile nameBinding=name fileBinding='file' acceptBinding=accept}}
            <ul class="files">
                {{#each files}}
                <li>
                    <span class="flaticon stroke document-1"></span> {{this.name}} <a class="delete flaticon stroke trash-2"></a>
                </li>
                {{/each}}
            </ul>
            <a class="upload"><span class="flaticon solid up-circle-4"></span> Upload another document</a>
            <small class="allowed">Allowed: .pdf, .jpg or .png</small>
        </div>
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-video-link" %}
    {{#bb-form-field label=label errors=errors hint=hint }}
        {{view Em.TextField stepBinding=step valueBinding='value' nameBinding=name
            placeholderBinding=placeholder classBinding="errors.length:error" typeBinding=type classBinding=extraClasses}}
        <br />
        {{#if video_html}}
            {{{video_html}}}
        {{/if}}
    {{/bb-form-field}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-datepicker" %}
    {{#bb-form-field hint=hint label=label errors=errors }}
        {{view App.CustomDatePicker minDateBinding='minDate' valueBinding='value'
            nameBinding=name placeholderBinding=placeholder classBinding=extraClasses}}
    {{/bb-form-field}}

{% endtplhandlebars %}

{% tplhandlebars "date_picker_button" %}
    <input type="text" style="display: none"/>
    <a {{action "showDatePicker" target="view"}} class="btn btn-modest btn-date-picker"><span class="flaticon solid calendar-3"></span>{% trans "Pick date" context "Goal page" %}</a>
{% endtplhandlebars %}
