{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}
{% load bb_ember %}

{% tplhandlebars "social_share" %}
    {{#if view.canShare}}
        <ul class="share-action">
            <li class="actions-dropdown"><strong>{% trans 'Share this campaign'%}</strong>
                <ul>
                    {{#if view.shareOptions.facebook }}
                    <li><a {{action shareOnFacebook target="view"}} class="action-facebook">{% trans "Share on Facebook" %}</a></li>
                    {{/if}}
                    {{#if view.shareOptions.twitter }}
                    <li><a {{action shareOnTwitter target="view"}} class="action-twitter">{% trans "Share on Twitter" %}</a></li>
                    {{/if}}
                    {{#if view.shareOptions.flyer }}
                    <li><a {{action shareOnFlyer target="view"}} class="action-flyer">{% trans "Share project flyer" %}</a></li>
                    {{/if}}
                    {{!-- <li><a {{action shareLinkedIn target="view"}} class="action-linkedin">{% trans 'Share on Linkedin'%}</a></li>
                    <li><a {{action shareEmbedded target="view"}} class="action-embed">{% trans 'Embed on your site'%}</a></li>
                    <li><a {{action copyLink target="view"}} class="action-copy">{% trans 'Copy link'%}</a></li> --}}
                </ul>
            </li>
        </ul>
    {{/if}}
{% endtplhandlebars %}
