{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}
{% load bb_ember %}

{% tplhandlebars "social_share" %}

    <div class="share-menu">
        <a class="share-link">{% trans 'Share'%}</a>
        <ul id="share">
            <li class="facebook"><a {{action shareOnFacebook target="view"}}>{% trans "Share on Facebook" %}</a></li>
            <li class="twitter"><a {{action shareOnTwitter target="view"}}>{% trans "Share on Twitter" %}</a></li>
            <!--<li class="linkedin"><a {{action shareLinkedIn target="view"}}>{% trans 'Share on Linkedin'%}</a></li>-->
            <li class="embed"><a {{action shareEmbedded target="view"}}>{% trans 'Embed on your site'%}</a></li>
            <!--<li class="copy"><a {{action copyLink target="view"}}>{% trans 'Copy link'%}</a></li>-->
        </ul>
    </div>

{% endtplhandlebars %}
