{% load bb_ember %}
{% load i18n %}
{% load static %}

{% include 'tasks/task.hbs' %}
{% include 'tasks/task_list.hbs' %}
{% include 'tasks/task_search_form.hbs' %}
{% include 'tasks/task_preview.hbs' %}
{% include 'tasks/task_wallposts.hbs' %}


{% tplhandlebars "project_task_preview" %}
    
    <li class="task-item">
    	{{#linkTo 'projectTask' task}}
    	
    	    <h2 class="task-category"><span class="flaticon solid wrench-1"></span> {{task.skill.name}}</h2>
    	
    	    <span class="task-header">
                <span class="task-image">
                	<img {{bindAttr src="project.image" }} />
            	</span>
                <span class="task-title">
                	<h3>{{task.title}}</h3>
                	<h4>{{project.title}}</h4> 
                </span>
            </span>
            
	        <div class="task-status">
	            <ul class="task-meta">
	                <li>
	                    {{#if task.isStatusOpen}}
	                        <span class="flaticon solid clipboard-1"></span>
	                        {% trans "Open" %}
	                    {{/if}}
	                    {{#if task.isStatusInProgress}}
	                        <span class="flaticon solid upload-to-clipboard-1"></span>
	                        {% trans "In progress" %}
	                    {{/if}}
	                    {{#if task.isStatusClosed}}
	                        <span class="flaticon solid delete-from-clipboard-1"></span>
	                        {% trans "Closed" %}
	                    {{/if}}
	                    {{#if task.isStatusRealized}}
	                        <span class="flaticon solid clipboard-checkmark-1"></span>
	                        {% trans "Realised" %}
	                    {{/if}}
	
	                </li>
	                {{#unless task.isStatusRealized}}
	                <li>
	                	<span class="flaticon solid calendar-1"></span>
	                    {{ localize task.deadline formatting="X" }}
	                </li>
	                {{/unless}}
	                <li>
	                    <span class="flaticon solid watch-1"></span>
	                    {{ task.timeNeeded }}
	                </li>
	                <li>
	                	<span class="flaticon solid location-pin-1"></span>
	                	{{project.country.name}}
	                </li>
	            </ul>
	        </div>
	        
	        <div class="task-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed aliquam lacus, at luctus lacus. Pellentesque pellentesque nibh ac lacus mollis, nec fringilla nunc pharetra. Suspendisse et metus at lacus interdum pharetra ac aliquet libero. Donec dignissim et nunc vel gravida.</div>
	        
    	{{/linkTo}}
    </li>
    
{% endtplhandlebars %}


{% tplhandlebars "projectTasks" %}

    <div class="l-section">
        <section class="l-wrapper">
            {{ outlet }}
        </section>
    </div>
{% endtplhandlebars %}


{% tplhandlebars "projectTasks/index" %}

    {{# if isProjectOwner}}
    <div class="owner-actions">

        <header>
            <h3>{% trans "You're the project owner" %}</h3>
            <p>{% trans "You can add a new task" %}.</p>
        </header>

        {{#linkTo 'projectTaskNew' class="btn btn-primary btn-iconed task-add"}}
            <span class="flaticon solid plus-1"></span>
            {% trans "Add a task" %}
        {{/linkTo}}
    </div>
    {{/if}}

    <ul id="search-results">
        {{#each task in controller}}
            {{render taskPreview task}}
        {{else}}
            <li class="no-results">{% trans "No tasks currently available for this project" %}.</li>
        {{/each}}
    </ul>

{% endtplhandlebars %}


{% tplhandlebars "task_member_edit" %}
    
    {{# if motivation}}
    <p>
        <strong>{{member.first_name}} {% trans "said:" %}</strong><br />
        <blockquote>{{ motivation }}</blockquote>
    </p>
    {{/if}}
    
    {{#view Em.RadioButtonGroup class="radio-select four" name="status" selectedValueBinding="status"}}
        <label for="status_applied" class="radio">
            {{view view.RadioButton value="applied" id="status_applied"}}
            <span>{% trans "Applied" %}</span>
        </label>
        <label for="status_accepted" class="radio">
            {{view view.RadioButton value="accepted" id="status_accepted"}}
            <span>{% trans "Start" %}</span>
        </label>
        <label for="status_rejected" class="radio">
            {{view view.RadioButton value="rejected" id="status_rejected"}}
            <span>{% trans "Reject" %}</span>
        </label>
        <label for="status_realised" class="radio">
            {{view view.RadioButton value="realized" id="status_realised"}}
            <span>{% trans "Realised" %}</span>
        </label>
    {{/view}}

{% endtplhandlebars %}


{% language "en" %}
{# Force this to english #}

{% tplhandlebars "task_new" %}

    <div class="l-section">
        <section class="l-wrapper">
    		<form class="l-content" id="task-form">
    		    <legend>
    		        <strong>{% trans "Create new task" %}</strong>
    		    </legend>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label" for="task-title">
	                            {% trans "Title of your task" %}
	                        </label>
	
	                        <div class="controls">
	                            {{view Ember.TextField valueBinding="title" id="task-title" name="task-title" classBinding="errors.title.length:error"}}
	                        </div>
	
	                        {{#if errors.title }}
	                            <div class="has-errors">{{#each errors.title }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                    
	                    <li class="control-group">
	                        <label class="control-label" for="task-description">
	                            {% trans "Description" %}
	                        </label>
	
	                        <div class="controls">
	                            {{view Ember.TextArea valueBinding="description" cols="50" rows="4" name="task-description" id="task-description" classBinding="errors.description.length:error"}}
	                        </div>
	
	                        {{#if errors.description }}
	                            <div class="has-errors">{{#each errors.description }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	
	                    <li class="control-group">
	                        <label class="control-label" for="task-end_goal">
	                            {% trans "End goal" %}
	                        </label>
	
	                        <div class="controls">
	                            {{view Ember.TextArea valueBinding="end_goal" cols="50" rows="2" name="task-end_goal" id="task-end_goal" classBinding="errors.end_goal.length:error"}}
	                        </div>
	
	                        {{#if errors.end_goal }}
	                            <div class="has-errors">{{#each errors.end_goal }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label" for="task-deadline">
	                            {% trans "Dead line" %}
	                        </label>
	
	                        <div class="controls">
	                            {{view App.TaskDeadLineDatePicker valueBinding="deadline" id="task-deadline" name="task-dealine" classBinding="errors.deadline.length:error"}}
	                        </div>
	
	                        {{#if errors.dealine }}
	                            <div class="has-errors">{{#each errors.dealine }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	
	                    <li class="control-group">
	                        <label class="control-label" for="task-location">
	                            {% trans "Location" %}
	                        </label>
	
	                        <div class="controls">
	                            {{view Ember.TextField valueBinding="location" id="task-location" name="task-location" classBinding="errors.location.length:error"}}
	                        </div>
	
	                        {{#if errors.location }}
	                            <div class="has-errors">{{#each errors.location }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label" for="task-time-needed">
	                            {% trans "Time needed (approximately)" %}
	                        </label>
	
	                        <div class="controls">
	                            {{view App.TimeNeededSelectView valueBinding="time_needed" id="task-time-needed" name="task-time-needed" classBinding="errors.time_needed.length:error"}}
	                        </div>
	
	                        {{#if errors.time_needed }}
	                            <div class="has-errors">{{#each time_needed.location }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	
	                    <li class="control-group">
	                        <label class="control-label" for="task-skill">
	                            {% trans "Skill" %}
	                        </label>
	
	                        <div class="controls">
	                            {{view App.SkillSelectView valueBinding="skill" id="task-skill" name="task-skill" classBinding="errors.skill.length:error"}}
	                        </div>
	
	                        {{#if errors.skill }}
	                            <div class="has-errors">{{#each errors.skill }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label">{% trans "Tags" %}</label>
	                        <div class="controls">
	                            {{view App.TagWidget tagsBinding="tags" classBinding="errors.tags.length:error"}}
	                        </div>
	
	                        {{#if errors.tags }}
	                            <div class="has-errors">{{#each errors.tags }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
				<button class="btn btn-primary btn-iconed btn-submit" type="submit"><span class="flaticon solid wrench-1"></span>{% trans "Create Task" %}</button>
        	</form>
        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "task_edit" %}

     <div class="l-section">
        <section class="l-wrapper">
        	<form class="l-content" id="task-form">
        	    <legend>
    		        <strong>{% trans "Edit current task" %}</strong>
    		    </legend>
    		    
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label" for="task-title">
	                            {% trans "Title of your task." %}
	                        </label>
	
	                        <div class="controls">
	                            {{view Ember.TextField valueBinding="title" id="task-title" name="task-title" classBinding="errors.title.length:error"}}
	                        </div>
	
	                        {{#if errors.title }}
	                            <div class="has-errors">{{#each errors.title }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label" for="task-status">
	                            {% trans "Status" %}
	                        </label>
	
	                        <div class="controls">
	                            {{#view Em.RadioButtonGroup class="radio-select four" name="status" selectedValueBinding="status"}}
	                                <label for="status_open" class="radio">
	                                    {{view view.RadioButton value="open" id="status_open"}}
	                                    <span>{% trans "Open" %}</span>
	                                </label>
	                                <label for="status_in_progress" class="radio">
	                                    {{view view.RadioButton value="in progress" id="status_in_progress"}}
	                                    <span>{% trans "In progress" %}</span>
	                                </label>
	                                <label for="status_closed" class="radio">
	                                    {{view view.RadioButton value="closed" id="status_closed"}}
	                                    <span>{% trans "Closed" %}</span>
	                                </label>
	                                <label for="status_realised" class="radio">
	                                    {{view view.RadioButton value="realized" id="status_realised"}}
	                                    <span>{% trans "Realised" %}</span>
	                                </label>
	                            {{/view}}
	                        </div>
	
	                        {{#if errors.status }}
	                            <div class="has-errors">{{#each errors.status }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label" for="task-description">
	                            {% trans "Description." %}
	                        </label>
	
	                        <div class="controls">
	                            {{view Ember.TextArea valueBinding="description" cols="50" rows="4" name="task-description" id="task-description" classBinding="errors.description.length:error"}}
	                        </div>
	
	                        {{#if errors.description }}
	                            <div class="has-errors">{{#each errors.description }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	
	                    <li class="control-group">
	                        <label class="control-label" for="task-end_goal">
	                            {% trans "End goal" %}
	                        </label>
	
	                        <div class="controls">
	                            {{view Ember.TextArea valueBinding="end_goal" cols="50" rows="2" name="task-end_goal" id="task-end_goal" classBinding="errors.end_goal.length:error"}}
	                        </div>
	
	                        {{#if errors.end_goal }}
	                            <div class="has-errors">{{#each errors.end_goal }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label" for="task-deadline">
	                            {% trans "Deadline" %}
	                        </label>
	
	                        <div class="controls">
	                            {{view App.TaskDeadLineDatePicker valueBinding="deadline" id="task-deadline" name="task-dealine" classBinding="errors.deadline.length:error"}}
	                        </div>
	
	                        {{#if errors.dealine }}
	                            <div class="has-errors">{{#each errors.dealine }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	
	                    <li class="control-group">
	                        <label class="control-label" for="task-location">
	                            {% trans "Location" %}
	                        </label>
	
	                        <div class="controls">
	                            {{view Ember.TextField valueBinding="location" id="task-location" name="task-location" classBinding="errors.location.length:error"}}
	                        </div>
	
	                        {{#if errors.location }}
	                            <div class="has-errors">{{#each errors.location }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label" for="task-time-needed">
	                            {% trans "Time needed (approximately)" %}
	                        </label>
	
	                        <div class="controls">
	                            {{view App.TimeNeededSelectView valueBinding="time_needed" id="task-time-needed" name="task-time-needed" classBinding="errors.time_needed.length:error"}}
	                        </div>
	
	                        {{#if errors.time_needed }}
	                            <div class="has-errors">{{#each time_needed.location }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	
	                    <li class="control-group">
	                        <label class="control-label" for="task-skill">
	                            {% trans "Skill" %}
	                        </label>
	
	                        <div class="controls">
	                            {{view App.SkillSelectView valueBinding="skill" id="task-skill" name="task-skill" classBinding="errors.skill.length:error"}}
	                        </div>
	
	                        {{#if errors.skill }}
	                            <div class="has-errors">{{#each errors.skill }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	                </ul>
	            </fieldset>
	            <fieldset>
	                <ul>
	                    <li class="control-group">
	                        <label class="control-label">{% trans "Tags" %}</label>
	                        <div class="controls">
	                            {{view App.TagWidget tagsBinding="tags" classBinding="errors.tags.length:error"}}
	                        </div>
	
	                        {{#if errors.tags }}
	                            <div class="has-errors">{{#each errors.tags }}<p>{{this}}</p>{{/each}}</div>
	                        {{/if}}
	                    </li>
	
	                </ul>
	            </fieldset>
                <button class="btn btn-primary btn-iconed btn-submit" type="submit"><span class="flaticon solid wrench-1"></span>{% trans "Save Task" %}</button>
                <button class="btn btn-cancel" {{action 'cancelChangesToTask' this}}><em class="flaticon stroke x-2"></em> {% trans "Cancel Changes" %}</button>
        	</form>
        </section>
    </div>

{% endtplhandlebars %}

{% endlanguage %}

{% tplhandlebars "task_file_new" %}
    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label" for="tile-title">
                    {% trans "Title" %}
                </label>

                <div class="controls">
                    {{view Ember.TextField valueBinding="title" id="file-title" name="file-title" classBinding="errors.title.length:error"}}
                </div>

                {{#if errors.title }}
                    <div class="has-errors">{{#each errors.title }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
            
            <li class="control-group">
                <label class="control-label" for="tile-file">
                    {% trans "File" %}
                </label>

                <div class="controls">
                    <a class="btn-link btn-upload">
                        {{view App.UploadFile fileBinding="file" name="file" id="file"}}
                        <span class="flaticon solid upload-document-1"></span>
                        {% trans "Upload file" %}
                    </a>
                </div>
                 
		        {{#if errors.file }}
		            <div class="has-errors">{{#each errors.file }}<p>{{this}}</p>{{/each}}</div>
		        {{/if}}
            </li>
        </ul>
    </fieldset>

{% endtplhandlebars %}


{% tplhandlebars "task_member_apply" %}
    
    <legend>
        <p>{% trans "Are you sure you want to apply to this task?" %}</p>
    </legend>
    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label wide" for="motivation" >{% trans "Motivation" %}</label>

                <div class="controls wide">
                    {{view Ember.TextArea valueBinding="view.motivation" name="motivation" classBinding="errors.motivation.length:error"}}
                </div>
            </li>
        </ul>
    </fieldset>

{% endtplhandlebars %}


