{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "taskActivity" %}
    <div class="wallposts-important">
		<h3>Pending requests</h3>
		<div class="task-pending-requests">
        {{#each notAcceptedMembers}}

            <article class="wallpost important">

                <header class="wallpost-header">

                    <div class="wallpost-member">
                        <a {{action openInBigBox "userModal" member}} class="member">
                            <figure class="member-avatar">
                                <img {{bindAttr src=member.getAvatar}} alt="member.full_name"}} />
                            </figure>
                        </a>
                    </div>

                    <div class="wallpost-meta">
                        <h3 class="wallpost-author">{{member.full_name}}</h3>
                    </div>

                    <h2 class="wallpost-title">
                        {% trans "Status" %}: {{status}}
                    </h2>
                </header>

                <div class="wallpost-content">

                    <div class="text">
                        <strong>{% trans "Motivation" %}:</strong> {{motivation}}

                    </div>

                </div>

                {{#if controller.controllers.task.canEdit}}
                    <div class="wallpost-buttons">
                        <a class="btn wallpost-action-accept" {{action 'editTaskMember' this}}>
                            {% trans "Manage" %}
                        </a>
                    </div>
                {{/if}}

                {{!--
                <div class="wallpost-buttons">
                    <a class="btn wallpost-action-accept" href="#">Accept</a>
                     <span class="btn-spacer">or</span>
                    <a class="wallpost-action-decline" href="#">Decline</a>
                </div>
                --}}
            </article>
        {{else}}
            {% trans "No members yet" %}
        {{/each}}
    </div>
{% endtplhandlebars %}
