{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task/index" %}
    {{!-- Project Wall Post List template --}}

    {{#if controllers.currentUser.isAuthenticated }}
        {{ render "taskTextWallPostNew" }}
    {{else}}
        <h3>{% trans "Write a comment" %}</h3>
        <a {{action openInBox "login"}}>{%  trans "Login" %}</a> or become a {{#linkTo "signup"}}{% trans "member" %}{{/linkTo}} {% trans "to leave a comment" %}.</p>
    {{/if}}

    {{#each item in controller itemController="wallPost"}}
        {{#if item.isLoaded}}
            {{#if item.isSystemWallPost}}
                {{view "App.SystemWallPostView"}}
            {{else}}
                {{view "App.MediaWallPostView"}}
            {{/if}}
        {{/if}}
    {{/each}}

    {{#if canLoadMore}}
        <a {{action "showMore"}} class="btn-link btn-more">
            <span class="flaticon solid plus-2"></span> {% trans "Show more" %} <small>{{remainingItemCount}} {% trans "more" %}</small>
        </a>
    {{/if}}

{% endtplhandlebars %}
