{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "task_search_form" %}

    <div class="l-section" id="search">
        <section class="l-wrapper">
            <form id="search-form">
                <div class="control">
                    <span class="flaticon solid earth-1"></span>
                    {{view App.CountrySelectView valueBinding="country" }}
                </div>
                <div class="control">
                    <span class="flaticon stroke wrench-1"></span>
                    {{view App.SkillSelectView valueBinding="skill" }}
                </div>
                <div class="control">
                    <span class="flaticon stroke inbox-1"></span>
                    {{view App.TaskStatusSelectView valueBinding="status" }}
                </div>
            </form>
        </section>
    </div>

    <div class="l-section">
        <section class="l-wrapper">
            <article id="search-navigation">

            	<header>
                	<h2>{% trans "Results" %} <em>{{controllers.taskList.model.meta.total}}</em></h2>
                	<a {{action 'clearForm'}} class="search-reset">
                        <span class="flaticon solid x-2"></span> {% trans "Reset" %}
                    </a>
            	</header>

                <div class="search-sort">
                    <strong>{% trans "Sort:" %}</strong>
                    <a {{action sortOrder 'newest'}} {{bindAttr class="orderedByNewest:active"}}>{% trans "Newest" %}</a>
                    <a {{action sortOrder 'deadline'}} {{bindAttr class="orderedByDeadline:active"}}>{% trans "Near deadline" %}</a>
                </div>

                <div class="search-pagination">
                	<span class="search-showing">{{#if controllers.taskList.model.meta.total}}{% trans "Showing" %} {{rangeStart}}-{{rangeEnd}}{{/if}}</span>
                	<span class="search-pages-control">
		                {{#if hasPreviousPage}}
		                    <a {{action "previousPage"}} class="previous-page">
		                        <span class="flaticon solid left-circle-2"></span>
		                    </a>
		                {{else}}
		                	<span class="previous-page"><span class="flaticon solid left-circle-2"></span></span>
		                {{/if}}

		                {{#if hasNextPage}}
		                    <a {{action "nextPage"}} class="next-page">
		                        <span class="flaticon solid right-circle-2"></span>
		                    </a>
		                {{else}}
		                	<span class="next-page"><span class="flaticon solid right-circle-2"></span></span>
		                {{/if}}
                	</span>
                </div>

            </article>
        </section>
    </div>

{% endtplhandlebars %}

