{% load bb_ember i18n static %}


{% tplhandlebars "_project_actions_with_funding" %}
            <div class="row">
                <div class="col8">
                    
                    <div class="project-status">

                        <div class="project-fund">
                            {{#if isCheetahProject}}
                                <div class="cheetah-project-progress">
                                    {{#if isStatusCampaign}}
                                        {{#ifExpired deadline}}
                                            <div class="cheetah-funded">
                                                <div class="cheetah-funded-text">
                                                    {% blocktrans%}
                                                        <span><strong>At 30%</strong> it will be Cheetah Funded</span>
                                                    {% endblocktrans %}
                                                </div>
                                                <i class="cheetah-funded-dot"></i>
                                            </div>
                                            <div class="expired">
                                                {{cheetah-progressbar targetValue=amount_asked currentValue=amount_donated class="campaign-fund-amount-slider"}}
                                            </div>
                                        {{else}}
                                            <div class="cheetah-funded">
                                                <div class="cheetah-funded-text">
                                                    {% blocktrans%}
                                                        <span><strong>At 30%</strong> it will be Cheetah Funded</span>
                                                    {% endblocktrans %}
                                                </div>
                                                <i class="cheetah-funded-dot"></i>
                                            </div>
                                            {{cheetah-progressbar targetValue=amount_asked currentValue=amount_donated class="campaign-fund-amount-slider"}}
                                        {{/ifExpired}}
                                    {{else}}
                                        {{#if isStatusCompleted}}
                                            <div class="cheetah-fully-funded">
                                                {{bb-progressbar targetValue=amount_asked currentValue=amount_donated class="campaign-fund-amount-slider "}}
                                            </div>
                                        {{else}}
                                            <div class="cheetah-funded">
                                                <div class="cheetah-funded-text">
                                                    {% blocktrans%}
                                                        <span><strong>At 30%</strong> it will be Cheetah Funded</span>
                                                    {% endblocktrans %}
                                                </div>
                                                <i class="cheetah-funded-dot"></i>
                                            </div>
                                            <div class="expired">
                                                {{cheetah-progressbar targetValue=amount_asked currentValue=amount_donated class="campaign-fund-amount-slider"}}
                                            </div>
                                        {{/if}}
                                    {{/if}}

                                </div>
                                <p class="project-fund-amount">
                                    <strong class="amount-donated">&euro;{{localize amount_donated}}</strong>
                                    {% trans "of" %}
                                    <strong class="amount-asked">&euro;{{localize amount_asked}}</strong>
                                    {% trans "raised" %}
                                </p>

                            {{else}}
                                <div class="campaign-fund-amount-slider">
                                    {{bb-progressbar targetValue=amount_asked currentValue=amount_donated}}
                                </div>
                                <p class="project-fund-amount">
                                    <strong class="amount-donated">&euro;{{localize amount_donated}}</strong>
                                    {% trans "of" %}
                                    <strong class="amount-asked">&euro;{{localize amount_asked}}</strong>
                                    {% trans "raised" %}
                                </p>
                            {{/if}}
                            {{#if isStatusCampaign}}
                                <div class="project-days-left">
                                    <strong><span class="custom-icons clock"></span> 
                                    {{#ifExpired deadline}}
                                        <em>{% trans "deadline passed" %}</em>
                                    {{else}}
                                        {{daysToGo}} <em>{% trans "days to go" %}</em>
                                    {{/ifExpired}}
                                    </strong>
                                </div>
                            {{else}}
                                <div class="project-days-left">
                                    {{#unless isPhasePlanNew}}
                                        <strong><span class="flaticon solid clock-1"></span> <em>{% trans "deadline passed" %}</em></strong>
                                    {{/unless}}
                                </div>
                            {{/if}}

                        </div>
                        
                    </div>

                </div>

                <div class="col4">
                    {{#if isSupportable}}
                        <div class="project-action">
                            <a href='#' {{ action 'addDonation' this }} class="btn btn-primary"> {% trans "Support project" %}</a>
                            {{view 'App.MpesaDonateView' class="mpesa-donate" }}
                        </div>
                    {{/if}}
                </div>
            </div>
        </section>
        <div id="project-members">
            <section class="l-wrapper">
                <div class="row">
                    <div class="col4">
                        <div class="member-initiator">
                            <a {{action 'openInBigBox' 'userModal' owner }} class="member">
                                <div class="row">
                                    <div class="col3">
                                        <figure class="photo">
                                            <img {{bindAttr src="owner.getAvatar"}} />
                                        </figure>
                                    </div>
                                    <div class="col9">
                                        <h4>{% trans "Campaigner" %}</h4>
                                        <strong class="name">{{owner.full_name}}</strong>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col8">
                        <div class="project-member-supporters">
                            {{render "projectSupporterList"}}
                        </div>
                    </div>
                </div>
            </section>
        </div>

{% endtplhandlebars %}
