{% load bb_ember i18n static %}


{% tplhandlebars "_project_actions_without_funding" %}
<section id="project-bar">
    <div class="l-wrapper">
    </div>
</section>

<section id="project-users">
    <div class="l-wrapper">
        <div class="project-initiator">
            <a {{action 'openInBigBox' 'userModal' owner }} class="user">
                <figure class="user-avatar">
                    <img {{bind-attr src="owner.getAvatar"}} />
                </figure>
                <span class="user-name">
                    <strong>{% trans "Campaigner" %}</strong><br />
                    <em>{{owner.full_name}}</em>
                </span>
            </a>
        </div>
        <div class="project-action">
            <div class="project-task">
                {{#if isProjectOwner}}
                    <a {{action 'addDonation' this}} data-action-type="create-task-campaign" class="button button-big"> {% trans "Create a Task" %}</a>
                {{else}}
                    {{#if hasTasks}}
                        <div class="project-closed project-task-join">
                            <strong data-action-type="join-task-campaign">
                                {% trans "Join a Task" %}
                            </strong>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</section>
{% endtplhandlebars %}
