{% load bb_ember i18n static %}


{% tplhandlebars "_project_actions_with_funding" %}
<section id="project-bar">
    <div class="l-wrapper">
        <div class="project-status">
            <div class="project-fund">
                {{#if isCheetahProject}}
                    <div class="cheetah-project-progress">
                        {{#if isStatusCampaign}}
                            {{#ifExpired deadline}}
                                <div class="cheetah-funded">
                                    <div class="cheetah-funded-text">
                                        {% blocktrans%}
                                            <span><strong>At 30%</strong> it will be Cheetah Funded</span>
                                        {% endblocktrans %}
                                    </div>
                                    <i class="cheetah-funded-dot"></i>
                                </div>
                                <div class="expired">
                                    {{cheetah-progressbar targetValue=amount_asked currentValue=amount_donated class="campaign-fund-amount-slider"}}
                                </div>
                            {{else}}
                                <div class="cheetah-funded">
                                    <div class="cheetah-funded-text">
                                        {% blocktrans%}
                                            <span><strong>At 30%</strong> it will be Cheetah Funded</span>
                                        {% endblocktrans %}
                                    </div>
                                    <i class="cheetah-funded-dot"></i>
                                </div>
                                {{cheetah-progressbar targetValue=amount_asked currentValue=amount_donated class="campaign-fund-amount-slider"}}
                            {{/ifExpired}}
                        {{else}}
                            {{#if isStatusCompleted}}
                                <div class="cheetah-fully-funded">
                                    {{bb-progressbar targetValue=amount_asked currentValue=amount_donated class="campaign-fund-amount-slider "}}
                                </div>
                            {{else}}
                                <div class="cheetah-funded">
                                    <div class="cheetah-funded-text">
                                        {% blocktrans%}
                                            <span><strong>At 30%</strong> it will be Cheetah Funded</span>
                                        {% endblocktrans %}
                                    </div>
                                    <i class="cheetah-funded-dot"></i>
                                </div>
                                <div class="expired">
                                    {{cheetah-progressbar targetValue=amount_asked currentValue=amount_donated class="campaign-fund-amount-slider"}}
                                </div>
                            {{/if}}
                        {{/if}}

                    </div>
                    <p class="project-fund-amount">
                        <strong class="amount-donated">&euro; {{localize amount_donated}}</strong>
                        <em class="amount-asked">
                            {% trans "of" %} <strong>&euro; {{localize amount_asked}}</strong> {% trans "raised" %}
                        </em>
                    </p>

                {{else}}
                    <div {{bindAttr class=":project-fund-amount-slider is_funded:is-funded"}}>
                        {{partial 'other_progressbars'}}
                    </div>
                    <p class="project-fund-amount">
                        <strong class="amount-donated">&euro; {{localize amount_donated}}</strong>
                        <em class="amount-asked">
                            {% trans "of" %} <strong>&euro; {{localize amount_asked}}</strong> {% trans "raised" %}
                        </em>
                    </p>
                {{/if}}
                <div class="project-days-left">
                {{#if overDeadline}}
                    {% trans "Deadline passed" %}
                {{else}}
                    <strong>{{daysToGo}}</strong> {% trans "days left" %}
                {{/if}}
                </div>
            </div>
        </div>

        <div class="project-action">
            {{#if isStatusCampaign}}
                <a {{action 'addDonation' this}} data-action-type="donate" class="button button-big"> {{projectSupportName}}</a>
                {{partial 'other_payments'}}
            {{else}}
                <div class="project-closed">
                    <strong>{% trans "Campaign" %} {{#if is_funded}}{% trans "fully funded and" %} {{/if}}{% trans "closed" %}</strong><br />
                    {{localize deadline formatting="X"}}
                </div>
            {{/if}}
        </div>
    </div>
</section>

<section id="project-users">
    <div class="l-wrapper">
        <div class="project-initiator">
            <a {{action 'openInBigBox' 'userModal' owner }} class="user">
                <figure class="user-avatar">
                    <img {{bind-attr src="owner.getAvatar"}} />
                </figure>
                <span class="user-name">
                    <strong>{{projectTitle}}</strong><br />
                    <em>{{owner.full_name}}</em>
                </span>
            </a>
        </div>
        <div class="project-supporters">
            <strong>
                <em>
                    {{projectDonations.meta.total}}
                    {% trans "Supporters" %}
                </em>
            </strong>
            {{simple-project-supporters supporters=recentSupporters showProfile="showProfile" limit=13}}
        </div>
    </div>
</section>

{% endtplhandlebars %}
