{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project/index" %}
    {{!-- Project Wall Post List template --}}

    <div id="l-section">
        <section class="l-wrapper">
            <div class="l-content" id="wallposts">

                {{#each item in controller itemController="wallPost"}}
                    {{#if item.isLoaded}}
                        {{#if item.isSystemWallPost}}
                            {{view "App.SystemWallPostView"}}
                        {{else}}

                            {{view "App.MediaWallPostView"}}
                        {{/if}}
                    {{/if}}
                {{/each}}

                {{#if canLoadMore}}
                    <a {{action "showMore"}} class="btn-link btn-more">
                        <span class="flaticon solid plus-2"></span> {% trans "Show more" %} <small>{{remainingItemCount}} {% trans "more" %}</small>
                    </a>
                {{/if}}

            </div>

            <sidebar class="l-sidebar">
                {{#if currentUser.isAuthenticated }}
                    {{#if isProjectOwner}}
                        <h3>{% trans "Write an update" %}</h3>
                        <p>{% trans "Write an update of your project to inform your crowd." %}</p>
                        {{ render "projectMediaWallPostNew" }}
                    {{else}}
                        <h3>{% trans "Write a comment" %}</h3>
                        <p>{% trans "Write an comment to place on the project's wall." %}</p>
                        {{ render "projectTextWallPostNew" }}
                    {{/if}}
                {{else}}
                    <h3>{% trans "Write a comment" %}</h3>
                    <a {{action openInBox "login"}}>{%  trans "Login" %}</a> or become a {{#link-to "signup"}}{% trans "member" %}{{/link-to}} {% trans "to leave a comment" %}.</p>
                {{/if}}
            </sidebar>

        </section>
    </div>

{% endtplhandlebars %}