{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_plan" %}
    <div class="l-section" id="project-plan">
		<nav class="project-plan-navigation">
			
			<div class="project-plan-title">
				<h2>{{title}}</h2>
			</div>
			
			<ul class="project-plan-navigation-links">
				{{#each headerLinks}}
				<li><a class="project-plan-main-link" {{bindAttr href=href}}>{{name}}</a></li>
				{{/each}}
				{{#if hasPdfDownload}}		
					<li class="project-plan-download-pdf">
						<a><span class="flaticon solid download-document-1"></span>{% trans "Download as PDF" %}</a>
					<li>
				{{/if}}
			</ul>
		</nav>
		
		<div class="project-plan-main-container">
			<a {{action "close"}} class="project-plan-back-link">{% trans "Back to campaign" %}<span rel="close" class="flaticon stroke x-1"></span></a>
			<article class="project-plan-main">
				{{{storyWithHeaderIds}}}
				{{!-- 
				<br />
				<h3 id="map">Map</h3>
				<img src="{{unbound staticMap}}" />
				 --}}
			</article>
		</div>
		<div class="project-plan-map">
			<img src="{{unbound staticMap}}" />
		</div>
    </div>

{% endtplhandlebars %}