{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_preview" %}

    <li class="project-item">

        {{#link-to 'project' getProject }}
            <span class="project-header">
                <figure class="project-image">
                    {{#if image.small.length}}
                        <img {{bindAttr src="image.small" }} />
                    {{else}}
                        <img {{bindAttr src="image" }} />
                    {{/if}}
                </figure>

                <span class="project-title">
                    <h3>{{title}}</h3>
                    <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{country.name}}</span>
                </span>
            </span>

            <span {{bindAttr class=":project-status phase"}}>
                {{#if isPhasePlan}}
                    <span class="project-phase"><span class="flaticon solid lightbulb-3"></span> <strong>{% trans "New" %}</strong> <em>{% trans "Smart Idea" %}</em></span>
                {{/if}}
			
				{% if 'fund' in bb_apps %}
				{% block_verbatim "project_preview_funding" %}
                {{#if isPhaseCampaign}}
                    {{#if campaign.amount_asked}}
                        <div class="project-fund-amount-slider"><strong style="width: 0%;" class="slider-progress is-in-progress"><em class="slider-percentage">0%</em></strong></div>
                        <span class="project-fund-amount"><strong>&euro;{{localize campaign.amount_needed}}</strong> <em>{% trans "To go" %}</em></span>
                    {{/if}}
                    {{#if campaign.deadline }}
                        <span class="project-days-left"><span class="flaticon solid clock-1"></span> <strong>{{campaign.daysToGo}}</strong> <em>{% trans "days" %}</em></span>
                    {{/if}}
                {{/if}}
				{% endblock_verbatim "project_preview_funding" %}				
				{% endif %}

                {{#if isPhaseAct}}
                    <span class="project-phase"><span class="flaticon solid lightbulb-3"></span> <strong>{% trans "Project funded" %}</strong> <em>{% trans "Being realized" %}</em></span>
                {{/if}}

                {{#if isPhaseResults}}
                    <span class="project-phase"><span class="flaticon solid lightbulb-3"></span> <strong>{% trans "Project funded" %}</strong> <em>{% trans "Being realized" %}</em></span>
                {{/if}}

                {{#if isPhaseRealized}}
                    <span class="project-phase"><span class="flaticon solid lightbulb-3"></span> <strong>{% trans "Project realized" %}</strong> <em>{% trans "See results" %}</em></span>
                {{/if}}
            </span>
			
            <span class="project-description">
                {{{pitch}}}

                <span class="project-view">{% trans "View project" %}</span>
            </span>

        {{/link-to}}

        {{#if taskCount}}
            <a class="project-tasks"><span class="flaticon solid wrench-1"></span> <strong>{{taskCount}}</strong> <em>{% trans "task(s) available" %}</em></a>
        {{/if}}
    </li>

{% endtplhandlebars %}
