{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_search_form" %}

    <div class="l-section" id="search">
        <section class="l-wrapper">
            <form id="search-form">
                <div class="control">
                    {{view App.ProjectSearchInput valueBinding="text"}}
                    <span class="flaticon stroke zoom-2"></span>
                </div>
                <div class="control">
                    {{view App.UsedCountrySelectView valueBinding="country" }}
                    <span class="flaticon solid earth-1"></span>
                </div>
                <div class="control">
                    {{view App.UsedThemeSelectView valueBinding="theme" }}
                    <span class="flaticon stroke tag-2"></span>
                </div>
                <div class="control">
                    {{view App.ProjectPhaseSelectView valueBinding="status"}}
                    <span class="flaticon stroke flag-1"></span>
                </div>
            </form>
        </section>
    </div>

    <div class="l-section">
        <section class="l-wrapper">
            <article id="search-navigation">

                <header>
                    <h2>{% trans "Results" %} <em>{{controllers.projectList.model.meta.total}}</em></h2>
                    <a {{action 'clearForm'}} class="search-reset">
                        <span class="flaticon solid x-2"></span> {% trans "Reset Search Filter" %}
                    </a>
                </header>

                {% block_verbatim project_search_sort %}
                    <div class="search-sort">
                        {% trans "Sort:" %}
                        <a {{action 'sortOrder' 'popularity'}} {{bindAttr class="orderedByPopularity:active"}}>{% trans "Most popular" %}</a>
                        {% comment %}
                            Disabled because the currently approved design does not include sorting by title.
                            Current design: https://www.dropbox.com/s/n34ndim6cdbm7vz/Project-Search-V2.png
                            <a {{action 'sortOrder' 'title'}} {{bindAttr class="orderedByTitle:active"}}>{% trans "Title" %}</a>
                        {% endcomment %}
                        <a {{action 'sortOrder' 'newest'}} {{bindAttr class="orderedByNewest:active"}}>{% trans "Newest" %}</a>
                        <a {{action 'sortOrder' 'amount_needed'}} {{bindAttr class="orderedByNeeded:active"}}>{% trans "Almost funded" %}</a>
                        <a {{action 'sortOrder' 'deadline'}} {{bindAttr class="orderedByDeadline:active"}}>{% trans "Near deadline" %}</a>
                    </div>
                {% endblock_verbatim %}

                <div class="search-pagination">
                    <span class="search-showing">{% trans "Showing" %} {{rangeStart}}-{{rangeEnd}}</span>
                    <span class="search-pages-control">
                        {{#if hasPreviousPage}}
                            <a {{action 'previousPage'}} class="previous-page">
                                <span class="flaticon solid left-circle-2"></span>
                            </a>
                        {{else}}
                            <span class="previous-page"><span class="flaticon solid left-circle-2"></span></span>
                        {{/if}}

                        {{#if hasNextPage}}
                            <a {{action 'nextPage'}} class="next-page">
                                <span class="flaticon solid right-circle-2"></span>
                            </a>
                        {{else}}
                            <span class="next-page"><span class="flaticon solid right-circle-2"></span></span>
                        {{/if}}
                    </span>
                </div>

            </article>
        </section>
    </div>
{% endtplhandlebars %}
