{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project" %}

<div id="project-detail-header">
    <div {{bindAttr class=":l-section :project-detail-main amount_asked::without"}}>
        <div class="project-background">
            <div class="project-background-image" {{bindAttr style=backgroundStyle}}></div>
        </div>
        <section class="l-wrapper">
            <div class="project-detail">
                <article class="project-info">
                    <div class="project-meta">
                        <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{country.name}}</span>
                        <span class="project-theme"><span class="flaticon solid tag-2"></span> {{theme.name}}</span>
                    </div>
                    
                    <h1 class="project-title">{{title}}</h1>
                    <p class="project-description">{{pitch}}</p>
                    <p class="project-plan-link"><a {{action openInFullScreenBox "projectPlan" this}}>{% trans "Read full project plan" %}</a></p>
                </article>
                <aside class="project-media">
                    <div class="project-share">
                        {{view App.SocialShareView}}
                    </div>
                    {{#if video_html}}
                        <figure class="project-image">
                            <span {{bindAttr class="partner.id:"}}></span>
                            {{{ video_html }}}
                        </figure>
                    {{else}}
                        <figure class="project-image">
                            <span {{bindAttr class="partner.id:"}}></span>
                            <img {{bindAttr src="image.large"}} width="100%" alt="Photo" />
                        </figure>
                    {{/if}}
                </aside>
            </div>
        {{partial '_project_actions'}}
        </section>
    </div>

    <div class="l-section" id="wall">
        <div class="l-wrapper">
            <section id="wallposts">
                {{bb-wallpost-list parentId=id parentType='project' currentUser=currentUser
                    canAddMediaWallpost=canAddMediaWallPost}}
            </section>


            <section id="sidebar">

                {{#if amount_asked}}
                    <div id="fundraiser-list">
                        {{render 'projectFundraiserList'}}
                    </div>
                {{/if}}


                {{#if tasks}}
                    <div id="task-list">
                        <div class="activity">


                            <header class="activity-header">
                                <h2 class="activity-title">{% trans "Tasks" %}</h2>
                            </header>

                            <ul class="activity-list">

                                {{#if availableTasks}}
                                    {{#each availableTasks}}
                                        {{view App.TaskSummaryView contentBinding='this'}}
                                    {{/each}}
                                {{/if}}

                                {{#if unavailableTasks}}
                                    {{#each unavailableTasks}}
                                        {{view App.TaskSummaryView contentBinding='this'}}
                                    {{/each}}
                                {{/if}}

                            </ul>

                            {{#if isProjectOwner}}
                                <footer class="activity-footer">
                                    {{#linkTo 'taskNew' id class='activity-action' }}
                                        <strong>{% trans "Create a task" %} &raquo;</strong><br />
                                        {% trans "Why not ask your community to help out?" %}
                                    {{/linkTo}}
                                </footer>
                            {{/if}}

                        </div>
                    </div>
                {{else}}
                    {{#if isProjectOwner}}
                        {{#if isStatusCampaign}}
                            <div id="task-list">
                                <div class="activity">
                                    <header class="activity-header">
                                        <h2 class="activity-title">{% trans "Tasks" %}</h2>
                                    </header>

                                    <footer class="activity-footer">
                                        {{#linkTo 'taskNew' id class='activity-action' }}
                                            <strong>{% trans "Create a task" %} &raquo;</strong><br />
                                            {% trans "Why not ask your community to help out?" %}
                                        {{/linkTo}}
                                    </footer>
                                </div>
                            </div>
                        {{/if}}
                    {{/if}}

                {{/if}}

                {{!-- Todo: only show block when there are supporters --}}
                <div id="supporter-list">

                    <div class="activity">

                        <header class="activity-header">
                            <h2 class="activity-title">{% trans "Supporters" %}</h2>
                        </header>

                        {{project-donations class="project-supporters" donations=projectDonations limit=10 showProfile="showProfile"}}

                        <footer class="activity-footer">
                            <a {{action 'addDonation' this}}  class="activity-action">
                                <strong>{% trans "Support this campaign" %} &raquo;</strong><br />
                                {% trans "And get your name on the wall!" %}
                            </a>
                        </footer>

                    </div>
                </div>

            </section>
        </div>
    </div>

</div>

{% endtplhandlebars %}

