{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_donation" %}

	<tr>
        {{#if donation.user}}
        	<td class="fund-history-type"><a class="member" {{action 'openInBigBox' 'userModal' donation.user}} {{bindAttr data-title="donation.user.getFullName" data-content="donation.time_since"}}>{{donation.user.getFullName}}</a></td>
        {{else}}
        	<td class="fund-history-type">{% trans 'Guest' %}</td>
        {{/if}}
        <td class="fund-history-total">&euro;{{donation.amount}}</td>
        <td class="fund-history-date">{{donation.time_since}}</td>
    </tr>

{% endtplhandlebars %}