{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_members" %}

    <ul class="member-list">
        <li class="member-initiator">
            <ul>
                <li>
                    <a {{action 'openInBigBox' 'userModal' owner }} class="member">
                        <figure class="member-avatar"><img {{bindAttr src="owner.getAvatar"}} /></figure>
                        <h4>{% trans "Initiator" %}</h4>
                        <strong class="member-name">{{owner.full_name}}</strong>
						<p>Blag</p>
                        <em class="member-organisation">{{office.name}}</em>
                    </a>
                </li>
            </ul>
        </li>

        {{#if team_member}}
            <li class="member-coaches">
                <h4>{% trans "Coach" %}</h4>
                <ul>
                    <li>
                        <a class="member" {{action 'openInBigBox' 'userModal' team_member }} {{bindAttr data-content="team_member.full_name"}} data-title="1%Coach" >
                            <span class="member-avatar"><img {{bindAttr src="team_member.getAvatar"}} alt="team_member.full_name" /></span>
                        </a>
                    </li>
                </ul>
            </li>
        {{/if}}

    </ul>

{% endtplhandlebars %}