{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_wall" %}

    <div class="l-section" id="wallposts">
        <section class="l-wrapper">

            <div class="wallposts-list">

                {{#if controllers.currentUser.isAuthenticated }}
                    {{#if canAddMediaWallPost}}
                        {{ render "mediaWallPostNew" parentId=parentId}}
                    {{else}}
                        {{ render "textWallPostNew" }}
                    {{/if}}
                {{/if}}

                {{#each item in controller itemController="wallPost"}}
                    {{#if item.isLoaded}}
                        {{#if item.isSystemWallPost}}
                            {{view "App.SystemWallPostView"}}
                        {{else}}
                            {{view "App.MediaWallPostView"}}
                        {{/if}}
                    {{/if}}
                {{/each}}

                {{#if canLoadMore}}
                    <a {{action "showMore"}} class="btn-link btn-more">
                        <span class="flaticon solid plus-2"></span> {% trans "Show more" %} <small>{{remainingItemCount}} {% trans "more" %}</small>
                    </a>
                {{/if}}

            </div>


			<div class="wallposts-important">
				<section id="task-list">
					
	                {{#if availableTasks}}
						<div class="task-list-wrapper task-list-open">
							<h3>{% trans "Open tasks" %}</h3>
							
							{{#if isProjectOwner }}
	                            {{#link-to "taskNew" controllers.project.id class="btn btn-modest right task-create"}}
	                                <span class="flaticon solid pencil-3"></span>
	                                {% trans "Create task" %}
	                            {{/link-to}}
		                    {{/if}}
	                    
							{{#each availableTasks}}
								{{view App.TaskSummaryView contentBinding='this'}}
							{{/each}}
						</div>
                    {{else}}
                            {{#if isProjectOwner }}
						        <div class="task-list-wrapper task-list-open">
                                    {{#link-to "taskNew" controllers.project.id class="btn btn-modest right task-create"}}
                                        <span class="flaticon solid pencil-3"></span>
                                        {% trans "Create task" %}
                                    {{/link-to}}
						        </div>
                            {{/if}}
                    {{/if}}
					
                    {{#if unavailableTasks}}
                        <div class="task-list-wrapper task-list-closed">
                            <h3>{% trans "In progress & closed tasks" %}</h3>
                            {{#each unavailableTasks}}
                                {{view App.TaskSummaryView contentBinding='this'}}
                            {{/each}}
                        </div>
                    {{/if}}
				</section>
			</div>

		</section>
	</div>

{% endtplhandlebars %}

