{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% include "accounts/signup.html" %}
{% include "accounts/login.html" %}
{% include "accounts/password_reset.html" %}

{# Personal profile page #}
{% include "accounts/profile_nav.html" %}
{% include "accounts/profile_form.html" %}





{% tplhandlebars "userSettings" %}

<section class="wrapper">
    <div class="content">
        {{#if isLoaded}}
            <form>
                <div class="form-meta">
                    <div class="form-label">{% trans "Edit your account" %}</div>
                    <div class="form-desc">{% trans "These are the details we currently have for you – update or change them below." %}</div>
                </div>

                <fieldset>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Email Address" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="email" classBinding="errors.email.length:error"}}
                            </div>

                            {{#if errors.email}}
                                <div class="errors">{{#each errors.email}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                    </ul>
                </fieldset>

                <hr class="form-divider">

                <fieldset>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "I'd like to receive emails about" %}
                            </label>

                            <div class="controls">
                                <label class="checkbox">
                                    {{view Em.Checkbox checkedBinding="newsletter" }}
                                    <span for="optionsCheckboxes1">{% blocktrans %}1%News{% endblocktrans %}</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </fieldset>

                <hr class="form-divider">

                <fieldset>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Account type" %}
                            </label>

                            <div class="controls">
                                {{view Em.Select
                                    contentBinding="userTypeList"
                                    optionValuePath="content.value"
                                    optionLabelPath="content.name"
                                    valueBinding="user_type"}}
                            </div>

                            {{#if errors.user_type}}
                                <div class="errors">{{#each errors.user_type}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Primary language" %}
                            </label>

                            <div class="controls">
                                {{view Em.Select
                                    contentBinding="App.interfaceLanguages"
                                    optionValuePath="content.code"
                                    optionLabelPath="content.name"
                                    valueBinding="primary_language"}}
                            </div>

                            {{#if errors.user_type}}
                                <div class="errors">{{#each errors.user_type}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "I want to share" %}
                            </label>

                            <div class="controls">
                                <label class="checkbox">
                                    {{view Em.Checkbox checkedBinding="share_time_knowledge" }}
                                    <span for="optionsCheckboxes1">{% trans "Time & Knowledge" %}</span>
                                </label>
                                <label class="checkbox">
                                    {{view Em.Checkbox checkedBinding="share_money" }}
                                    <span for="optionsCheckboxes1">{% trans "Money" %}</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </fieldset>

                <hr class="form-divider">

                <fieldset>
                    <legend>
                        <strong>{% trans "Personal Details" %}</strong>
                        <p>{% trans "We'd like to match you to projects and events based on your location & a personal thank you in your mailbox." %}</p>
                    </legend>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Address Line 1" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="line1" classBinding="errors.line1.length:error"}}
                            </div>

                            {{#if errors.line1}}
                                <div class="errors">{{#each errors.line1}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Address Line 2" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="line2" classBinding="errors.line2.length:error"}}
                            </div>

                            {{#if errors.line2}}
                                <div class="errors">{{#each errors.line2}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "City" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="city" classBinding="errors.city.length:error"}}
                            </div>

                            {{#if errors.city}}
                                <div class="errors">{{#each errors.city}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Province / State" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="state" classBinding="errors.state.length:error"}}
                            </div>

                            {{#if errors.state}}
                                <div class="errors">{{#each errors.state}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Postal Code" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="postal_code" classBinding="errors.postal_code.length:error"}}
                            </div>

                            {{#if errors.postal_code}}
                                <div class="errors">{{#each errors.postal_code}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}

                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Country" %}
                            </label>

                            <div class="controls">
                                {{view App.CountryCodeSelectView valueBinding="country" placeholder="Country" classBinding="errors.country.length:error"}}
                            </div>

                            {{#if error.country}}
                                <div class="errors">{{#each errors.country}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Gender" %}
                            </label>

                            <div class="controls">
                                {{#view Em.RadioButtonGroup name="gender" selectedValueBinding="gender" class="radio-group-horizontal"}}
                                    <div class="radio3">{{view view.RadioButton value="female"}}<span>{% trans "Female" %}</span></div>
                                    <div class="radio3">{{view view.RadioButton value="male"}}<span>{% trans "Male" %}</span></div>
                                    <div class="radio3 hidden">{{view view.RadioButton value=""}}<span>{% trans "Unset" %}</span></div>
                                {{/view}}
                            </div>
                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Date of birth" %}
                            </label>

                            <div class="controls">
                                {{view App.DatePicker valueBinding="birthdate" classBinding="errors.birthdate.length:error"}}
                            </div>

                            {{#if errors.birthdate}}
                                <div class="errors">{{#each errors.birthdate}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                    </ul>
                </fieldset>

                {{#if saved}}
                    <span class="settings-saved"><em class="flaticon solid checkmark-1"> {% trans "Account settings saved" %}</em></span>
                {{/if}}

                <button class="btn btn-iconed btn-primary right" {{action 'save' model}}>
                    <em class="flaticon solid checkmark-1"></em>
                    {{saveButtonText}}
                </button>
            </form>
    </div>
</section>

{{else}}
	<span class="loading-big">Loading&#8230;</span>
{{/if}}

{% endtplhandlebars %}


{% tplhandlebars "userOrders" %}
<section class="wrapper">
    <div class="content">

        <form>
            {{#if model }}
                <div class="form-meta">
                    <div class="form-label">{% trans "Edit your payment info" %}</div>
                    <div class="form-desc">{% trans "Here you can change your bank account info and monthly donations." %}</div>
                </div>

                <fieldset>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">{% trans "Account Name" %}</label>
                            <div class="controls">
                                {{view Em.TextField valueBinding="name" placeholder="Full name as it appears on your bank account" classBinding="errors.name.length:error"}}
                            </div>
                            {{#if errors.name }}
                                <div class="errors">{{#each errors.name }}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">{% trans "Account City" %}</label>
                            <div class="controls">
                                {{view Em.TextField valueBinding="city" placeholder="City registered on your bank account" classBinding="errors.city.length:error"}}
                            </div>
                            {{#if errors.city }}
                                <div class="errors">{{#each errors.city }}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">{% trans "Account Number" %}</label>
                            <div class="controls">
                                {{view Em.TextField valueBinding="account" placeholder="Your bank account number" classBinding="errors.account.length:error"}}
                            </div>
                            {{#if errors.account }}
                                <div class="errors">{{#each errors.account }}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                    </ul>
                </fieldset>

                <hr class="form-divider">

                <fieldset>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Monthly donations" %}
                            </label>

                            <div class="controls">
                                {{#view Em.RadioButtonGroup name="active" selectedValueBinding="recurringPaymentActive" class="radio-group-horizontal"}}
                                    <div class="radio3">{{view view.RadioButton value="on"}}<span>{% trans "On" %}</span></div>
                                    <div class="radio3">{{view view.RadioButton value="off"}}<span>{% trans "Off" %}</span></div>
                                    <a href="#" class="ember-view edit-monthly-donations" {{ action 'viewRecurringOrder' }} >
                                        <strong>{% trans "View or edit monthly projects" %}</strong>
                                    </a>
                                {{/view}}
                            </div>
                        </li>
                    </ul>
                </fieldset>

                {{#if saved }}
                    <span class="left"><em class="flaticon solid checkmark-1"> {% trans "Monthly settings saved" %}</em></span>
                {{/if}}

                <button class="btn btn-iconed btn-primary right" {{action 'save' model}}>
                    <em class="flaticon solid checkmark-1"></em>
                    {{saveButtonText}}
                </button>
            {{/if }}

            <div class="order-history lined-list">
            <h2 class="form-summary">Order History</h2>
            <!-- TODO isolate! -->
                {{#if closedOrders.isLoaded }}
                    <ul>
                        {{#each order in closedOrders}}
                            <li>
                                <small>{{localize order.created formatting='d'}}</small>
                                {{#if order.recurring }} {% trans "Monthly Donation" %} {{ else }} {% trans "Single Donation" %} {{/if}} <strong> &euro;{{ order.total }},-</strong>
                                <ul class="order-donations">
                                    {{#each donation in order.donations}}
                                        <li>
                                            <a {{action showProject donation.project.id}}>
                                                {{donation.project.title}}
                                            </a>
                                            <small> &euro;{{ donation.amount }},-</small>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <span class="loading-small"><img src="{% get_static_prefix %}images/loading.gif" /> {% trans "Loading order history" %}</span>
                {{/if}}
            </div>

		</form>
    </div>
</section>

{% endtplhandlebars %}





{% tplhandlebars "user_modal" %}
    <div class="user-modal-sidebar">
        <img {{bindAttr src="getAvatar" info="first_name"}} width="100" height="100" />

        <h2>{{ first_name }} {{ last_name }}</h2>

        <p class="um-member-since">{% trans "Member since" %} {{user_since}}</p>
    </div>

    <div class="user-modal-content">
        {{#if about }}
            <h3>{% trans "About" %}</h3>
            <p>{{ about }} </p>
        {{/if}}

        {{#if why }}
            <h4>{% blocktrans %}Joined 1%Club because{% endblocktrans %}</h4>
            <p>{{ why }} </p>
        {{/if}}

        <div class="um-list">
            {{#if location }}
                <div class="um-list-item">
                    <em class="flaticon solid location-pin-1"></em>
                    <span class="key">{% trans "Location" %}</span>
                    <span class="value">{{ location }}</span>
                </div>
            {{/if}}

            {{#if availability }}
                <div class="um-list-item">
                    <em class="flaticon solid clock-1"></em>
                    <span class="key">{% trans "Time available" %}</span>
                    <span class="value">{{ availability }}</span>
                </div>
            {{/if}}
        </div>

        <div class="um-meta">
            {{#if website }}
                <span class="um-meta-item website">
                    <a {{bindAttr href="website"}} target="_blank"><em class="flaticon solid link-3"></em>  {{website}}</a>
                </span>
            {{/if}}
        </div>
    </div>
{% endtplhandlebars %}