{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "page" %}

    {{#if full_page}}
        {{{body}}}
    {{else}}
        <div class="l-section" id="page">
            <section class="l-wrapper">
                    <article class="l-content">
                        <header class="page-header">
                            <h1>{{title}}</h1>
                        </header>
                        {{{body}}}
                    </article>

                    <sidebar class="l-sidebar page-nav">
                        <h3>{% blocktrans %}About 1%Club {% endblocktrans %}</h3>
                        <ul>
                            <li><a {{action showPage 'story'}} href="/#!/pages/story">{% trans "Our Story" %}</a></li>
                            <li><a {{action showPage 'faq'}} href="/#!/pages/faq">{% trans "Frequently Asked Questions" %}</a></li>
                            <li><a {{action showPage 'meet-team'}} href="/#!/pages/meet-team">{% trans "Meet the team" %}</a></li>
                            <li><a {{action showPage 'partners'}} href="/#!/pages/partners">{% trans "Partners" %}</a></li>
                            <li><a {{action showPage 'press'}} href="/#!/pages/press">{% trans "Press" %}</a></li>
                            <li><a {{action showPage 'work'}} href="/#!/pages/work">{% trans "Work at 1%Club" %}</a></li>
                            <li>{{#link-to 'contactMessage'}}{% trans "Contact" %}{{/link-to}}</li>
                        </ul>
                    </sidebar>
            </section>
        </div>
    {{/if}}
{% endtplhandlebars %}