{% load bb_ember i18n static %}

{% tplhandlebars "adyenCreditcard" %}
    <form>
        {{!-- {{view.content.provider}} - {{view.content.name}} --}}
        <div class="row">
            <div class="col12">
                <span>{% blocktrans %}Full name (as on Card){% endblocktrans %}</span>
                {{input valueBinding="model.cardOwner" placeholder=view.cardOwner classBinding="errorList.cardOwner.length:error"}}
            </div>
        </div>

        <div class="row">
            <div class="col12">
                <span>{% blocktrans %}Card Number{% endblocktrans %}</span>
                {{input valueBinding="model.cardNumber" placeholder=view.cardNumber classBinding="errorList.cardNumber.length:error"}}
            </div>
        </div>

        <div class="row">
            <div class="col8">
                <span>{% blocktrans %}Expiration Date {% endblocktrans %}</span>
            </div>
            <div class="col4">
                <span>CVC</span>
            </div>
        </div>

        <div class="row">
            <div class="col4">
                {{input valueBinding="model.expirationMonth" placeholder=view.expirationMonth classBinding="errorList.expirationMonth.length:error"}}
            </div>
            <div class="col4">
                {{input valueBinding="model.expirationYear" placeholder=view.expirationYear classBinding="errorList.expirationYear.length:error"}}
            </div>
            <div class="col4">
                {{input valueBinding="model.cvcCode" placeholder=view.cvc classBinding="errorList.cvcCode.length:error"}}
            </div>
        </div>
    </form>
{% endtplhandlebars %}