{% load bb_ember i18n %}


{% tplhandlebars "_standard_order_login_content" %}
    <div {{bindAttr class=":modal-fullscreen-content"}}>
	  <span {{action "modalFlip" "orderSignup"}} class="modal-fullscreen-back"></span>
        <span {{action "close"}} class="modal-fullscreen-close"></span>

        <h4>{{loginTitle}}</h4>
        
        {{partial "social_login_errors"}}
        {{partial "social_logins"}}
        {{partial "standard_login_form"}}
        {{partial "standard_login_errors"}}
    </div>
{% endtplhandlebars %}