{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "terms_modal" %}

    <div {{bindAttr class=":modal-fullscreen-content contents:terms"}}>
        <span {{action 'closeModal'}} class="modal-fullscreen-close"></span>
        <h4>{% trans 'Privacy policy' %}</h4>
        <small>
            {% blocktrans %}
                Please review and accept our latest Terms & Conditions. 
            {% endblocktrans %}
        </small>
        <div id="profile-preview">
            <div class="modal-body">
                <div class="terms-contents">
                    {{{contents}}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-fullscreen-footer terms">
        <div class="profile-preview-actions">
            {{#if currentUser.agreedToTerms.created}}
                <div class="row">
                    <div class="col9">
                        <div class="profile-preview-agreed">
                            {{#if currentUser.agreedToTerms.created}}
                                {% trans 'You have already agreed to these terms on ' %}
                                {{localize currentUser.agreedToTerms.created formatting='d'}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="col3">
                        <a {{action 'close'}} class="btn close-terms">{% trans "Close" %}</a>
                    </div>
                </div>
            {{else}}
                <a {{action 'rejectTerms'}} data-action-type="reject-terms" class="btn">
                    {% trans "Cancel" %}
                </a>
                <a {{action 'acceptTerms'}} data-action-type="accept-terms" class="btn">
                    {% trans 'Agree' %}
                </a>
            {{/if}}
        </div>
    </div>

{% endtplhandlebars %}
