{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "terms_modal" %}

    <div {{bindAttr class=":modal-fullscreen-content contents:terms"}}>
        <div id="profile-preview">
            <div class="modal-header">
                <header class="profile-header">
                    <h3 class="member-name">{% trans 'Privacy policy' %}</h3>
                </header>
            </div>

            <div class="modal-body">
                <div class="terms-contents">
                    {{{contents}}}
                </div>
            </div>

            <br/>
            <div class="modal-footer profile-preview-actions">
            {{#if currentUser.agreedToTerms.created}}
                <a {{action 'close'}} class="close-link" rel="close">&times; {% trans "Close" %}</a>
            {{else}}
                <a {{action 'rejectTerms'}} data-action-type="reject-terms" class="close-link" rel="close">&times; {% trans "I don't agree to this" %}</a>
                <a {{action 'acceptTerms'}} data-action-type="accept-terms" class="go-to-profile" rel="close">
                    {% trans 'Agree' %}&nbsp;&rsaquo;
                </a>
            {{/if}}

            </div>
            {{#if currentUser.agreedToTerms.created}}
                <br/>
                {% trans 'You have already agreed to these terms on ' %}
                {{localize currentUser.agreedToTerms.created formatting='d'}}
            {{/if}}
        </div>
    </div>

{% endtplhandlebars %}
