{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "terms_modal" %}

    <div {{bindAttr class=":modal-fullscreen-content"}}>
        <span {{action 'close'}} class="modal-fullscreen-close"></span>
        <div id="profile-preview">
            <div class="modal-header">
                <header class="profile-header">
                    <h3 class="member-name">{% trans 'Privacy policy' %}</h3>
                </header>
            </div>

            <div class="modal-body">
                <div class="terms-contents">
                    {{{contents}}}
                </div>
                {{#unless agreement}}
                    {{checkbox}} {% trans 'Agree' %}
                {{/unless}}

            </div>


            <div class="modal-footer profile-preview-actions">
            {{#if agreement}}
                {% trans 'You have already agreed to these terms.' %}
                {{aggreement.created}}
                <a {{action 'close'}} class="close-link" rel="close">&times; Close</a>
            {{else}}
                <a {{action 'close'}} class="close-link" rel="close">&times; Close</a>
                <a {{action 'agree'}} class="go-to-profile" rel="close">
                    {% trans 'Agree' %}&nbsp;&rsaquo;
                </a>
            {{/if}}

            </div>
        </div>
    </div>

{% endtplhandlebars %}
