{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "my_project_media" %}

    <legend>
        <strong>{% trans "Project media" %}</strong>
        <p>
            {% blocktrans %}Do you know that 90% of the information transmitted to the brain is visual? Visuals are processed 60.000 times faster in the brain than text. Wow! Make sure you picture says it all.{% endblocktrans %}
        </p>
    </legend>

    <fieldset>
        <ul>
            {{bb-upload-image hint='Upload the picture that best describes your campaign.'
                fileBinding=image image_url=image.large label='Picture' buttonLabel='Upload picture' errors=errors.image}}

            {{bb-video-link hint='Add here a video pitch if you want. Make it sparkling! Your energy will be your best selling point.'
                valueBinding=video_url video_html=video_html label='Video' errors=errors.video}}
        </ul>
    </fieldset>

    {{#if isDirty}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>
    {{else}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action goToNextStep}}><span class="flaticon solid right-2"></span>{% trans "Next" %}</button>
    {{/if}}


{% endtplhandlebars %}
