{% load bb_ember i18n %}

{% tplhandlebars "userSettings" %}

{{#if isLoaded}}
    <form>
        <legend>
            {% block form_meta %}
                <strong>{% trans "Edit your account" %}</strong>
                <p>{% trans "These are the details we currently have for you – update or change them below." %}</p>
            {% endblock form_meta %}
        </legend>

        {% block_verbatim email_fieldsets %}
        <fieldset>
            <ul>
                <li class="control-group">
                    <label class="control-label">
                        {% trans "Email Address" %}
                    </label>

                    <div class="controls">
                        {{view Em.TextField valueBinding="email" 
                        classBinding="errors.email.length:error"}}
                    </div>

                    {{#if errors.email}}
                        <div class="has-errors">{{#each errors.email}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>
            </ul>
        </fieldset>
        {% endblock_verbatim email_fieldsets %}


        {% block_verbatim fieldsets %}
            <fieldset>
                <ul>
                    <li class="control-group">
                        <label class="control-label">
                            {% trans "I'd like to receive emails about" %}
                        </label>

                        <div class="controls checkbox-group">
                            <label class="checkbox" for="newsletter">
                                {{view Em.Checkbox checkedBinding="newsletter" elementId="newsletter" }}
                                <span>
                                {% block site_name %}
                                    {% trans "&lt;Organisation-name&gt;" %}
                                {% endblock site_name %}
                                </span>
                            </label>
                        </div>
                    </li>
                </ul>
            </fieldset>

            <fieldset>
                <ul>
                    <li class="control-group">
                        <label class="control-label">
                            {% trans "Account type" %}
                        </label>

                        <div class="controls">
                            {{view Em.Select
                                contentBinding="userTypeList"
                                optionValuePath="content.value"
                                optionLabelPath="content.name"
                                valueBinding="user_type"}}
                        </div>

                        {{#if errors.user_type}}
                            <div class="has-errors">{{#each errors.user_type}}<p>{{this}}</p>{{/each}}</div>
                        {{/if}}
                    </li>

                    <li class="control-group">
                        <label class="control-label">
                            {% trans "Primary language" %}
                        </label>

                        <div class="controls">
                            {{view Em.Select
                                contentBinding="App.interfaceLanguages"
                                optionValuePath="content.code"
                                optionLabelPath="content.name"
                                valueBinding="primary_language"}}
                        </div>

                        {{#if errors.primary_language}}
                            <div class="has-errors">{{#each errors.primary_language}}<p>{{this}}</p>{{/each}}</div>
                        {{/if}}
                    </li>

                    <li class="control-group">
                        <label class="control-label">
                            {% trans "I want to share" %}
                        </label>

                        <div class="controls checkbox-group two">
                            <label class="checkbox" for="shareTimeKnowledge">
                                {{view Em.Checkbox checkedBinding="share_time_knowledge" elementId="shareTimeKnowledge" }}
                                <span>{% trans "Time & Knowledge" %}</span>
                            </label>
                            <label class="checkbox" for="shareMoney">
                                {{view Em.Checkbox checkedBinding="share_money" elementId="shareMoney" }}
                                <span>{% trans "Money" %}</span>
                            </label>
                        </div>
                    </li>
                </ul>
            </fieldset>

            {% block personal_details %}
                {% include "bb_accounts/account_personal_details.hbs" %}
            {% endblock personal_details %}
            
        {% endblock_verbatim fieldsets %}

        {{#if saved}}
            <div class="is-saved"><span class="flaticon solid checkmark-1"></span> <strong>{% trans "Account settings saved" %}</strong></div>
        {{/if}}

        <button {{bind-attr class=":btn :btn-iconed :btn-primary :btn-save isDirty::disabled"}} {{action 'save' model}}>
            <span class="flaticon solid checkmark-1"></span>
            {{saveButtonText}}
        </button>
    </form>

{{else}}
    <div class="is-loading-big">Loading&#8230;</div>
{{/if}}

{% endtplhandlebars %}