{% load bb_ember i18n %}

{% tplhandlebars "password_request" %}

    <div class="modal-fullscreen-content">

        {{#if failedToken}}
            <span {{action 'close'}} class="modal-fullscreen-close"></span>
            <h4>{% blocktrans %}This link is expired, please request a new one.{% endblocktrans %}</h4>
        {{else}}
            <span {{action 'modalSlide' 'login'}} class="modal-fullscreen-back"></span>
            <span {{action 'close'}} class="modal-fullscreen-close"></span>
            <h4>{{requestResetPasswordTitle}}</h4>
        {{/if}}
        <p>{% blocktrans %}To reset your password, enter the email address you use to sign in.{% endblocktrans %}</p>


        {{input valueBinding="email" type="text" name="email" classBinding="errorList.email.length:error" maxlength="254" placeholder=App.translatables.placeholders.email}}

        <a {{action 'requestReset'}} {{bindAttr class="isBusy:is-loading blockingErrors:is-inactive :btn"}}>{% trans "Continue" %}</a>

        {{#if error}}
            <div class="modal-flash-message error single-item">
                {{error}}
            </div>
        {{/if}}

    </div>
    <div class="modal-fullscreen-footer">
        <span class="modal-btn-signup" href="#">
            {% trans "Don’t have an account?" %}
            <a {{ action 'modalFlip' 'signup' }} {{bindAttr class='loading:disable :flip-back'}}>
                {% trans "Sign up here" %}
            </a>
        </span>
    </div>

{% endtplhandlebars %}


