{% load bb_ember i18n static %}


{% tplhandlebars "_donation_amount" %}
    <div {{bindAttr class=":modal-fullscreen-content"}}>
		<span {{action 'closeModal'}} class="modal-fullscreen-close"></span>
		<h4>{% blocktrans %}Thanks for supporting this cause!{% endblocktrans %}</h4>
		<big>{% blocktrans %}Select or type the amount you would like to give.{% endblocktrans %}</big>
		<div class="row donation-amount">
			<div class="col4 input">
				<form>
                    {{input valueBinding="amount" classBinding=":donation-input errorList.amount.length:error" placeholder=defaultAmount}}
				</form>
			</div>
			<div class="col8">
				<div class="row donation-buttons">
					<div class="col4"><a {{action 'changeAmount' 50}} class="btn btn-donate">&euro; 50,-</a></div>
					<div class="col4"><a {{action 'changeAmount' 75}} class="btn btn-donate">&euro; 75,-</a></div>
					<div class="col4"><a {{action 'changeAmount' 100}} class="btn btn-donate">&euro; 100,-</a></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col12">
                <a {{ action 'nextStep' }} {{bindAttr class=":btn :btn-sec :donate-btn blockingErrors:is-inactive"}} name="login">{% trans "Donate now" %}</a>
			</div>
		</div>
        {{ partial "_donation_errors" }}
	</div>

    <div class="modal-fullscreen-footer">
        <div class="modal-hide-name">
            <label for="hideMyName" class="modal-checkbox">
                <input type="checkbox" id="hideMyName">
                <span></span>
                {% trans "I'd like to support anonymous."%}
            </label>
        </div>
    </div>
{% endtplhandlebars %}

