{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "donation_wall_post" %}
    <div class="wallpost-form">
        <div class="wallpost-message">
            <div class="wallpost-header">
                <div class="row">
                    <div class="col9 wallpost-header-title">
                        <strong>{{formTitle}}</strong>
                    </div>
                    <div class="col3 wallpost-header-count">
                        <span class="count-words">0</span>
                         / 
                        <span class="total-words">140</span>
                    </div>
                </div>
            </div>
            <div class="wallpost-message-area">
                {{view Ember.TextArea valueBinding="text" cols="50" rows="4" maxlength="140" name="wallpost-update" classBinding="errors.text.length:error :wallpost-textarea" placeholder="Your comment"}}
            </div>
        </div>

        {{#if errors.text }}
            <div class="errors">{{#each errors.text }}<p>{{this}}</p>{{/each}}</div>
        {{/if}}

        <div class="wallpost-buttons">
            <div class="row">
                <div class="col12">
                    <div class="btn-group">
                        <button class="btn is-inactive" {{action 'closeModal'}}>{% trans "No, thanks" %}</button>
                        <button {{bind-attr class="isSaving:is-loading :btn"}} {{action 'saveWallPost'}}>{% trans "Leave Message" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endtplhandlebars %}
