{% load bb_ember i18n static %}

{% tplhandlebars "donation_success" %}
    <div id="donation-success" class="modal-fullscreen-content">
        {{#if view.supported}}
            {{bb-backdrop bgImage=project.image.large}}
        {{else}}
            {{bb-backdrop-fallback bgImage=project.image.large}}
        {{/if}}
        
        <span {{action 'closeModal'}} class="modal-fullscreen-close"></span>
        <span class="donor-name">{{currentUser.full_name}}</span>
        <h4>{% trans "Thanks for your support" %}</h4>
        <div class="top-icon"><img {{bindAttr src="currentUser.getAvatar"}} /></div>

        {{#if fundraiser}}
            {{bb-modal-text-wallpost-new parentType='fund raiser' close="closeModal" parentId=fundraiser.id addWallpost='addWallpost'}}
        {{else}}
            {{bb-modal-text-wallpost-new parentType='project' close="closeModal" parentId=project.id addWallpost='addWallpost'}}
        {{/if}}
{{!--         <div class="donation-share">
            <p>{% trans "Be sure to share this campaign with your network" %}</p>
            <ul>
                <li><a class="share-facebook" href="#">Facebook</a></li>
                <li><a class="share-twitter" href="#">Twitter</a></li>
            </ul>
        </div> --}}
    </div>

{% endtplhandlebars %}
