{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "project_task_preview" %}

    <li class="task-item">
    	{{#linkTo 'projectTask' task}}

    	    <h2 class="task-category"><span class="flaticon solid wrench-1"></span> {{task.skill.name}}</h2>

    	    <span class="task-header">
                <span class="task-image">
                	<img {{bindAttr src="project.image" }} />
            	</span>
                <span class="task-title">
                	<h3>{{task.title}}</h3>
                	<h4>{{project.title}}</h4>
                </span>
            </span>

	        <div class="task-status">
	            <ul class="task-meta">
	                <li>
	                    {{#if task.isStatusOpen}}
	                        <span class="flaticon solid clipboard-1"></span>
	                        {% trans "Open" %}
	                    {{/if}}
	                    {{#if task.isStatusInProgress}}
	                        <span class="flaticon solid upload-to-clipboard-1"></span>
	                        {% trans "Running" %}
	                    {{/if}}
	                    {{#if task.isStatusClosed}}
	                        <span class="flaticon solid delete-from-clipboard-1"></span>
	                        {% trans "Closed" %}
	                    {{/if}}
	                    {{#if task.isStatusRealized}}
	                        <span class="flaticon solid clipboard-checkmark-1"></span>
	                        {% trans "Realised" %}
	                    {{/if}}

	                </li>
	                {{#unless task.isStatusRealized}}
	                <li>
	                	<span class="flaticon solid calendar-1"></span>
	                    {{ localize task.deadline formatting="X" }}
	                </li>
	                {{/unless}}
	                <li>
	                    <span class="flaticon solid watch-1"></span>
	                    {{ task.timeNeeded }}
	                </li>
	                <li>
	                	<span class="flaticon solid location-pin-1"></span>
	                	{{project.country.name}}
	                </li>
	            </ul>
	        </div>

	        <div class="task-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed aliquam lacus, at luctus lacus. Pellentesque pellentesque nibh ac lacus mollis, nec fringilla nunc pharetra. Suspendisse et metus at lacus interdum pharetra ac aliquet libero. Donec dignissim et nunc vel gravida.</div>

    	{{/linkTo}}
    </li>

{% endtplhandlebars %}


{% tplhandlebars "projectTasks" %}

    <div class="l-section">
        <section class="l-wrapper">
            {{ outlet }}
        </section>
    </div>
{% endtplhandlebars %}


{% tplhandlebars "projectTasks/index" %}

    {{# if isOwner}}
    <div class="owner-actions">

        <header>
            <h3>{% trans "You're the project owner" %}</h3>
            <p>{% trans "You can add a new task" %}.</p>
        </header>

        {{#linkTo 'taskNew' class="btn btn-primary btn-iconed task-add"}}
            <span class="flaticon solid plus-1"></span>
            {% trans "Add a task" %}
        {{/linkTo}}
    </div>
    {{/if}}

    <ul id="search-results">
        {{#each task in controller}}
            {{render taskPreview task}}
        {{else}}
            <li class="no-results">{% trans "No tasks currently available for this project" %}.</li>
        {{/each}}
    </ul>

{% endtplhandlebars %}