{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task_member_edit" %}

    {{# if motivation}}
    <p>
        <strong>{{member.short_name}} {% trans "said:" %}</strong><br />
        <blockquote>{{ motivation }}</blockquote>
    </p>
    {{/if}}

    {{#view Em.RadioButtonGroup class="radio-select four" name="status" selectedValueBinding="status"}}
        <label for="status_applied" class="radio tooltip-holder">
            {{view view.RadioButton value="applied" id="status_applied"}}
            <span>{% trans "Applied" %}</span>
            <div class="tooltip alt">{% trans "Select this status when a member has applied for this task." %}</div>
        </label>
        <label for="status_accepted" class="radio tooltip-holder">
            {{view view.RadioButton value="accepted" id="status_accepted"}}
            <span>{% trans "Accept" %}</span>
            <div class="tooltip alt">{% trans "Select this status when you accept this member to participate in this task." %}</div>
        </label>
        <label for="status_rejected" class="radio tooltip-holder">
            {{view view.RadioButton value="rejected" id="status_rejected"}}
            <span>{% trans "Reject" %}</span>
            <div class="tooltip alt">{% trans "Select this status when you cannot accept this member." %}</div>
        </label>
        <label for="status_realised" class="radio tooltip-holder">
            {{view view.RadioButton value="realized" id="status_realised"}}
            <span>{% trans "Realised" %}</span>
            <div class="tooltip alt">{% trans "Great! Select this status if this member participated in this task" %}</div>
        </label>
    {{/view}}

{% endtplhandlebars %}
