{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project" %}

<div id="project-detail">
    <div class="l-section detail project-detail-main">
        <section class="l-wrapper">

            {{# if video_html }}
            <figure class="project-image">
                {{{ video_html }}}
            </figure>
            {{ else }}
            <figure class="project-image">
                <img {{bindAttr src="image.large"}} width="100%" alt="Photo" />
            </figure>
            {{/if}}

            <article class="project-info">
				
                <div class="project-meta">
					{{!--}}
					<span class="project-deadline"><span class="flaticon stroke time-1"></span> {{daysToGo}}</span>
					{{--}}
                    <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{country.name}}</span>
                    <span class="project-theme"><span class="flaticon solid tag-2"></span> {{theme.name}}</span>
                </div>
				
                <h1 class="project-title">{{title}}</h1>
				<p class="project-plan-link"><span class="flaticon solid book-4"></span><a>{% trans "Read full project plan" %}</a>
                <p class="project-description">{{pitch}}</p>
				{{!--}}
				<p class="project-plan-link"><span class="flaticon solid book-4"></span> {{#link-to 'projectPlan'}}{% trans "Read full project plan" %}{{/link-to}}
				{{--}}
            </article>
        </section>
	</div>
	
    <div class="l-section detail" id="project-members">
        <section class="l-wrapper">
		
		    <ul class="member-list">
		        <li class="member-initiator">
		            <ul>
		                <li>
		                    <a {{action 'openInBigBox' 'userModal' owner }} class="member">
		                        <figure class="member-avatar"><img {{bindAttr src="owner.getAvatar"}} /></figure>
		                        <h4>{% trans "Initiator" %}</h4>
		                        <strong class="member-name">{{owner.full_name}}</strong>
		                    </a>
		                </li>
		            </ul>
		        </li>
			</ul>
			{{#if deadline}}
			{{#unless overDeadline}}
			<div class="project-deadline">
				<span class="flaticon solid stopwatch-1"></span>
				<span class="text">
					<big>{{daysToGo}}</big> day(s) left<br />
					<small>to support this project</small>
				</span>
			</div>
			{{/unless}}
			{{/if}}
		</section>
    </div>
	
	{{render "projectPlan" this}}
   	
	<!-- <div id="project-plan-modal" class="modal"> -->
	<!-- </div> -->
	
</div>
{% endtplhandlebars %}