{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "quote_list" %}
   <style type="text/css">
   /*
     This CSS is only useful to deal with quotes animated by this template.
     That is why it is included in this file and not on an external CSS
     file since it's purpose is directly related to this template.
   */
   .quote{
	overflow-x: hidden;
	overflow-y: hidden;
   }
   </style>


    <div class="l-section home-quotes">
        <section class="l-wrapper">
            <div class="l-full">

                <header class="section-header">
                	<h1>{% trans "Share a little." %} <em>{%  trans "Change the world." %}</em></h1>
            	</header>

                <div class="quote" id="quote-a">
                    <figure>
                        <img {{ bindAttr src="quote.user.getAvatar" alt="quote.user.full_name" }} />
                    </figure>

                    <article>
                        <p class="quote-name">{{ quote.user.full_name }}</p>
                        <p class="quote-content">{{ quote.quote }}</p>
                    </article>
                </div>

		<div class="quote" id="quote-b">
                    <figure>
                        <img {{ bindAttr src="next_quote.user.getAvatar" alt="quote.user.full_name" }} />
                    </figure>

                    <article>
                        <p class="quote-name">{{ next_quote.user.full_name }}</p>
                        <p class="quote-content">{{ next_quote.quote }}</p>
                    </article>
                </div>

                {{#linkTo 'projectList' class="btn btn-iconed one"}}
                    <span class="flaticon stroke zoom-2"></span> {% trans "Find projects" %}
                {{/linkTo}}

    			{{#linkTo 'taskList' class="btn btn-iconed two"}}
                    <span class="flaticon solid wrench-1"></span> {% trans "Find tasks" %}
                {{/linkTo}}
                {{#link-to "myProject" 'new' tagName="button" class="btn btn-primary btn-iconed"}}
                    <span class="flaticon solid lightbulb-3"></span>
                    {% trans "Pitch a new smart idea" %}
                {{/link-to}}
            </div>
        </section>
    </div>


{% endtplhandlebars %}

