{% load i18n %}
{% load bb_ember %}
{% load static %}

{% tplhandlebars "application" %}
    {{bb-flash data=flash}}
    
    <!-- global site -->
    <div id="main">

        <!-- global header -->
        <div id="header" {{bindAttr class=":l-section currentPath:" }}>
            <header class="l-wrapper">

                <!-- logo -->
                <div id="logo">
                    {% block_verbatim nav_logo %}
                        {{partial "main_logo"}}
                    {% endblock_verbatim %}
                </div>
                <!-- end: logo -->

                <!-- main navigation -->
                <nav id="nav">
                    {{partial "main_nav"}}
                    {{partial "account_nav"}}
                </nav>
                <!-- end: main navigation -->

                
            </header>
            {{#if sub_menu}}
                {{renderFromVariable sub_menu}}
            {{/if}}

            {{#if display_message}}

                <div {{bindAttr class=":message l-full isError"}}>
                    <a {{ action 'hideMessage' }} class="message-close" rel="close">&times;</a>

                    <div class="message-title">
                        {{ message_title }}
                    </div>

                    <div class="message-content">
                        {{ message_content }}
                    </div>
                </div>

            {{/if}}
        </div>

        <!-- end: main header -->

        <!-- main content -->
        <div id="content">
            {{outlet}}
        </div>
        <!-- end: main content -->

    </div>
    {{partial "footer"}}

    {{outlet "modalContainer"}}
{% endtplhandlebars %}