{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "_my_task_preview" %}
    <li class="project-list-item">
        <div class="project-header">
            <figure class="project-image">
                {{#if task.project.image.square}}
                    <img {{bindAttr src="task.project.image.square" alt="task.title"}} />
                {{else}}
                    {{#if task.project.image}}
                        <img {{bindAttr src="task.project.image" alt="task.title"}} />
                    {{else}}
                        &nbsp;
                    {{/if}}
                {{/if}}
            </figure>
            <div class="project-info">
                <h2 class="project-title">
                    {{task.title}}
                </h2>
                {{#link-to 'task' task.id}}
                    <span class="flaticon solid eye-1"></span>
                    {% trans "View task" %}
                {{/link-to}}
            </div>
        </div>
    </li>
{% endtplhandlebars %}