{% load bb_ember i18n static %}

{% tplhandlebars "_task_detail_member_partial" %}

    <article class="wallpost important">
    
        <header class="wallpost-header">
    
            <div class="wallpost-member">
                <a {{action openInBigBox "userModal" member}} class="member">
                    <figure class="member-avatar">
                        <img {{bindAttr src=member.getAvatar}} alt="member.full_name"}} />
                    </figure>
                </a>
            </div>
    
            <div class="wallpost-meta">
                <h3 class="wallpost-author">{{member.full_name}}</h3>
            </div>
    
            <h2 class="wallpost-title">
                {% trans "Status" %}: {{statusLabel}}
            </h2>
        </header>
    
        <div class="wallpost-content">
    
            <div class="text">
                <strong>{% trans "Motivation" %}:</strong> {{motivation}}
    
            </div>
    
        </div>
    
    
        {{#if canWithdraw }}
            <div class="wallpost-buttons">
                <a class="btn wallpost-action-decline withdraw" {{action 'withdrawTaskMember' this}}>
                    {% trans "Withdraw" %}
                </a>
            </div>
        {{/if}}
    
    
        {{#if isStatusApplied}}
            {{#if canEditStatus }}
            <div class="wallpost-buttons">
                <a class="btn wallpost-action-accept" {{action 'editTaskMember' this}}>
                    {% trans "Accept" %}
                </a>
                <span class="status">{% trans "Application pending..." %}</span>
            </div>
            {{/if}}
        {{else}}
            <div class="wallpost-buttons">
            {{#if confirmation }}
                 <a class="btn wallpost-action-decline confirm" {{action 'confirmMember' this}}>
                    {% trans "Confirm" %}
                </a>
                <a class=" dnc" {{action 'didNotComplete' this}}>
                    {% trans "Did not complete" %}
                </a>
            {{ else }}
                {{#if canEditStatus}}
                    <a class="btn wallpost-action-decline" {{action 'editTaskMember' this}}>
                        {% trans "Edit status" %}
                    </a>
                {{/if}}
            {{/if}}
            </div>
        {{/if}}
    
    </article>
{% endtplhandlebars %}