{% load bb_ember i18n static %}

{% tplhandlebars "_task_detail_member_partial" %}

<article class="wallpost important">

    <header class="wallpost-header">

        <div class="wallpost-member">
            <a {{action openInBigBox "userModal" member}} class="member">
                <figure class="member-avatar">
                    <img {{bindAttr src=member.getAvatar}} alt="member.full_name"}} />
                </figure>
            </a>
        </div>

        <div class="wallpost-meta">
            <h3 class="wallpost-author">{{member.full_name}}</h3>
        </div>

        <h2 class="wallpost-title">
            {% trans "Status" %}: {{status}}
        </h2>
    </header>

    <div class="wallpost-content">

        <div class="text">
            <strong>{% trans "Motivation" %}:</strong> {{motivation}}

        </div>

    </div>

    {{#if controller.controllers.task.canEdit}}
        {{#if isStatusApplied}}
            <div class="wallpost-buttons">
                <a class="btn wallpost-action-accept" {{action 'editTaskMember' this}}>
                    {% trans "Accept" %}
                </a>
                <span class="status">{% trans "Application pending..." %}</span>
            </div>
        {{else}}
            <div class="wallpost-buttons">
                <a class="btn wallpost-action-decline" {{action 'editTaskMember' this}}>
                    {% trans "Edit status" %}
                </a>
            </div>
        {{/if}}
    {{/if}}

</article>
{% endtplhandlebars %}