{% load bb_ember i18n static %}


{% tplhandlebars "myTaskList" %}

    <div class="l-section">
        <section class="l-wrapper">
            {{#if model.isLoaded}}
                <ul id="search-results">
                    {{#each itemController="myTaskMember"}}

                        <dl>
                            <dt>{% trans "Task" %}</dt>
                            <dd>{{task.title}} ({{task.project.title}})</dd>
                            <dt>{% trans "Status" %}</dt>
                            <dd>{{statusLabel}}</dd>
                            <dt>{% trans "Time spent (in hours)" %}</dt>
                            <dd>
                                {{#if isEditing}}
                                    <input class="edit" {{bind-attr value=task.time_needed}}>
                                {{else}}
                                    <label {{action 'editTimeSpent' on="doubleClick"}}>{{time_spent}}</label>
                                {{/if}}
                            </dd>
                        </dl>

                    {{else}}
                        <li class="no-results">{% trans "No tasks found." %}</li>
                    {{/each}}
                </ul>
            {{else}}
                <div class="is-loading-big"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Loading your tasks..." %}</strong></div>
            {{/if}}
        </section>
    </div>

{% endtplhandlebars %}