{% load bb_ember i18n static %}


{% tplhandlebars "myTaskList" %}

    <div class="l-section">
        <section class="l-wrapper">

            {{#if ownerTasks.isLoaded}}
                <h3>{% trans "Tasks you created" %}</h3>
                <ul id="search-results">
                    {{#each task in ownerTasks}}
                        <li>
                            <dl>
                                <dt>{% trans "Task" %}</dt>
                                <dd>
                                    {{#link-to 'task' task}}
                                        {{task.title}}
                                    {{/link-to}}
                                </dd>
                                <dt>{% trans "Project" %}</dt>
                                <dd>
                                    {{#link-to 'project' task.project.id}}
                                        {{task.project.title}}
                                    {{/link-to}}
                                </dd>
                                <dt>{% trans "Status" %}</dt>
                                <dd>{{task.status}}</dd>
                            </dl>
                        </li>
                    {{else}}
                        <li class="no-results">{% trans "No tasks found." %}</li>
                    {{/each}}
                </ul>
            {{else}}
                <div class="is-loading-big"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Loading your tasks..." %}</strong></div>
            {{/if}}


            {{#if memberTasks.isLoaded}}
                <h3>{% trans "Tasks you joined" %}</h3>
                <ul id="search-results">
                    {{#each memberTasks}}
                        <li>
                            <dl>
                                <dt>{% trans "Task" %}</dt>
                                <dd>
                                    {{#link-to 'task' task}}
                                        {{task.title}}
                                    {{/link-to}}
                                </dd>
                                <dt>{% trans "Project" %}</dt>
                                <dd>
                                    {{#link-to 'project' task.project.id}}
                                        {{task.project.title}}
                                    {{/link-to}}
                                </dd>
                                <dt>{% trans "Status" %}</dt>
                                <dd>{{task.status}}</dd>
                            </dl>
                        </li>
                    {{else}}
                        <li class="no-results">{% trans "No tasks found." %}</li>
                    {{/each}}
                </ul>
            {{else}}
                <div class="is-loading-big"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Loading your tasks..." %}</strong></div>
            {{/if}}

        </section>
    </div>

{% endtplhandlebars %}