{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task_preview" %}

    <li class="task-item">
    	{{#link-to 'task' id}}

            <h2 class="task-category"><span class="flaticon solid wrench-1"></span> {{task.skill.name}}</h2>

            <span class="task-header">
                <span class="task-image">
                	<img {{bind-attr src="image" }} />
            	</span>
                <span class="task-title">
                	<h3>{{task.title}}</h3>
                	<h4>{{project.title}}</h4>
                </span>
            </span>

	        <div class="task-status">
	            <ul class="task-meta">
	                <li>
	                    {{#if task.isStatusOpen}}
	                        <span class="flaticon solid clipboard-1"></span>
	                        {% trans "Open" %}
	                    {{/if}}
	                    {{#if task.isStatusInProgress}}
	                        <span class="flaticon solid upload-to-clipboard-1"></span>
	                        {% trans "Running" %}
	                    {{/if}}
	                    {{#if task.isStatusClosed}}
	                        <span class="flaticon solid delete-from-clipboard-1"></span>
	                        {% trans "Closed" %}
	                    {{/if}}
	                    {{#if task.isStatusRealized}}
	                        <span class="flaticon solid clipboard-checkmark-1"></span>
	                        {% trans "Realised" %}
	                    {{/if}}

	                </li>
	                {{#unless task.isStatusRealized}}
	                <li>
	                	<span class="flaticon solid calendar-1"></span>
	                    {{ localize task.deadline formatting="X" }}
	                </li>
	                {{/unless}}
	                <li>
	                    <span class="flaticon solid watch-1"></span>
	                    {{ task.timeNeeded }}
	                </li>
	                <li>
	                	<span class="flaticon solid location-pin-1"></span>
	                	{{project.country.name}}
	                </li>
	            </ul>
	        </div>

	        <div class="task-description">
	            {{task.description}}

    	        <span class="task-view">{% trans "View task" %}</span>
	        </div>

        {{/link-to}}
    </li>

{% endtplhandlebars %}

