{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "taskActivity" %}
    <div class="wallposts-important">
        <h3>{% trans "Files" %}</h3>
        
        <div class="task-files">
            <ul>    
                {{#each files}}
                    <li>asdasd</li>
                    {{#if id}}
                        <li>
                            <span class="task-file-filename">
                                <span class="flaticon stroke document-1"></span> 
                                <a {{bindAttr href="this.file.url"}}>
                                    {{#if this.title}}
                                        {{this.title}}
                                    {{else}}
                                        {{this.file.name}}
                                    {{/if}}
                                </a>
                            </span>
                            <span class="task-file-author">by 
                                {{#link-to "viewProfile" author}}
                                    {{author.full_name}}
                                {{/link-to}}
                            </span> 
                            <span class="task-file-created">
                                {{localize created formatting="X"}}
                            </span>
                        </li>
                    {{/if}}
                {{/each}}
            <ul>
        </div>
        
        {{#if controllers.task.canUpload}}
        <span class="task-file-upload">
            <span class="flaticon solid plus-2"></span>
            <a {{action 'uploadFile' this}}>
                {% trans "Add file" %}
            </a>
        </span>
        {{/if}}

        {{#if members}}
        <h3>{% trans "Task members" %}</h3>
        <div class="task-pending-requests">
        {{#each members}}
            {{render "taskMember" this}}
        {{/each}}
        {{/if}}

    </div>
{% endtplhandlebars %}
