{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task_summary" %}

	{{#link-to "task" this}}
		<article class="task-preview">
			<div class="task-member-status">
				{{#if hasMembers}}
					<big>{{membersCount}}</big>
					<small>{% trans "Members" %}<br />{% trans "assigned" %}</small>
				{{else}}
					<big class="flaticon stroke work-1"></big>
					<small>{% trans "Task open to apply" %}</small>
				{{/if}}
			</div>
			<div class="task-content">
				<h6 class="task-title">{{title}}</h6>
				<div class="task-theme">{{skill.name}}</div>
				<div class="task-status"><span class="flaticon solid user-1"></span> {{status}}</div>
				<div class="task-time-needed"><span class="flaticon stroke time-1"></span> {{time_needed}} {% trans "Hour(s)" %}</div>
				<div class="task-deadline"><span class="flaticon stroke stopwatch-1"></span> {{localize deadline formatting="X"}}</div>
			</div>
			<div class="task-arrow">
				<span class="flaticon stroke right-2"></span>
			</div>
		</article>
	{{/link-to}}

{% endtplhandlebars %}