{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "task_edit" %}

     <div class="l-section">
        <section class="l-wrapper">
            <form class="l-content" id="task-form">
                <legend>
                    <strong>{% trans "Edit current task" %}</strong>
                </legend>

                <fieldset>
                    <ul>
                        {% bb_component 'bb-text-field' label=_('Title of your task') valueBinding='title' errors='errors.title' %}

                        <li class="control-group">
                            <label class="control-label" for="task-status">
                                {% trans "Status" %}
                            </label>

                            <div class="controls">
                                {{#view Em.RadioButtonGroup class="radio-select four" name="status" selectedValueBinding="status"}}
                                    <label for="status_open" class="radio">
                                        {{view view.RadioButton value="open" id="status_open"}}
                                        <span>{% trans "Open" %}</span>
                                    </label>
                                    <label for="status_in_progress" class="radio">
                                        {{view view.RadioButton value="in progress" id="status_in_progress"}}
                                        <span>{% trans "In progress" %}</span>
                                    </label>
                                    <label for="status_closed" class="radio">
                                        {{view view.RadioButton value="closed" id="status_closed"}}
                                        <span>{% trans "Closed" %}</span>
                                    </label>
                                    <label for="status_realised" class="radio">
                                        {{view view.RadioButton value="realized" id="status_realised"}}
                                        <span>{% trans "Completed" %}</span>
                                    </label>
                                {{/view}}
                            </div>

                            {{#if errors.status }}
                                <div class="has-errors">{{#each errors.status }}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        {% bb_component 'bb-text-area' label=_('Description') valueBinding='description' rows='5' errors='errors.description' placeholder=_('What do you need? Give a clear description of the task') %}

                        {% bb_component 'bb-text-area' label=_('Deliverable') valueBinding='end_goal' rows='3' errors='errors.end_goal' placeholder=_('What do you expect to have in the end?') %}

                        {% bb_component 'bb-text-field' label=_('People needed') valueBinding='people_needed' errors='errors.people_needed' type="'number'" %}

                        {% bb_component 'bb-datepicker' label=_('Deadline') minDate='0' maxDate="'12M'" valueBinding='deadline' errors='errors.deadline' %}

                        {% bb_component 'bb-text-field' label=_('Location') valueBinding='location' errors='errors.location' placeholder=_('Can this be done online or on location?') %}


                        <li class="control-group">
                            <label class="control-label" for="task-time-needed">
                                {% trans "Time needed (approximately)" %}
                            </label>

                            <div class="controls">
                                {{view App.TimeNeededSelectView valueBinding="time_needed" id="task-time-needed" name="task-time-needed" classBinding="errors.time_needed.length:error"}}
                            </div>

                            {{#if errors.time_needed }}
                                <div class="has-errors">{{#each time_needed.location }}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label" for="task-skill">
                                {% trans "Skill" %}
                            </label>

                            <div class="controls">
                              {{view App.SkillSelectView valueBinding="skill" id="task-skill" name="task-skill" classBinding="errors.skill.length:error"}}
                            </div>

                            {{#if errors.skill }}
                                <div class="has-errors">{{#each errors.skill }}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                    </ul>
                </fieldset>
                <fieldset>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">{% trans "Tags" %}</label>
                            <div class="controls">
                                {{view App.TagWidget tagsBinding="tags" classBinding="errors.tags.length:error"}}
                            </div>

                            {{#if errors.tags }}
                                <div class="has-errors">{{#each errors.tags }}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                    </ul>
                </fieldset>
                <button class="btn btn-primary btn-iconed btn-submit" type="submit"><span class="flaticon solid wrench-1"></span>{% trans "Save Task" %}</button>
                <button class="btn btn-cancel" {{action 'cancelChangesToTask' this}}><em class="flaticon stroke x-2"></em> {% trans "Cancel Changes" %}</button>
            </form>
        </section>
    </div>

{% endtplhandlebars %}

