{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task_member" %}

    <li class="activity-item">
        <figure class="user-avatar">
            <a {{action openInBigBox "userModal" member}}>
                <img {{bindAttr src="member.getAvatar" alt="member.full_name" }} />
            </a>
        </figure>
        <span class="activity-body">
            <a {{action openInBigBox "userModal" member}} class="user-name"><strong>{{member.full_name}}</strong></a> {{statusLabel}}
            
            <div class="activity-item-actions">
                {{#if canWithdraw }}
                    <a class="button" {{action 'withdrawTaskMember' this}}>
                        {% trans "Withdraw" %}
                    </a>
                {{/if}}

                {{#if isStatusApplied}}
                    {{#if canEditStatus }}
                        <a class="button" {{action 'editTaskMember' this}}>
                            {% trans "Accept" %}
                        </a>
                        <span class="activity-item-status">{% trans "Application pending..." %}</span>
                    {{/if}}
                {{else}}
                    {{#if confirmation }}
                         <a class="button" {{action 'confirmMember' this}}>
                            {% trans "Confirm" %}
                        </a>
                        <a class="button" {{action 'didNotComplete' this}}>
                            {% trans "Did not complete" %}
                        </a>
                    {{ else }}
                        {{#if canEditStatus}}
                            <a class="button" {{action 'editTaskMember' this}}>
                                {% trans "Edit status" %}
                            </a>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>

            {{#if motivation}}
            <p class=""><strong>{% trans "Motivation" %}:</strong> {{motivation}}</p>
            {{/if}}

            
        </span>
    </li>

{% endtplhandlebars %}
