{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task_member" %}

    <li class="activity-item">
        <figure class="user-avatar">
            <a {{action openInBigBox "userModal" member}} class="member">
                <img {{bindAttr src="member.getAvatar" alt="member.full_name" }} />
            </a>
        </figure>
        <span class="activity-body">
            <strong class="user-name">{{member.full_name}}</strong> <strong>{{statusLabel}}</strong><br />
            <div class="text">
                {{#if motivation}}
                    <strong>{% trans "Motivation" %}:</strong> {{motivation}}
                {{/if}}
            </div>

            {{#if canWithdraw }}
                <div class="wallpost-buttons">
                    <a class="btn wallpost-action-decline withdraw" {{action 'withdrawTaskMember' this}}>
                        {% trans "Withdraw" %}
                    </a>
                </div>
            {{/if}}


            {{#if isStatusApplied}}
                {{#if canEditStatus }}
                <div class="wallpost-buttons">
                    <a class="btn wallpost-action-accept" {{action 'editTaskMember' this}}>
                        {% trans "Accept" %}
                    </a>
                    <span class="status">{% trans "Application pending..." %}</span>
                </div>
                {{/if}}
            {{else}}
                <div class="wallpost-buttons">
                {{#if confirmation }}
                     <a class="btn wallpost-action-decline confirm" {{action 'confirmMember' this}}>
                        {% trans "Confirm" %}
                    </a>
                    <a class=" dnc" {{action 'didNotComplete' this}}>
                        {% trans "Did not complete" %}
                    </a>
                {{ else }}
                    {{#if canEditStatus}}
                        <a class="btn wallpost-action-decline" {{action 'editTaskMember' this}}>
                            {% trans "Edit status" %}
                        </a>
                    {{/if}}
                {{/if}}
                </div>
            {{/if}}
        </span>
    </li>

{% endtplhandlebars %}
