{% load i18n bb_ember static %}

{% tplhandlebars "task" %}
<div id="project-detail">
    <div id="project-detail-header" {{bindAttr class=":task-detail"}}>
        <div class="project-background">
            <div class="project-background-image" {{bindAttr style=backgroundStyle}}></div>
        </div>
        <section class="project-header l-wrapper">
            <article class="project-info">
                <div class="project-meta">
                    {{!-- <span class="project-location">{{country.name}}</span>
                    <span class="project-category">{{theme.name}}</span> --}}
                    {{#link-to 'project' project class="project-breadcrumb"}}
                        <span class="project-status">{{statusLabel}} {% trans "Task for" %} </span><span class="project-campaign">{{project.title}}</span>
                    {{/link-to}}
                </div>
                <h1 class="project-title">{{title}}</h1>
                <p class="project-description">
                    {{#if description}}
                        {{linebreaks description}}
                    {{/if}}

                    {{#if end_goal}}
                        <br/><strong>{% trans "Goal" %}:</strong> {{linebreaks end_goal}}
                    {{/if}}
                </p>
                <a class="project-more read-more">{% trans "Read more" %}</a>
            </article>
            <aside class="project-media">
                {{#if canEdit}}
                    <div class="project-owner-actions">
                        {{#link-to 'taskEdit' model}}
                            {% trans 'Edit Task' %}
                        {{/link-to}}
                    </div>
                {{/if}}
                <div class="project-share">
                    {{view App.SocialShareView}}
                </div>
                {{!-- {{#if video_html}}
                    <figure class="project-image">
                        <span {{bindAttr class="partner.id:"}}></span>
                        {{{ video_html }}}
                    </figure>
                {{else}}
                    <figure class="project-image">
                        <span {{bindAttr class="partner.id:"}}></span>
                        <img {{bindAttr src="image.large"}} width="100%" alt="Photo" />
                    </figure>
                {{/if}} --}}
                <ul class="task-meta">
                    <li class="task-location">{{ location }}</li>
                    <li class="task-time">{{ timeNeeded }}</li>
                    <li class="task-deadline">
                        {{#if deadline}}
                            {{#ifExpired deadline}}
                                {% trans "Deadline passed" %}
                            {{else}}
                                {{localize deadline formatting="X"}}
                            {{/ifExpired}}
                        {{else}}
                            {% trans "No deadline" %}
                        {{/if}}
                    </li>
                    <li class="task-users">
                        {{#if people_needed}}
                            {{#if moreThanOnePersonNeeded}}
                                {{people_needed}} {% trans "people needed" %}
                            {{else}}
                                {{people_needed}} {% trans "person needed" %}
                            {{/if}}
                            {{#if acceptedMemberCount}}
                                / {{acceptedMemberCount}}  {% trans "accepted" %}
                            {{/if}}
                        {{/if}}
                    </li>
                    {{!-- <li class="task-tags">{{ tags_list }}</li>
                    <li class="task-skill">{{ skill.name }}</li> --}}
                </ul>
            </aside>

        </section>

        {{!-- {{partial '_project_actions'}} --}}
        <section id="project-users">
            <div class="l-wrapper">
                <div class="project-initiator">
                    <a {{action 'openInBigBox' 'userModal' author }} class="user">
                        <figure class="user-avatar">
                            <img {{bind-attr src="author.getAvatar"}} />
                        </figure>
                        <span class="user-name">
                            <strong>{% trans "Task Initiator" %}</strong><br />
                            <em>{{author.full_name}}<br />{{author.organization}}</em>
                        </span>
                    </a>
                </div>
                
                <div class="project-action">
                    {{#if canEdit}}
                        {{#link-to 'taskEdit' model class="button button-big"}}
                            {% trans 'Edit task' %}
                        {{/link-to}}
                    {{else}}
                        {{#if isApplicable}}
                            {{#ifExpired deadline }}
                            <div class="project-closed">
                                <strong>{% trans "Task" %} {% trans "closed" %}</strong><br /> 
                                {{localize deadline formatting="X"}}
                            </div>
                            {{ else }}
                            <a {{action applyForTask this }} class="button button-big">
                                {% trans "Apply for task" %}
                            </a>
                            {{/ifExpired}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </section>
    </div>

    <div id="wall">
        <div class="l-wrapper">

            <section id="wallposts">
                {{partial 'wallposts'}}
            </section>

            <section id="sidebar">
                {{render 'taskActivity' model}}
            </section>
        </div>
    </div>
</div>

{% endtplhandlebars %}