{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "task_new" %}

    <div class="l-section">
        <section class="l-wrapper">
            <form class="l-content" id="task-form">
    		    <legend id=create-task-header>
    		        <strong>{% trans "Create new task" %}</strong>
                    {% trans "For campaign:" %} {{ project.title }}
    		    </legend>
	            <fieldset>
	                <ul>
                        {% bb_component 'bb-text-field' name='title' label=_('Title of your task') valueBinding='title' errors='errors.title' placeholder=_('Be creative! And eh&hellip; avoid the word "help') %}

                        {% bb_component 'bb-text-area' name='description' label=_('Description') valueBinding='description' rows='5' errors='errors.description' placeholder=_('What do you need? Give a clear description of the task') %}

                        {% bb_component 'bb-text-area' name='end_goal' label=_('Deliverable') valueBinding='end_goal' rows='3' errors='errors.end_goal' placeholder=_('What do you expect to have in the end?') %}

                        {% bb_component 'bb-text-field' name='people_needed' label=_('People needed') valueBinding='people_needed' errors='errors.people_needed' type='number' %}

                        {{# if project.deadline}}
                            {{!-- Only show datepicker after project deadline is fully loaded so we can set maxDate properly --}}
                            {% bb_component 'bb-date-picker' name='deadline' label=_('Deadline') placeholder=_('Date before which the task should be executed') hint=_('You can only pick a date before the deadline of the project') minDate='0' maxDate='project.deadline' valueBinding='deadline' errors='errors.deadline' %}
                        {{/if}}

                        {% bb_component 'bb-text-field' name='location' label=_('Location') valueBinding='location' errors='errors.location' placeholder=_('Can this be done online or on location?') %}

                        <li class="control-group">
                            <label class="control-label" for="task-time-needed">
                                {% trans "Time needed (approximately)" %}
                            </label>

                            <div class="controls">
                                {{view App.TimeNeededSelectView valueBinding="time_needed" id="task-time-needed" name="time-needed" classBinding="errors.time_needed.length:error"}}
                            </div>

                            {{#if errors.time_needed }}
                                <div class="has-errors">{{#each time_needed.location }}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label" for="task-skill">
                                {% trans "Skill" %}
                            </label>

                            <div class="controls">
                                {{view App.SkillSelectView valueBinding="skill" id="task-skill" name="skill" classBinding="errors.skill.length:error"}}
                            </div>

                            {{#if errors.skill }}
                                <div class="has-errors">{{#each errors.skill }}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                        <li class="control-group">
                            <label class="control-label">{% trans "Keywords" %}</label>
                            <div class="controls">
                                {{view App.TagWidget tagsBinding="tags" classBinding="errors.tags.length:error"}}
                            </div>

                            {{#if errors.tags }}
                                <div class="has-errors">{{#each errors.tags }}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                        {% block_verbatim 'extra_task_fields' %}
                        {% endblock_verbatim %}
	                </ul>
	            </fieldset>
				<button class="btn btn-primary btn-iconed btn-submit" type="submit"><span class="flaticon solid wrench-1"></span>{% trans "Create Task" %}</button>
        	</form>
        </section>
    </div>

{% endtplhandlebars %}

