{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task_member" %}

    <li class="activity-item">
        <figure class="user-avatar">
            <a {{action openInBigBox "userModal" member}} class="member">
                <img {{bindAttr src="member.getAvatar" alt="member.full_name" }} />
            </a>
        </figure>
        <span class="activity-body">
            <strong class="user-name">{{member.full_name}}</strong>
            {{statusLabel}}<br />
            <div class="text">
                {{#if motivation}}
                    <strong>{% trans "Motivation" %}:</strong> {{motivation}}
                {{/if}}
            </div>

            <div class="activity-item-action">
                {{#if canWithdraw }}
                    <a class="" {{action 'withdrawTaskMember' this}}>
                        {% trans "Withdraw" %}
                    </a>
                {{/if}}


                {{#if isStatusApplied}}
                    {{#if canEditStatus }}
                        <a class="" {{action 'editTaskMember' this}}>
                            {% trans "Accept" %}
                        </a>
                        <span class="status">{% trans "Application pending..." %}</span>
                    {{/if}}
                {{else}}
                    {{#if confirmation }}
                         <a class="" {{action 'confirmMember' this}}>
                            {% trans "Confirm" %}
                        </a>
                        <a class="" {{action 'didNotComplete' this}}>
                            {% trans "Did not complete" %}
                        </a>
                    {{ else }}
                        {{#if canEditStatus}}
                            <a class="" {{action 'editTaskMember' this}}>
                                {% trans "Edit status" %}
                            </a>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </span>
    </li>

{% endtplhandlebars %}
