{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task_member" %}

    <li class="activity-item">
        <figure class="user-avatar">
            <a {{action openInBigBox "userModal" member}}>
                <img {{bindAttr src="member.getAvatar" alt="member.full_name" }} />
            </a>
        </figure>
        <div class="item-body">
            <a {{action openInBigBox "userModal" member}} class="user-name">{{member.full_name}} {{#if externals }}(+{{externals}} externals) {{/if}}</a> {{statusLabel}} {% trans "this task" %}</strong>
            {{#if canEditStatus}}
                <a class="action-edit" {{action 'editTaskMember' this}}>
                    {% trans "Edit" %}
                </a>
            {{/if}}
            {{#if motivation}}
            <p><strong>{% trans "Motivation" %}:</strong> {{motivation}}</p>
            {{/if}}
            <div class="item-actions">
                {{#if canWithdraw }}
                    <a class="button button-cancel" {{action 'withdrawTaskMember' this}}>{% trans "Withdraw" %}</a>
                {{/if}}

                {{#if isStatusApplied}}
                    {{#if canEditStatus }}
                        {{!-- <p class="action-status">{{member.full_name}} {% trans "applied. Do you want to accept?" %}</p> --}}
                        <a class="button action-cancel" {{action 'declineMember' this}}>{% trans "Decline" %}</a>
                        <a class="button action-confirm" {{action 'acceptMember' this}}>{% trans "Accept" %}</a>
                    {{/if}}
                {{else}}
                    {{#if confirmation }}
                         {{!-- <p class="action-status">{{member.full_name}} {% trans "has said that the task is done. Please confirm." %}</p> --}}
                        <a class="button action-cancel" {{action 'didNotComplete' this}}>
                            {% trans "Not (yet) done" %}
                        </a>
                         <a class="button action-confirm" {{action 'confirmMember' this}}>
                            {% trans "Set task done" %}
                        </a>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </li>

{% endtplhandlebars %}
