{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "taskActivity" %}

    {{#if members}}
        <div id="task-user-list">
            <div class="activity">

                <header class="activity-header">
                    <h2 class="activity-title">{% trans "Task members" %}</h2>
                </header>

                <ul class="activity-list">
                    {{#each members}}
                        {{render "taskMember" this}}
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}

    {{#if files}}
    <div id="files-list">
        <div class="activity">

            <header class="activity-header">
                <h2 class="activity-title">{% trans "Files" %}</h2>
            </header>

            <ul class="activity-list">
                {{#each files}}
                    <li class="activity-item">
                        <a {{bindAttr href="this.file.url"}} class="item-link">
                            <strong class="item-title">
                                {{#if this.title}}
                                    {{this.title}}
                                {{else}}
                                    {{this.file.name}}
                                {{/if}}
                            </strong>
                            <span class="item-meta">
                                <span class="item-author">{{author.full_name}}</span>
                                <span class="item-created">{{localize created formatting="X"}}</span>
                            </span>
                            <span class="item-status file-download">{% trans "Download" %}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>

            {{#if controllers.task.canUpload}}
                <footer class="activity-footer">
                    <a {{action 'uploadFile' this}} class='activity-action' >
                        <strong>{% trans "Upload a new file" %} &raquo;</strong><br />
                        {% trans "Share documents of files with your supporters" %}
                    </a>
                </footer>
            {{/if}}
        </div>
    </div>
    {{else}}
        {{#if controllers.task.canUpload}}
            <div id="files-list">
                <div class="activity">

                    <header class="activity-header">
                        <h2 class="activity-title">{% trans "Files" %}</h2>
                    </header>
                    
                    <footer class="activity-footer">
                        <a {{action 'uploadFile' this}} class='activity-action' >
                            <strong>{% trans "Upload a new file" %} &raquo;</strong><br />
                            {% trans "Share documents of files with your supporters" %}
                        </a>
                    </footer>
                </div>
            </div>
        {{/if}}
    {{/if}}

{% endtplhandlebars %}
