{% load templatetag_handlebars %}
{% load i18n %}

{% tplhandlebars "news_item" %}

    <header class="l-page-header">
        <a {{action 'openInBigBox' 'userModal' author}} class="member">
            <figure class="member-avatar"><img {{ bindAttr src="author.getAvatar" }} alt="Avatar"></figure>
            <strong class="member-name">{{ author.full_name }}</strong>
            <em class="timestamp">{{ localize publicationDate formatting="X" }}</em>
        </a>
        <h1 class="page-title">{{ title}}</h1>
    </header>

    <div class="news-content">
        {{{ body }}}
    </div>

{% endtplhandlebars %}