{% load bb_ember %}
{% load i18n %}


{% tplhandlebars "news" %}

    <div class="l-section" id="news">
        <section class="l-wrapper">

            <article class="l-content">
                {{outlet}}
            </article>

            <sidebar class="l-sidebar page-nav">

                <h3>{% trans "More news" %}</h3>
                <ul>
                    {{#each model}}
                        <li>
                            <a {{action 'showNews' this.id}} class="blog-navigation-item">
                                <strong class="blog-title">{{title}}</strong> <em class="blog-timestamp">{{localize publicationDate formatting="X"}}</em>
                            </a>
                        </li>
                    {{/each}}
                </ul>

                <div class="page-pagination">
                    {{#if controller.hasPrevious}}
                        <a {{action 'previousNews'}} class="page-pagination-previous">
                            <span class="flaticon solid left-circle-2"></span>
                            {% trans "previous 5" %}
                        </a>
                    {{/if}}
                    {{#if controller.hasNext}}
                        <a {{action 'nextNews'}} class="page-pagination-next">
                            {% trans "next 5" %}
                            <span class="flaticon solid right-circle-2"></span>
                        </a>
                    {{/if}}
                </div>

            </sidebar>
        </section>
    </div>

{% endtplhandlebars %}

