{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "components/bb-media-wallpost-new" %}
    <div class="wallpost-update">
        <header class="wallpost-update-header">
            <strong class="wallpost-update-title">{% trans "Write an update" %}</strong>

                <ul class="wallpost-header-action">
                    <li>
                        <a class="action-add-video" data-action-type="show-video-input">
                            {% trans "Add an video" %}
                        </a>
                    </li>
                    <li>
                        <a class="action-add-photo" data-action-type="show-photo-upload">
                            {% trans "Add photos" %}
                        </a>
                    </li>
                </ul>
            </header>
            <div class="wallpost-update-form">
                {{#if wallpost.errors.text }}
                    <div class="errors">{{#each wallpost.errors.text }}<p class="error">{{this}}</p>{{/each}}</div>
                {{/if}}

                {{view Ember.TextArea valueBinding="wallpost.text" name="wallpost-update" class="wallpost-update-post"
                        classBinding="wallpost.errors.text.length:error" placeholderBinding="translatables.shareText"}}
    
                <div class="wallpost-photos">
                    {{bb-upload-multiple-images uploadFilesBinding="wallpostFiles" multiple="multiple"
                        removeFile="removeFile" addFile="addFile" accept="image/*"}}
                </div>
    
                <div class="wallpost-video">
                    {{input valueBinding="wallpost.video_url" placeholderBinding="translatables.videoText" id="wallpost-video"
                    name="wallpost-video" classBinding="wallpost.errors.video_url.length:error"}}
                </div>
            </div>
        <footer class="wallpost-update-footer">
            <div class="wallpost-update-actions">
                <button class="button action-cancel" {{action 'clearForm'}}>{% trans "Cancel" %}</button>
                <button class="button action-submit" {{action 'saveWallpost'}}>{% trans "Post" %}</button>
            </div>
        </footer>
    </div>

{% endtplhandlebars %}
