{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "components/bb-modal-text-wallpost-new" %}
    <div class="wallpost-form">
        <div class="wallpost-message">
            <div class="wallpost-header">
                <div class="row">
                    <div class="col9 wallpost-header-title">
                        <strong>{{formTitle}}</strong>
                    </div>
                    <div class="col3 wallpost-header-count">
                        <span class="count-words">{{textLength}}</span>
                         /
                        <span class="total-words">{{textLengthMax}}</span>
                    </div>
                </div>
            </div>
            <div class="wallpost-message-area">
                {{view Ember.TextArea valueBinding="wallpost.text" cols="50" rows="4" maxlengthBinding="textLengthMax" name="wallpost-update" classBinding="errors.text.length:error :wallpost-textarea" placeholder="Your comment"}}
            </div>
        </div>

        <div class="wallpost-buttons">
            <div class="row">
                <div class="col12">
                    <div class="btn-group">
                        <button class="btn is-inactive" {{action 'closeModal'}}>{% trans "No, thanks" %}</button>
                        <button {{bind-attr class="isSaving:is-loading :btn"}} {{action 'addWallpost'}}>{% trans "Leave Message" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#if error }}
        <div class="modal-flash-message error">
            {{wallpost.error}}
        </div>
    {{/if}}
{% endtplhandlebars %}

