{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "components/bb-system-wallpost" %}

    <article class="m-wallpost">

        <header class="wallpost-header">
            <figure class="user-avatar">
                {{#if author}}
                    <img {{bindAttr src="wallpost.author.getAvatar" alt="wallpost.author.full_name"}} />
                {{else}}
                    <img src="{% get_static_prefix %}/images/default-avatar.png" alt="someone"/>
                {{/if}}

            </figure>

            {{#if wallpost.author}}
                <a {{action openInBigBox "userModal" wallpost.author}} class="user-name">
                    <strong>{{wallpost.author.full_name}}</strong>
                </a> {% trans "made a donation" %}
            {{else}}
                <strong>{% trans "Someone" %}</strong> {% trans "made a donation" %}
            {{/if}}

            <abbr class="timestamp">{{ localize wallpost.created formatting="X" }}</abbr>

            {{#if isAuthor}}
                <div class="owner-actions">
                    <ul>
                        <li><a href="#" {{action "deleteReaction" wallpost}} class="delete">Delete</a></li>
                    </ul>
                </div>
            {{/if}}
        </header>

        <div class="wallpost-body">
        </div>

        <ul class="comments">
            {{bb-wallpost-comment-list comments=post.reactions wallpost=wallpost currentUser=currentUser
            addWallpostComment='addWallpostComment' removeWallpostComment='removeWallpostComment'}}
        </ul>

    </article>

{% endtplhandlebars %}
