{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "components/bb-system-wallpost" %}

	<article class="m-wallpost m-wallpost-system">

        <header class="wallpost-header">
            <figure class="user-avatar">
                {{#if wallpost.author}}
                    <img {{bindAttr src="wallpost.author.getAvatar" alt="wallpost.author.full_name"}} />
                {{else}}
                    <img src="{% get_static_prefix %}/images/default-avatar.png" alt="Guest"/>
                {{/if}}

            </figure>

            {{#if wallpost.author}}
                <a {{action openInBigBox "userModal" wallpost.author}} class="user-name">
                    <strong>{{wallpost.author.full_name}}</strong>
                </a> {% trans "made a donation" %}
            {{else}}
            <strong>{% trans "Guest" %}</strong> {% trans "made a donation" %}
            {{/if}}

            <abbr class="timestamp">{{ localize wallpost.created formatting="X" }}</abbr>
        </header>

        <ul class="comments">
            {{bb-wallpost-comment-list comments=post.reactions wallpost=wallpost currentUser=currentUser
            addWallpostComment='addWallpostComment' removeWallpostComment='removeWallpostComment'}}
        </ul>

    </article>

{% endtplhandlebars %}
