{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "components/bb-wallpost-comment-list" %}

    {{#if comments.length}}
        <ul class="comments">
            {{#each comment in comments}}
                {{bb-wallpost-comment comment=comment currentUser=currentUser removeWallpostComment='removeWallpostComment'}}
            {{/each}}
        </ul>
    {{/if}}

    {{#if currentUser.isAuthenticated }}
    <footer class="comment-footer">
        <form class="m-comment-form">
            <fieldset {{bindAttr class="newReaction.errors.text.length:error"}}>
                {{#each newReaction.errors.text}}
                    <label class="error">{{this}}</label>
                {{/each}}
                {{view "Em.TextArea" placeholderBinding=newReaction.placeholder valueBinding=newComment.text name="reaction" class="comment-input"}}
                <footer class="comment-form-footer">
                    <div class="comment-form-actions">
                        <button class="button action-cancel" {{action 'clearForm' target='view'}}>{% trans "Cancel" %}</button>
                        <button class="button action-submit" {{action 'addWallpostComment'}}>{% trans "Post" %}</button>
                    </div>
                </footer>
            </fieldset>
        </form>
    </footer>
    {{/if}}

{% endtplhandlebars %}
