{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "components/bb-wallpost" %}

	<article class="m-wallpost">

	    <header class="wallpost-header">
	        <figure class="user-avatar">
	        	<img {{bindAttr src="post.author.getAvatar" alt="post.author.full_name"}} />
	        </figure>

	        <a {{action openInBigBox "userModal" post.author}} class="user-name">
	            <strong>{{post.author.full_name}}</strong>
	        </a>

	        <abbr class="timestamp">{{ localize post.created formatting="X" }}</abbr>
			
			{{#if isAuthor}}
	        <ul class="owner-actions">
                <li class="actions-dropdown"><em>Actions</em>
                    <ul>
                    {{!-- <li><a href="#" {{ action "editWallPost" this target="view" }} class="action-edit">{% trans "Edit" %}</a></li> --}}
                        <li><a href="#" {{ action "deleteWallPost" this target="view" }} class="action-delete">{% trans "Delete" %}</a></li>
                    </ul>
                </li>
            </ul>
	        {{/if}}
	    </header>

	    <div class="wallpost-body">
	    	{{#if post.title}}<p><strong>{{post.title}}{{/if}}</strong></p>
	    	{{{post.text}}}
	        
			{{#if post.video_html}}
			    <div class="video">{{{post.video_html}}}</div>
			{{/if}}
			
	        {{#if post.photos.length}}
	            <ul class="photo-viewer">
					<li class="cover">
						<a {{bindAttr href="post.coverPhoto.photo.full"}} title="photo">
							<img {{bindAttr src="post.coverPhoto.photo.full"}}>
						</a>
					</li>
					{{#each photo in post.otherPhotos}}
	                    <li class="photo">
							<a {{bindAttr href="photo.photo.full"}} title="photo">
								<img {{bindAttr src="photo.photo.small"}} alt="Photo" />
							</a>
						</li>
	                {{/each}}
	            </ul>
	        {{/if}}
	    </div>
		
	
	    <ul class="comments">
	        {{render "wallPostReactionList" post.reactions}}
	    </ul>
	 

	</article>

{% endtplhandlebars %}
