{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "components/bb-wallpost" %}

    <article class="m-wallpost">

        <header class="wallpost-header">
            <figure {{action "showProfile" wallpost.author}} class="user-avatar">
                <img {{bindAttr src="wallpost.author.getAvatar" alt="wallpost.author.full_name"}} />
            </figure>

            <a {{action "showProfile" wallpost.author}} class="user-name">
                <strong>{{wallpost.author.full_name}}</strong>
            </a>

            <abbr class="timestamp">{{ localize wallpost.created formatting="X" }}</abbr>

            {{#if isAuthor}}
                <ul class="owner-actions">
                    <li class="actions-dropdown"><strong>Actions</strong>
                        <ul>
                            <li><a href="#" {{action "removeWallpost" wallpost}} class="action-delete">{% trans "Delete" %}</a></li>
                        </ul>
                    </li>
                </ul>
            {{/if}}
        </header>

        <div class="wallpost-body">
            {{#if wallpost.title}}
                <p><strong>{{wallpost.title}}</strong></p>
            {{/if}}
            {{{wallpost.text}}}
            {{#if wallpost.video_html}}
                <div class="video">{{{wallpost.video_html}}}</div>
            {{/if}}

            {{#if wallpost.photos.length}}
                <ul class="photo-viewer">
                    <li class="cover">
                        <a {{bindAttr href="wallpost.coverPhoto.photo.full"}} title="photo">
                            <img {{bindAttr src="wallpost.coverPhoto.photo.full"}}>
                        </a>
                    </li>
                    {{#each photo in wallpost.otherPhotos}}
                        <li class="photo">
                            <a {{bindAttr href="photo.photo.full"}} title="photo">
                                <img {{bindAttr src="photo.photo.small"}} alt="Photo"/>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>


        <ul class="comments">
            {{bb-wallpost-comment-list comments=wallpost.reactions wallpost=wallpost currentUser=currentUser
            addWallpostComment='addWallpostComment' removeWallpostComment='removeWallpostComment' showProfile='showProfile'}}
        </ul>


    </article>

{% endtplhandlebars %}
