{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "home_project_list" %}

    <div class="l-section home-projects">
        <section class="l-wrapper">

            <div class="project-slider l-full">

	        	<header class="section-header">
	            	<h1>{% trans "Choose your project" %}</h1>
					<p>{% trans "Support it with your time, knowledge or money and receive real-time updates." %}</p>
	        	</header>

                <div class="project-preview">

                    <figure class="project-image">
                        <img {{bindAttr src="project.image.large" }} width="100%" alt="Project Photo" />
                    </figure>

                    <article class="project-info">
                        <div class="project-meta">
		                    <span class="project-location">
                                <span class="flaticon solid location-pin-1"></span>
                                {{project.country.name}}
                            </span>
		                    <span class="project-theme">
                                <span class="flaticon solid tag-1"></span>
                                {{project.theme.name}}
                            </span>
		                </div>

                        <h2 class="project-title">
                            {{#linkTo 'project' project.id }}
                                {{project.title}}
                            {{/linkTo}}
                        </h2>
                        <p class="project-description">{{project.pitch}}</p>

                        <div class="project-action">
                            {{#link-to 'project' project class="btn btn-primary btn-iconed"}}
                                <span class="flaticon solid wallet-1"></span> {% trans "View project" %}
                            {{/link-to}}
                        </div>
                    </article>

                </div>

                <span {{action previousProject}} class="project-slider-prev">{% trans "Previous project" %}</span>
                <span {{action nextProject}} class="project-slider-next">{% trans "Next project" %}</span>

            </div>
        </section>
    </div>

{% endtplhandlebars %}

