{% load bb_ember i18n static %}


{% tplhandlebars "_donation_amount" %}
    <div {{bindAttr class=":modal-fullscreen-content"}}>
        <span {{action 'closeModal'}} class="modal-fullscreen-close"></span>
        <h4>{% blocktrans %}Thank you for supporting this project!{% endblocktrans %}</h4>
        <big>{% blocktrans %}Select or enter the amount you would like to donate{% endblocktrans %}</big>
        <div class="row donation-amount">
            <div class="col4 input">
                <form>
                    {{input valueBinding="amount" classBinding=":donation-input errorList.amount.length:error" placeholder=defaultAmount}}
                </form>
            </div>
            <div class="col8">
                <div class="row donation-buttons">
                    {{#each amount in defaultAmounts}}
                        <div class="col4"><a {{action 'changeAmount' amount}} class="btn-donate first">&euro; {{amount}},-</a></div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col12">
                <a {{ action 'nextStep' }} {{bindAttr class=":btn :donate-btn validAmount::is-inactive"}} name="donate">{% trans "Donate now" %}</a>
            </div>
        </div>
        {{ partial "_donation_errors" }}
    </div>

    <div class="modal-fullscreen-footer">
        <div class="modal-hide-name">
            <label for="hideMyName" class="modal-checkbox">
                {{input type="checkbox" checkedBinding="anonymous" id="hideMyName"}}
                <span></span>
                {% trans "Hide my name for this donation"%}
            </label>
        </div>
    </div>
{% endtplhandlebars %}

